Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}-ct${CT_VERSION}-unittest${HELM_UNITTEST_VERSION}-kubeconform${KUBECONFORM_VERSION}-yamllint${YAMLLINT_VERSION}-mdlint${MARKDOWNLINT_VERSION}
  tags:
  - saas-linux-medium-amd64
  ...

chart-test:
  stage: lint
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}-ct${CT_VERSION}-unittest${HELM_UNITTEST_VERSION}-kubeconform${KUBECONFORM_VERSION}-yamllint${YAMLLINT_VERSION}-mdlint${MARKDOWNLINT_VERSION}
  tags:
  - saas-linux-medium-amd64
  ...

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}-ct${CT_VERSION}-unittest${HELM_UNITTEST_VERSION}-kubeconform${KUBECONFORM_VERSION}-yamllint${YAMLLINT_VERSION}-mdlint${MARKDOWNLINT_VERSION}
  tags:
  - saas-linux-large-amd64
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy${HAPROXY_VERSION}-docker${DOCKER_VERSION}-kind${KIND_VERSION}-ct${CT_VERSION}-unittest${HELM_UNITTEST_VERSION}-kubeconform${KUBECONFORM_VERSION}-yamllint${YAMLLINT_VERSION}-mdlint${MARKDOWNLINT_VERSION}
  tags:
  ...

compile:
  stage: build
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}-ct${CT_VERSION}-unittest${HELM_UNITTEST_VERSION}-kubeconform${KUBECONFORM_VERSION}-yamllint${YAMLLINT_VERSION}-mdlint${MARKDOWNLINT_VERSION}
  tags:
  - saas-linux-2xlarge-amd64
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

pages-preview:
  stage: deploy
  image: ${CI_REGISTRY_IMAGE}/ci/python-docs:latest
  tags:
  - saas-linux-small-amd64
  needs:
  - job: build-python-docs
    optional: true
  script:
  - '# Clone pages repo to get deployment script and existing content
  
  ...

feat(logging): replace numeric verbose levels with named string levels
  charts/haptic/README.md
  charts/haptic/crds/haproxy-template-ic.gitlab.io_haproxytemplateconfigs.yaml
  charts/haptic/templates/deployment.yaml
  charts/haptic/values-dev.yaml
  charts/haptic/values.yaml
  cmd/controller/run.go
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/crd-validation-design.md
  docs/controller/docs/development/design/configuration.md
  docs/controller/docs/development/design/design-decisions.md
  docs/controller/docs/operations/high-availability.md
  docs/controller/docs/troubleshooting.md
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/commentator/commentator.go
  pkg/controller/configchange/handler.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/converter_test.go
  pkg/controller/discovery/component.go
  pkg/controller/statecache.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/validator/integration_test.go
  pkg/core/config/defaults.go
  pkg/core/config/defaults_test.go
  pkg/core/config/loader_test.go
  pkg/core/config/types.go
  pkg/core/config/types_test.go
  pkg/core/config/validator.go
  pkg/core/config/validator_test.go
  pkg/core/logging/logging.go
  pkg/core/logging/logging_test.go
  scripts/dev-env-assets/dev-values.yaml
  tests/acceptance/fixtures.go
Due: audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

refactor: rename controller binary to haptic-controller
  .gitlab-ci.yml
  Dockerfile
  Makefile
  charts/CLAUDE.md
  charts/haptic/templates/deployment.yaml
  cmd/controller/CLAUDE.md
  cmd/controller/main.go
  docs/controller/docs/operations/performance.md
  pkg/templating/CLAUDE.md
  scripts/release-controller.sh
  scripts/test-benchmark.sh
  scripts/test-templates.sh
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: update documentation URLs from GitHub to GitLab Pages
  README.md
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

refactor: migrate API group domain to haproxy-haptic.org
  .gitlab-ci.yml
  Makefile
  README.md
  charts/CLAUDE.md
  charts/haptic/README.md
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/mkdocs.yml
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/values.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/crd-validation-design.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/docs/operations/security.md
  docs/controller/docs/validation-tests.md
  docs/controller/mkdocs.yml
  docs/landing/docs/index.md
  docs/landing/mkdocs.yml
  docs/landing/overrides/home.html
  pkg/apis/haproxytemplate/v1alpha1/doc.go
  pkg/apis/haproxytemplate/v1alpha1/register.go
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/configloader/loader.go
  pkg/controller/configloader/loader_test.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter_test.go
  pkg/controller/conversion/crd.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/haproxytemplate_client.go
  pkg/generated/informers/externalversions/generic.go
  pkg/k8s/configpublisher/publisher.go
  tests/acceptance/constants.go
  tests/acceptance/env.go
  tests/acceptance/fixtures.go
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

test: add container log capture on integration test failure
  .gitlab-ci.yml
  docs/controller/docs/development/releasing.md
  docs/development/releasing.md
  scripts/release-chart.sh
  scripts/release-controller.sh
  tests/integration/env.go
  tests/integration/haproxy.go
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

ci: add Kind control plane log collection on test failure
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

refactor: separate changelogs for controller and chart
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  docs/development/releasing.md
  scripts/release-chart.sh
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: disable Dataplane API file watcher to prevent race condition
  charts/haptic/templates/haproxy-deployment.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  tests/integration/haproxy.go
Due: audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

docs: add changelog links to MkDocs navigation
  .gitlab-ci.yml
  CHANGELOG.md
  CLAUDE.md
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/changelog.md
  charts/haptic/mkdocs.yml
  docs/controller/docs/changelog.md
  docs/controller/mkdocs.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

release: haptic-controller v0.1.0-alpha.1
  CHANGELOG.md
  VERSION
  charts/haptic/Chart.yaml
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

fix(tests): enable admin-level master socket for HAProxy reload
  tests/CLAUDE.md
  tests/integration/haproxy.go
  tests/integration/sync_observability_test.go
  tests/integration/testdata/traces/with-traces.cfg
Due: audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

ci: extract image references into reusable variables
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): use trigger/pipeline endpoint for CI_JOB_TOKEN authentication
  .gitlab-ci.yml
  charts/haptic/Chart.yaml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): use trigger/pipeline endpoint with form token for CI_JOB_TOKEN
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: Use curl --fail-with-body in CI for better diagnostics
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): add goreleaser and cosign to CI image, fix release pipeline
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): use CI image for release-chart job and fix goreleaser config
  .gitlab-ci.yml
  .goreleaser.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency sigstore/cosign to v2.6.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

feat(watcher): add OnSyncComplete callback for eventual consistency
  .gitlab-ci.yml
  charts/haptic/templates/haproxy-deployment.yaml
  pkg/controller/controller.go
  pkg/controller/credentialsloader/loader.go
  pkg/controller/credentialsloader/loader_test.go
  pkg/controller/testutil/testutil.go
  pkg/core/config/secret.go
  pkg/core/config/secret_test.go
  pkg/k8s/types/types.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/single_test.go
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): use /tmp for release notes and fix cosign chart signing
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency goreleaser/goreleaser to v2.13.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: infrastructure server persistence and CI release improvements
  .gitlab-ci.yml
  .goreleaser.yml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/converter_test.go
  pkg/controller/validator/integration_test.go
  pkg/core/config/defaults.go
  pkg/core/config/defaults_test.go
  pkg/core/config/loader_test.go
  pkg/core/config/types.go
  pkg/core/config/types_test.go
  pkg/core/config/validator.go
  pkg/core/config/validator_test.go
  pkg/introspection/registry.go
  tests/acceptance/CLAUDE.md
  tests/acceptance/fixtures.go
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: CI release jobs failing due to Pro-only goreleaser config and cosign auth
  .gitlab-ci.yml
  .goreleaser.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency sigstore/cosign to v3
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: simplify controller release tags from haptic-controller-v* to v*
  .gitlab-ci.yml
  .goreleaser.yml
  docs/controller/docs/development/releasing.md
  docs/development/releasing.md
  scripts/release-controller.sh
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

feat(ci): consolidate build pipeline with goreleaser snapshot
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  charts/haptic/CHANGELOG.md
  scripts/start-dev-env.sh
  versions.env
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): update cosign configuration for v3 bundle format
  .goreleaser.yml
  docs/development/releasing.md
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

fix(ci): remove duplicate artifact upload and fix release notes extraction
  .gitlab-ci.yml
  .goreleaser.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): add syft for SBOM generation and simplify release notes extraction
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(ci): add syft for SBOM generation and simplify release notes extraction
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: add crane to CI image and use digests for cosign
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix: use buildx imagetools to get image digests
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

fix(changelog): Set the correct date for release 0.1.0-alpha.1
  CHANGELOG.md
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

fix(ci): enable --release-notes flag by removing changelog.disable
  .goreleaser.yml
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

docs(changelog): move Helm chart features to chart changelog
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

fix(ci): update goreleaser release project name to haptic
  .goreleaser.yml
Due: audit, test, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance

fix(docs): correct Helm chart OCI URL and version format
  .gitlab-ci.yml
  README.md
  charts/haptic/README.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/landing/overrides/home.html
Due: build-ci, build-python-docs, audit, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, test-integration-coverage, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration-coverage: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
