Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

ci: prep-spoa-plugins fires on every main push (lockstep with image-main)
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(spoa-hub): bundle mirror plugin v0.2.0 (configurable worker threads + pool cap)
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(gateway): HTTPS mirror scheme detection + dynamic mirror message count
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module google.golang.org/grpc to v1.81.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): skip_reload=true on aux-file UPDATEs
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  pkg/dataplane/client/storage_general.go
  pkg/dataplane/client/storage_general_test.go
  pkg/dataplane/client/storage_helpers.go
  pkg/dataplane/client/storage_maps.go
  pkg/dataplane/client/storage_maps_test.go
  pkg/dataplane/client/storage_ssl.go
  pkg/dataplane/client/storage_ssl_test.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_auxiliary.go
  pkg/dataplane/orchestrator_execution.go
  tests/integration/sync_auxiliary_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(spoa-hub): bundle mirror plugin v0.2.1 (auto-sized request_concurrency)
  CHANGELOG.md
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(spoa-hub): plugin metrics across the bundle
  CHANGELOG.md
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(chart): CHANGELOG entry for SPOA plugin metrics rollout
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(renovate): allow inline notes in versions-spoa.env entries
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: floor job to prevent empty-pipeline MRs from blocking merges
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test: chart-CHANGELOG-only edit to verify floor job fires on docs-only MR
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: widen .rules-code .md globs + drop broken floor job
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: unconditional .rules-code match on MR events
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: inject MR-event match per-job (sidestep nested !reference rules)
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(conformance): wire upstream Ingress conformance suite + chart fixes
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile.ingress-conformance-test
  Makefile
  README.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  scripts/dev-env-assets/dev-values.yaml
  tests/conformance/ingress_conformance_test.go
  tests/conformance/patches/0001-convergence-retry-mechanism.patch
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: chart CHANGELOG for SPOA metrics + ADR-0009 aux-file skip_reload
  .gitlab-ci.yml
  charts/haptic/CHANGELOG.md
  docs/adr/0009-aux-file-skip-reload.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: drop dead-end per-job MR-event injections from !961
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(renderer): propagate IndexBy into production StoreWrapper (root cause for #45 flakes)
  pkg/controller/renderer/service.go
  pkg/controller/renderer/service_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: capture spoa-hub sidecar logs in conformance + e2e failure artifacts
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci+chart: enable hub metrics_addr by default + scrape it on conformance failures
  .gitlab-ci.yml
  charts/haptic/libraries/spoa-hub.yaml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chart: surface spoaHub.hub.metricsAddr in values.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-host spec.defaultBackend fallthrough for rules+default Ingresses
  CHANGELOG.md
  charts/haptic/libraries/ingress.yaml
  tests/conformance/ingress_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency boumenot/gocover-cobertura to v1.5.0
  .gitlab/ci/images/ci/Dockerfile
Due: none

chart: render metrics_addr in spoa-hub bootstrap ConfigMap too
  charts/haptic/templates/spoa-hub-configmap.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: robust /metrics scrape — try curl/wget/bash-tcp fallback chain
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: add events.log + per-namespace pod descriptions to failure artifacts
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: also capture events.log + pod-describe in ingress-conformance after_script
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: pre-load echoserver image into kind cluster before ingress-conformance
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

refactor(chart): extract shared helpers across template libraries
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/40-maps-host.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/_pod-spec.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/grafana-dashboard.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-scaledobject.yaml
  charts/haptic/templates/podmonitor.yaml
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/templates/serviceaccount.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module github.com/oapi-codegen/runtime to v1.4.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(templating): typed-dig filters digstr/digint/digbool
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/40-maps-host.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  pkg/templating/README.md
  pkg/templating/filter_names.go
  pkg/templating/filters_navigation.go
  pkg/templating/filters_navigation_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "ci: pre-load echoserver image into kind cluster before ingress-conformance"
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: pre-warm echoserver via kubectl run (avoid kind-import checkpoint bug)
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(ci): mirror upstream ingress-conformance echoserver to our registry
  .gitlab-ci.yml
  tests/conformance/patches/0002-use-mirrored-echoserver-image.patch
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci+chart: conformance failure diagnostics (split from !963)
  .gitlab-ci.yml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/values.yaml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(dataplane): serialise same-parent ops to avoid HAProxy 3.0 race
  CHANGELOG.md
  charts/haptic/libraries/nginx-ingress.yaml
  pkg/controller/deployer/deployment.go
  pkg/dataplane/comparator/compare_features.go
  pkg/dataplane/comparator/compare_indexed_items_test.go
  pkg/dataplane/comparator/compare_named_maps_test.go
  pkg/dataplane/comparator/compare_rules.go
  pkg/dataplane/comparator/compare_rules_test.go
  pkg/dataplane/comparator/mock_operation_test.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/operations_generic.go
  pkg/dataplane/orchestrator_test.go
  pkg/dataplane/synchronizer/synchronizer.go
  pkg/dataplane/synchronizer/synchronizer_test.go
  tests/e2e/fixtures.go
  tests/e2e/wait_controller_view.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: synthetic-credentials reinit + spoa-hub mirror message-slot floor (closes #46, #47)
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/handler_test.go
  pkg/controller/configchange/status_updater.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
