Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(dataplane): verify reload before deleting orphan aux files
  pkg/dataplane/orchestrator_execution.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(webhook): wire pluggable validator dispatch into admission path
  pkg/controller/dryrunvalidator/CLAUDE.md
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/dryrunvalidator/pluggable_test.go
  pkg/controller/iteration.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/proposalvalidator/component_test.go
  pkg/controller/renderer/service.go
  pkg/controller/webhook.go
  pkg/controller/webhook/README.md
  pkg/controller/webhook/component.go
  pkg/controller/webhook/component_test.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
  pkg/webhook/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to bab2ed3
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): broken Coraza modsecurity-snippet rejected by webhook
  charts/haptic/libraries/nginx-ingress.yaml
  scripts/dev-env-assets/dev-values.yaml
  tests/e2e/CLAUDE.md
  tests/e2e/fixtures.go
  tests/e2e/ingress_coraza_snippet_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): use __ separator in coraza filename to avoid collisions
  charts/haptic/libraries/nginx-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(adr): SPOA hub config is rendered by HAPTIC, hot-reloaded by the hub
  docs/adr/0007-spoa-hub-config-rendered-by-haptic.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): SPOA hub config delivered via shared emptyDir, not configmap
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/rendercontext/store_wrapper_snapshot_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): controller renders SPOA hub config.toml + e2e modsecurity-snippet enforcement
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
  scripts/dev-env-assets/dev-values.yaml
  tests/e2e/ingress_modsecurity_snippet_test.go
  tests/e2e/spoa_hub_helpers.go
  tests/e2e/spoa_hub_reload_test.go
  versions-spoa.env
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): admission webhook denies broken modsecurity-snippet
  charts/haptic/templates/deployment.yaml
  docs/controller/docs/operations/spoa-hub.md
  scripts/dev-env-assets/dev-values.yaml
  tests/e2e/fixtures.go
  tests/e2e/ingress_modsecurity_snippet_validator_test.go
  versions-spoa.env
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(values): auto-enable coraza when nginx-ingress is on
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
  docs/adr/0007-spoa-hub-config-rendered-by-haptic.md
  scripts/dev-env-assets/dev-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(haproxy-ingress): wire /waf and /waf-mode annotations through coraza
  .gitlab-ci.yml
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  scripts/dev-env-assets/dev-values.yaml
  scripts/test-helm-defaults.sh
  tests/e2e/ingress_haproxy_ingress_waf_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci(test-helm-defaults): use per-pipeline spoa-hub snapshot, not main-latest
  .gitlab-ci.yml
  scripts/test-helm-defaults.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chart(coraza): per-app WAF instances, no rule bleed across Ingresses
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): move map-coraza-app to spoa-hub.yaml; reword CHANGELOG; add CLAUDE.md guideline
  CLAUDE.md
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): map-coraza-app rendering + CHANGELOG/CLAUDE.md cleanup (followup to !906)
  CLAUDE.md
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  docs/controller/docs/operations/spoa-hub.md
  tests/e2e/ingress_modsecurity_snippet_wildcard_host_test.go
  versions-spoa.env
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chart: bump SPOA_HUB_VERSION to v0.5.3
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): parallelise TestMain setup, fan out fixtures, add heartbeat
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(coraza): default-on dispatch mode with per-Ingress opt-out
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): capture full status-code distribution in rate-limit burst
  tests/e2e/ingress_rate_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update linting tools to v2.12.2
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.6
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): key per-resource feature maps by <ns>/<name>, not <host><path>
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  tests/e2e/feature_helpers.go
  tests/e2e/fixtures.go
  tests/e2e/ingress_auth_url_keying_test.go
  tests/e2e/ingress_haproxy_ingress_waf_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): make haproxy-ingress.github.io/path-type annotation actually route
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  tests/e2e/ingress_auth_url_keying_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire upstream Gateway API conformance suite + GatewayClass status reconciliation
  Makefile
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/templates/haproxy-service.yaml
  go.mod
  go.sum
  pkg/controller/statusapplier/component.go
  pkg/templating/status_patch.go
  pkg/templating/status_patch_key_test.go
  pkg/templating/status_patch_test.go
  scripts/start-dev-env.sh
  tests/conformance/gateway_conformance_test.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(e2e+chart): MetalLB + LoadBalancer for Gateway addresses; honor allowedRoutes.kinds
  .gitlab-ci.yml
  charts/haptic/libraries/gateway.yaml
  tests/e2e/main_test.go
  tests/e2e/metallb.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): listener ResolvedRefs=False/InvalidCertificateRef for bad TLS certs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-listener attached-route counting honors hostname/namespace/kinds filters
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-parent HTTPRoute Accepted condition reflects listener attachment
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): listener Programmed reflects ResolvedRefs status
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): mirror spec.parentRefs[].namespace into HTTPRoute status exactly
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): InvalidCertificateRef detects malformed PEM data
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): HTTPRoute rules with all-invalid backendRefs return HTTP 500
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): routes without spec.hostnames inherit attached listener hostnames
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Gateway HTTPS listener with no hostname promotes its cert as the chart's TLS default
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): ReferenceGrant gating for cross-namespace Gateway certificateRefs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): ReferenceGrant gating for cross-namespace HTTPRoute backendRefs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Gateway/HTTPRoute status patches fire on render, not just deploy
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(conformance): clarify the SupportedFeatures policy and core-feature gating
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
