Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

feat(chart): omit empty access-log fields, and name the timing fields for their unit
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/rolling_restart_instrumentation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): buffer request bodies by default; stop mirroring breaking gRPC
  CHANGELOG.md
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/haptic-annotations/32-canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/tests/rewrite-affinity.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  pkg/controller/validator/validationtests.go
  pkg/controller/validator/validationtests_test.go
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): WAF detect mode must not block gRPC streaming
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): surface access-log records dropped on the vector socket
  CHANGELOG.md
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  tests/e2e/constants.go
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/vector_sidecar_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 21743bb
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module dario.cat/mergo to v1.0.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): HAProxy-native trace context, and log-derived OTLP spans from vector (!1437)
  CHANGELOG.md
  CLAUDE.md
  charts/haptic/charts/gateway/20-route-analysis.yaml
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e)!: collapse the per-vendor shards into one all-vendor profile (!1441)
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/charts/haproxytech/library.yaml
  scripts/dev-env-assets/e2e-values.yaml
  tests/e2e/feature_helpers.go
  tests/e2e/ingress_annotations_table_test.go
  tests/e2e/ingress_auth_url_keying_test.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart)!: remove the otel SPOA plugin, superseded by native trace context (!1443)
  CHANGELOG.md
  Dockerfile.spoa-hub
  charts/haptic/Chart.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/values.yaml
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  scripts/prep-spoa-plugins.sh
  scripts/render-spoa-bundle.sh
  scripts/smoke-spoa-image.sh
  scripts/test-templates.sh
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): reject a body-inspecting WAF policy on a gRPC backend
  CHANGELOG.md
  CLAUDE.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: validation-tests CR, upgrade gates, codegen repair (!1446)
  CLAUDE.md
  Makefile
  charts/haptic/crds/haproxy-haptic.org_haproxyvalidationtests.yaml
  hack/update-codegen.sh
  pkg/apis/haproxytemplate/v1alpha1/doc.go
  pkg/apis/haproxytemplate/v1alpha1/register.go
  pkg/apis/haproxytemplate/v1alpha1/types_validationtests.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/fake/fake_haproxytemplate_client.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/fake/fake_haproxyvalidationtests.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/generated_expansion.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/haproxytemplate_client.go
  pkg/generated/clientset/versioned/typed/haproxytemplate/v1alpha1/haproxyvalidationtests.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/generic.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxycrtlistfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxygeneralfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxymapfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxytemplateconfig.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxyvalidationtests.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/interface.go
  pkg/generated/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/generated/listers/haproxytemplate/v1alpha1/expansion_generated.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxycfg.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxycrtlistfile.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxygeneralfile.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxymapfile.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxytemplateconfig.go
  pkg/generated/listers/haproxytemplate/v1alpha1/haproxyvalidationtests.go
  scripts/test-chart-upgrade.sh
  scripts/test-install-without-gateway-api.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): PROXY protocol bind ports for HAProxy behind an L4 balancer (!1445)
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/tests/proxy-protocol_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  scripts/test-templates.sh
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(webhook): admit a config against the tests it will be loaded with
  pkg/controller/webhook.go
  pkg/controller/webhook/configvalidator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(api): select validation tests and require them to exist
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(config): union validation tests from multiple sources
  pkg/core/config/union.go
  pkg/core/config/union_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: share one validation-test union across all three consumers
  cmd/controller/validate.go
  pkg/controller/config.go
  pkg/controller/conversion/union.go
  pkg/controller/conversion/union_test.go
  pkg/controller/validationtests.go
  pkg/controller/validationtests_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): run validation tests carried by HAProxyValidationTests
  charts/haptic/templates/clusterrole.yaml
  pkg/controller/config.go
  pkg/controller/configloader/loader.go
  pkg/controller/configloader/loader_test.go
  pkg/controller/controller.go
  pkg/controller/iteration.go
  pkg/controller/validationtests.go
  pkg/controller/validationtests_test.go
  pkg/core/config/union.go
  pkg/core/config/union_test.go
  pkg/k8s/client/client.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(validate): refuse tests objects instead of silently skipping them
  cmd/controller/validate.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): measure both config kinds against a stated fraction of the limit
  scripts/check-cr-size.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(changelog): record the HAProxyValidationTests companion object
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(controller): record where validation tests come from and why order matters
  pkg/controller/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test: fail if the chart routes a webhook kind with no Go handler
  Makefile
  scripts/check-webhook-kinds.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart)!: one config object again, with tests in a companion object
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/haproxyvalidationtests.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/tests/default-ssl-certificate_test.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/tests/validation-tests-object_test.yaml
  charts/haptic/tests/vector_values_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency anchore/syft to v1.50.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: pass the companion tests object to every offline consumer
  cmd/controller/validate.go
  scripts/gen-playground-assets.sh
  scripts/test-benchmark.sh
  scripts/test-helm-defaults.sh
  scripts/test-templates.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): let kubeconform skip HAProxyValidationTests like HAPTIC's other CRDs
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: one validation-test union shared by the load gate, validate and admission (!1447)
  CHANGELOG.md
  Makefile
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/templates/clusterrole.yaml
  cmd/controller/validate.go
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/CLAUDE.md
  pkg/controller/config.go
  pkg/controller/configloader/loader.go
  pkg/controller/configloader/loader_test.go
  pkg/controller/controller.go
  pkg/controller/conversion/union.go
  pkg/controller/conversion/union_test.go
  pkg/controller/iteration.go
  pkg/controller/validationtests.go
  pkg/controller/validationtests_test.go
  pkg/controller/webhook.go
  pkg/controller/webhook/configvalidator.go
  pkg/k8s/client/client.go
  scripts/check-cr-size.py
  scripts/check-webhook-kinds.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart)!: one config object again, with validationTests in a companion object (!1450)
  Makefile
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/haproxyvalidationtests.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/tests/default-ssl-certificate_test.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/tests/validation-tests-object_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  cmd/controller/validate.go
  scripts/gen-playground-assets.sh
  scripts/test-benchmark.sh
  scripts/test-helm-defaults.sh
  scripts/test-templates.sh
  tests/e2e/config_shape_test.go
  tests/e2e/config_split_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): make the upgrade from a released chart actually complete
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/crd-upgrade-hook.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/haproxyvalidationtests.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/tests/companion-tests-gate_test.yaml
  cmd/controller/applycrds.go
  pkg/webhook/server.go
  pkg/webhook/types.go
  scripts/test-chart-upgrade.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Prove upgrades recover a broken fleet, and actually run the guards in CI
  .gitlab-ci.yml
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/_webhook.tpl
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/templates/webhook-certificate.yaml
  docs/site/docs/ssl-certificates.md
  scripts/dev-env-assets/dev-values.yaml
  scripts/lib/cluster.sh
  scripts/start-dev-env.sh
  scripts/test-chart-upgrade.sh
  scripts/test-helm-defaults.sh
  scripts/test-install-without-gateway-api.sh
  tests/e2e/webhook_certs.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Fix mis-anchored trace spans, emit a span tree, and stop crediting the SPOA hub
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/values.yaml
  docs/site/docs/operations/pluggable-validators.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix the upstream trace span ending at the response headers instead of the last byte
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  scripts/test-vector-spans.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module google.golang.org/grpc to v1.83.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

End trace spans at the exact transaction end, not request+Ta
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  scripts/test-vector-spans.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.4.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Name trace spans by the matched route, and measure the upstream span over the upstream leg
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  docs/site/docs/reference.md
  scripts/test-chart-upgrade.sh
  scripts/test-templates.sh
  scripts/test-vector-spans.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): stop the vector-restart assess wiping other tests' access log
  tests/e2e/vector_sidecar_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: read the Gateway API release from go.mod, accept "maxmind" in vale
  Makefile
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  scripts/check-gwapi-version-pins.sh
  scripts/start-dev-env.sh
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency playwright to v1.62.1
  scripts/visual-qa/package-lock.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
