Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

feat(chart): add RBAC for auxiliary file CRDs
  charts/haptic/templates/clusterrole.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: graceful shutdown errors during pod termination
  CHANGELOG.md
  pkg/controller/controller.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(docker): override STOPSIGNAL to SIGTERM for graceful shutdown
  Dockerfile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): restart HAProxy pods when credentials secret changes
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(watcher): implement client-side field selector filtering
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/conversion/converter.go
  pkg/controller/resourcewatcher/watcher.go
  pkg/controller/validator/jsonpath.go
  pkg/core/config/types.go
  pkg/k8s/indexer/fieldselector.go
  pkg/k8s/indexer/fieldselector_test.go
  pkg/k8s/types/types.go
  pkg/k8s/watcher/watcher.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): add RBAC for auxiliary file CRD status subresources
  charts/haptic/templates/clusterrole.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(events): suppress late subscription warning for scatter-gather
  pkg/events/bus.go
  pkg/events/request.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(auth): match official HAProxy Ingress Controller auth behavior
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Fix compression threshold default
  CHANGELOG.md
  pkg/controller/configpublisher/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): add HAProxy memory limit from container requests
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): HAProxy memory limit and version consistency
  CLAUDE.md
  Dockerfile
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/values.yaml
  versions.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): HAProxy memory limit and auto GOMAXPROCS for dataplane
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: parallel dataplane operations with correct priority ordering
  CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  pkg/controller/discovery/component.go
  pkg/controller/discovery/component_test.go
  pkg/dataplane/client/adapter.go
  pkg/dataplane/comparator/comparator_test.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/comparator/sections/factory_ee_test.go
  pkg/dataplane/comparator/sections/factory_test.go
  pkg/dataplane/comparator/sections/operations_generic.go
  pkg/dataplane/comparator/sections/testing_helpers_test.go
  pkg/dataplane/synchronizer/synchronizer.go
  pkg/dataplane/synchronizer/synchronizer_test.go
  scripts/start-dev-env.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): improve dataplane socket readiness and GOMAXPROCS tuning
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add maxParallel config option for dataplane API operations
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/core/config/types.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/synchronizer/policy.go
  pkg/dataplane/synchronizer/synchronizer.go
  pkg/dataplane/synchronizer/synchronizer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: regenerate CRD for maxParallel field
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add rawPushThreshold config option for dataplane sync
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  examples/basic-sync/main.go
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/core/config/defaults.go
  pkg/core/config/types.go
  pkg/dataplane/README.md
  pkg/dataplane/client/config.go
  pkg/dataplane/client/config_test.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/result.go
  pkg/dataplane/result_test.go
  tests/integration/sync_common_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add rawPushThreshold and fix basic auth performance
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/libraries/haproxytech.yaml
  docs/controller/docs/operations/performance.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(testrunner): add deterministic assertion for template validation
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/runner.go
  pkg/core/config/types.go
  pkg/dataplane/comparator/compare_security.go
  pkg/dataplane/comparator/compare_security_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): prevent pod restarts on chart version changes
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(deployer): add config hash caching to skip unchanged deployments
  pkg/controller/deployer/scheduler.go
  pkg/controller/events/types.go
  pkg/controller/reconciler/reconciler.go
  pkg/k8s/types/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ingress): use TCP-only health checks instead of HTTP
  charts/haptic/libraries/ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(configpublisher): reconcile stale pod entries on pod discovery
  pkg/controller/configpublisher/component.go
  pkg/dataplane/orchestrator.go
  pkg/k8s/configpublisher/publisher.go
  pkg/k8s/configpublisher/publisher_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(configpublisher): batch auxiliary file cleanup to avoid rate limiting
  pkg/k8s/configpublisher/publisher.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: reduce unnecessary HAProxy reloads
  pkg/dataplane/comparator/diff.go
  pkg/dataplane/comparator/diff_test.go
  pkg/dataplane/orchestrator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): optimize server updates for runtime API
  charts/CLAUDE.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  docs/controller/docs/templating.md
  pkg/dataplane/CLAUDE.md
  pkg/dataplane/auxiliaryfiles/generic.go
  pkg/dataplane/comparator/sections/executors/named_child.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/orchestrator.go
  scripts/test-helm-defaults.sh
  scripts/test-routes.sh
  tests/integration/testdata/servers/disabled-dummy.cfg
  tests/integration/testdata/servers/enabled-dummy.cfg
  tests/integration/testdata/servers/enabled-real.cfg
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(dataplane): reverse SSL certificate issuer order to match API
  pkg/dataplane/auxiliaryfiles/generic.go
  pkg/dataplane/auxiliaryfiles/ssl.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): ignore kubectl last-applied-configuration annotation
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf: reduce controller memory usage by ~1.6GB
  pkg/compression/compression.go
  pkg/templating/postprocessor_regex.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): sort SSL certificate issuers for deterministic comparison
  pkg/dataplane/auxiliaryfiles/auxiliaryfiles_test.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/client/storage_ssl.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): use single quotes in JSONPath watchedResourcesIgnoreFields
  charts/haptic/values.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/troubleshooting.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(logging): demote high-volume store wrapper logs to TRACE level
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/renderer/store_wrapper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): add haproxy.dataplane.validateConfig to skip redundant server-side validation
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
  pkg/k8s/watcher/debouncer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(logging): add operation breakdown to reconciliation log
  pkg/controller/commentator/commentator.go
  pkg/controller/deployer/component.go
  pkg/controller/events/deployment.go
  pkg/controller/events/publishing.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/result.go
  tests/integration/sync_auxiliary_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(dataplane): use general file storage for CRT-lists to reduce reloads
  pkg/controller/renderer/component_test.go
  pkg/dataplane/auxiliaryfiles/crtlist.go
  pkg/dataplane/auxiliaryfiles/integration_test.go
  pkg/dataplane/paths.go
  pkg/dataplane/paths_test.go
  pkg/templating/filters_test.go
  tests/integration/auxiliaryfiles_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(templating): add password hash validation for auth secrets
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(dataplane): prevent conflicting file deletions between CRT-lists and general files
  pkg/dataplane/auxiliaryfiles/crtlist.go
  pkg/dataplane/orchestrator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(commentator): demote no-op deployment logs to DEBUG level
  pkg/controller/commentator/commentator.go
  pkg/controller/commentator/commentator_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(observability): add queue wait timing and event drop metrics
  pkg/controller/commentator/commentator.go
  pkg/controller/controller.go
  pkg/controller/metrics/metrics.go
  pkg/events/bus.go
  pkg/metrics/helpers.go
  pkg/metrics/helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(events): eliminate event drops with typed subscriptions and lossy mode
  pkg/controller/buffers/buffers.go
  pkg/controller/buffers/buffers_test.go
  pkg/controller/certloader/loader.go
  pkg/controller/commentator/commentator.go
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/status_updater.go
  pkg/controller/configloader/loader.go
  pkg/controller/configpublisher/component.go
  pkg/controller/credentialsloader/loader.go
  pkg/controller/debug/events.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/drift_monitor.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/discovery/component.go
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/executor/executor.go
  pkg/controller/httpstore/component.go
  pkg/controller/indextracker/tracker.go
  pkg/controller/metrics/component.go
  pkg/controller/metrics/metrics.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/renderer/component.go
  pkg/controller/statecache.go
  pkg/controller/validator/base.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/webhook/basicvalidator.go
  pkg/dataplane/orchestrator.go
  pkg/events/bus.go
  pkg/events/bus_test.go
  pkg/events/request.go
  pkg/events/typed.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
