Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

chart(gateway): block mtls-broken listeners from binding
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: declarative spec.k8sResources replaces renderResource()
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/templates/haproxy-service.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/helpers/templating.go
  pkg/controller/reconciliation.go
  pkg/controller/renderer/service.go
  pkg/controller/resourceapplier/README.md
  pkg/controller/resourceapplier/component.go
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
  pkg/controller/webhook.go
  pkg/core/config/types.go
  pkg/templating/filter_names.go
  pkg/templating/filters_resource.go
  pkg/templating/filters_scriggo.go
  pkg/templating/rendered_resource.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: complete k8sResources plan items missed in earlier commit
  charts/CLAUDE.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/libraries/base.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/design.md
  pkg/controller/reconciliation.go
  pkg/templating/CLAUDE.md
  pkg/templating/README.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test: pin GatewayHTTPListenerIsolation conformance shape, unskip
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: HUG-style multi-owner SSA for Gateway listener ports on haptic-haproxy
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
  tests/conformance/gateway_conformance_test.go
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): bind HAProxy on literal Gateway well-known ports (80/443)
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): dynamic NodePort plumbing for non-default listener ports
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): echo CORS allowMethods wildcard instead of expanding
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): triage TLSRoute + Frontend mTLS unskip attempt
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(haproxy-service): unify default + extra ports into a single list
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): https-bind-extra extension point for non-default HTTPS Gateway listener ports
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): per-listener-port host_match fallback
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart: derive HAProxy frontend / bind directives from listener state
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): TLS-mode-default + wildcard SNI + valid fixture certs
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): cross-namespace backendRef endpoint lookup
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: pin status-side fix for InvalidCACertificateValidation
  charts/haptic/libraries/gateway.yaml
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): emit catch-all marker into misdirected listener-claim map
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): fold per-listener cert-ref resolution into top-level LS status
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): separate TLS-listener bind decisions from HTTPS path
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(gateway): close ListenerSetHostnameConflict / ProtocolConflict
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): index listenersets by [namespace, name], not parentRef.name
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(ssl): fold default-validation CA + verify into default crt-list line
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): enforce listener.allowedRoutes.namespaces, unskip 2 LS tests
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): per-port mode-tcp frontends for Gateway TLS listeners
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): correct GatewayInfrastructure skip rationale
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): pin TLSRouteListenerMixedTerminationNotSupported, unskip
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): unskip 3 TLSRoute tests; consolidate rationale
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(changelog): note TLSRoute mixed-termination + backend client cert fixes
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(changelog): note frontend client-cert validation fix
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): pin GatewayBackendClientCertificateFeature shape, unskip
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(gateway): pin Terminate-mode TLSRoute per-port frontend shape
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(changelog): note ListenerSet conflict fixes
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(gateway): pin reject-default contract for invalid-backend TLSRoute
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(grpc): pin TLS+ALPN-h2 path; document upstream h2c skip rationale
  CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
  tests/e2e/gateway_fixtures.go
  tests/e2e/grpc_tls_test.go
  tests/e2e/grpcclient/client.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): per-IP Service emission for spec.addresses; close GatewayStaticAddresses
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): document why BackendTLSPolicySANValidation is genuinely blocked
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(libraries): split-library directory convention (ADR-0008)
  charts/CLAUDE.md
  charts/haptic/templates/_libraries.tpl
  docs/adr/0008-split-library-directory-convention.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs(changelog): note TLSRoute frontend separation + 3 unskips
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(base): h2c+h1 multiplexing on plain HTTP via tcp-inspect + dual loopback
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): chart-static-bind gate for TLS frontend; close last TLSRoute test
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
