Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Follow up on paced reloads instead of waiting for the drift backstop
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/handle_pending_reload_followup_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/events/deployment.go
  tests/e2e/haproxy_json_access_log_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Hold new renders while the fleet's paced reloads are pending
  pkg/controller/deployer/handle_pending_reload_followup_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Never lead, or keep leading, on an epoch the fleet outranks
  pkg/controller/controller.go
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/stack_test.go
  pkg/controller/leaderelection/component.go
  pkg/controller/leaderelection/epoch.go
  pkg/controller/leaderelection/epoch_claim_test.go
  pkg/controller/leaderelection/epoch_test.go
  pkg/controller/leaderelection/term.go
  pkg/controller/reconciliation.go
  pkg/dataplane/agent/agenttest/agent.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Retain the plans of every pod that answered, not only the ones that ACKed
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/handle_endpoint_success_test.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/apply.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Send the plan blob whenever the apply moves the pod's applied plan
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Key the shared diff on the pending deletes and the inventory's content
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/diff_memo.go
  pkg/dataplane/agent/agenttest/agent.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Render admission with the fleet's capabilities, not this image's
  pkg/controller/currentfiles_admission_test.go
  pkg/controller/reconciliation.go
  pkg/controller/renderer/capabilities.go
  pkg/controller/renderer/capabilities_test.go
  pkg/controller/webhook.go
  pkg/controller/webhook_capabilities_test.go
  pkg/dataplane/agent/agenttest/agent.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Budget the in-place batch out of the first op chunk
  pkg/controller/deployer/apply_test.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/diff_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Describe the deploy path as it is, and log the agent in one format
  cmd/haptic/agent.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/controller/discovery/component.go
  pkg/controller/discovery/credentials_authority_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Return one struct from the epoch-claim test harness
  pkg/controller/leaderelection/epoch_claim_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Release held renders just before the pending reload fires, not after
  pkg/controller/deployer/handle_pending_reload_followup_test.go
  pkg/controller/deployer/scheduler_handlers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Send haproxy.cfg only when the pod does not hold it, so an unchanged render is a noop
  pkg/controller/deployer/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Correct the coverage-combined rationale comments
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Gate the agent's duration ceiling and haproxy.agent keys at render time
  CHANGELOG.md
  charts/haptic/templates/_controller.tpl
  charts/haptic/tests/agent_values_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Fix the reloadVerificationTimeout rows and the tuning advice around them
  docs/site/docs/crd-reference.md
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Print the agent's state URL in the dev-env summary
  scripts/start-dev-env.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Point the Gateway API benchmark at haproxy.agent.resources
  scripts/bench-gateway-api.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Say the integration suites build the haptic binary themselves
  Makefile
  tests/integration/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Point HAProxyAgentInvariantViolated at the agent's state endpoint
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/tests/prometheusrule_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Sync the metrics package catalogue with metrics.go
  pkg/controller/metrics/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Merge branch 'fix/0.3a-chart-docs' into cutover/0.3a
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Say how many status reasons were dropped when the list is capped; ADR-0011 status follows the agent
  docs/adr/0011-no-haproxy-server-state-file.md
  docs/site/docs/crd-reference.md
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment_results.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Add haptic diff, which answers whether a change reloads HAProxy
  CHANGELOG.md
  cmd/haptic/diff.go
  cmd/haptic/diff_output.go
  cmd/haptic/diff_pod.go
  cmd/haptic/diff_test.go
  cmd/haptic/main.go
  cmd/haptic/plan_differential_test.go
  cmd/haptic/shared.go
  cmd/haptic/testdata/diff/backend-body-changed.yaml
  cmd/haptic/testdata/diff/base.yaml
  cmd/haptic/testdata/diff/map-entry-changed.yaml
  cmd/haptic/validate.go
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/validate-before-deploy.md
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/plan_cache.go
  pkg/controller/deployer/plan_cache_test.go
  pkg/controller/testrunner/runner.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/inventory.go
  pkg/dataplane/deployplan/inventory_test.go
  pkg/dataplane/planblob/planblob.go
  pkg/dataplane/planblob/planblob_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Add haptic agent state, the runbook's read of one pod
  CHANGELOG.md
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/tests/prometheusrule_test.yaml
  cmd/haptic/agent.go
  cmd/haptic/agent_state.go
  cmd/haptic/agent_state_test.go
  docs/site/docs/development/agent.md
  docs/site/docs/operations/debugging.md
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Name the worker's plan after an in-place batch; read set server addr by its words
  docs/site/docs/development/agent.md
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/plan_cache.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/program.go
  pkg/dataplane/agent/cli/response.go
  pkg/dataplane/agent/haproxytest/haproxy.go
  pkg/dataplane/agent/haproxytest/proxies.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/transaction.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/inplace_test.go
  pkg/dataplane/deployplan/plans_test.go
  tests/agent/runtime_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep sub-second precision on scheduled_at
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

A runtime apply moves the worker to the applied plan
  pkg/controller/deployer/apply_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Publish a render's deployed status when a later deployment observes the fleet running it
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/convergence.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/events/deployment.go
  pkg/controller/events/types.go
  pkg/controller/metrics/component.go
  pkg/controller/statusapplier/README.md
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  pkg/dataplane/agent/agenttest/agent.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Take the rolling-restart failure snapshot off the probe loop
  tests/e2e/ingress_rolling_restart_test.go
  tests/e2e/rolling_restart_instrumentation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Never hold a render behind a pending reload; run the in-place subset when the pod paces one
  docs/site/docs/development/agent.md
  pkg/controller/deployer/handle_pending_reload_followup_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/transaction.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/inplace_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Refuse an in-place batch composed against a worker the pod no longer has, before writing
  docs/site/docs/development/agent.md
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/harness_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Debounce watched-resource changes for 100ms by default (MR 0b)
  .yamllint.yml
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/values.yaml
  docs/site/docs/crd-reference.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
  docs/site/docs/watching-resources.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/CLAUDE.md
  pkg/controller/configchange/handler.go
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/reconciler/README.md
  pkg/controller/reconciler/reconciler.go
  pkg/controller/resourcewatcher/README.md
  pkg/controller/resourcewatcher/watcher.go
  pkg/controller/testutil/README.md
  pkg/core/CLAUDE.md
  pkg/k8s/CLAUDE.md
  pkg/k8s/README.md
  pkg/k8s/types/README.md
  pkg/k8s/types/types.go
  pkg/k8s/watcher/README.md
  scripts/bench-gateway-api.sh
  scripts/dev-env-assets/dev-values.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Elide redundant per-pod status re-stamps on auxiliary-file CRs (#163)
  CHANGELOG.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/configpublisher/workers.go
  pkg/k8s/configpublisher/aux_stamp_cache.go
  pkg/k8s/configpublisher/auxiliary_cleanup.go
  pkg/k8s/configpublisher/auxiliary_files.go
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/deployment_status_stamp_elision_test.go
  pkg/k8s/configpublisher/pod_cleanup.go
  pkg/k8s/configpublisher/publisher.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Authenticate the pages-preview clone to dodge unauthenticated rate-limit 403s
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Move ingress per-route logic into maps, add the custom-CRD author contract (MR 1b)
  CHANGELOG.md
  Makefile
  charts/haptic/Chart.yaml
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/custom-crd-example/Chart.yaml
  charts/haptic/charts/custom-crd-example/library.yaml
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/20-backend-directives.yaml
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-directives.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  charts/haptic/charts/haptic-annotations/tests/rewrite-affinity.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/values.yaml
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/reload-free.md
  docs/site/docs/reference.md
  docs/site/docs/supported-configuration.md
  docs/site/mkdocs.yml
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Make the chart-size gate deterministic and key it to realistic installs
  Makefile
  scripts/check-chart-release-size.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
