Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(deps): update module golang.org/x/tools to v0.48.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 4c83f75
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 56aee41
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go module directive to v1.26.5
  go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(playground): per-file line numbers in the maps/files output
  cmd/playground/web/index.html
Due: none

fix(ci): trigger-pages waits for build-playground-wasm
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(playground): per-entry line numbers in the status/applied output
  cmd/playground/web/index.html
Due: none

test(conformance): cut minDeploymentInterval 1s→250ms to fix ObservedGeneration flake (#75)
  scripts/dev-env-assets/conformance-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: interactive playground embeds across the docs + landing CTA
  CHANGELOG.md
  charts/haptic/mkdocs.yml
  cmd/playground/web/index.html
  docs/controller/docs/getting-started.md
  docs/controller/docs/migrating.md
  docs/controller/docs/templating.md
  docs/controller/mkdocs.yml
  docs/landing/docs/stylesheets/extra.css
  docs/landing/mkdocs.yml
  docs/landing/overrides/home.html
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

test(e2e): retry Gateway API CRD install against transient GitHub 5xx
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/vuln to v1.6.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(docs): playground embed polish — stuck button, minimal example, mobile, new-tab
  cmd/playground/web/index.html
  docs/controller/docs/getting-started.md
  docs/landing/docs/stylesheets/extra.css
  docs/landing/overrides/home.html
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(playground): pure-Scriggo mode for template learning exercises
  cmd/playground/web/index.html
  docs/controller/docs/templating.md
  docs/shared/playground-embed.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(playground): 'extend' preset makes the landing X-Request-ID demo runnable
  cmd/playground/web/index.html
  cmd/playground/web/presets/extend.snippet.yaml
  docs/agents/playground-hosting.md
  docs/landing/overrides/home.html
  scripts/gen-playground-assets.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(charts): correct the extension-point variable-passing table
  charts/CLAUDE.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(playground): highlight HAProxy in template blocks + embed maximize buttons
  cmd/playground/web/editor.js
  cmd/playground/web/index.html
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: none

fix(deps): update module helm.sh/helm/v4 to v4.2.3
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: interactive playground embeds + a sort_by challenge across the docs
  charts/haptic/docs/annotations.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/docs/template-libraries.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/supported-configuration.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

docs: advanced challenges + interactive library explore-prompts
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/nginx-ingress.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: convert static examples into interactive embeds (wave 1: templating, crd, watching)
  docs/controller/docs/crd-reference.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(chart): make template-library examples interactive (wave 2)
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/docs/template-libraries.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

feat(playground): run validationTests in the browser via a tests tab
  CHANGELOG.md
  cmd/playground/main.go
  cmd/playground/web/index.html
  cmd/playground/web/playground.worker.js
  docs/controller/docs/validation-tests.md
  docs/shared/playground-embed.js
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: proper facade highlighting + typed access in interactive doc examples
  docs/controller/docs/getting-started.md
  docs/controller/docs/templating.md
  docs/controller/docs/validation-tests.md
  docs/controller/docs/watching-resources.md
  docs/shared/playground-embed.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: interactive-example pedagogy, task UX, editor-matched highlighting, preset placeholders + typed-access guidance
  CLAUDE.md
  Makefile
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/docs/template-libraries.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
  pkg/templating/CLAUDE.md
  scripts/check-highlight-grammar.mjs
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

docs: normalize validation-tests 'Try it' callout (drop doubled label)
  docs/controller/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(playground): one Lezer grammar for the editor and docs facade
  Makefile
  cmd/playground/web/editor.js
  cmd/playground/web/highlight/build.mjs
  cmd/playground/web/highlight/config-highlight.bundle.js
  cmd/playground/web/highlight/haproxy-tokens.js
  cmd/playground/web/highlight/haproxy.grammar
  cmd/playground/web/highlight/haproxy.js
  cmd/playground/web/highlight/haproxy.terms.js
  cmd/playground/web/highlight/highlight.js
  cmd/playground/web/highlight/map-tokens.js
  cmd/playground/web/highlight/map.grammar
  cmd/playground/web/highlight/map.js
  cmd/playground/web/highlight/map.terms.js
  cmd/playground/web/highlight/package.json
  cmd/playground/web/highlight/scriggo-tokens.js
  cmd/playground/web/highlight/scriggo.grammar
  cmd/playground/web/highlight/scriggo.js
  cmd/playground/web/highlight/scriggo.terms.js
  cmd/playground/web/highlight/test.mjs
  cmd/playground/web/index.html
  cmd/playground/web/vendor/README.md
  cmd/playground/web/vendor/codemirror.js
  docs/shared/config-highlight.bundle.js
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
  scripts/build-playground.sh
  scripts/check-highlight-bundle.mjs
  scripts/check-highlight-grammar.mjs
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(landing): one Documentation card for the merged /docs/ site
  docs/landing/overrides/home.html
Due: none

docs: unify voice across the merged site (feel like one doc)
  docs/site/docs/configuration.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/networking.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/security.md
  docs/site/docs/operations/troubleshooting.md
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/troubleshooting.md
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: consolidate duplicated content across the merged site
  docs/site/docs/configuration.md
  docs/site/docs/operations/troubleshooting.md
  docs/site/docs/troubleshooting.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update k8s.io/kube-openapi digest to cdb1db5
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/oapi-codegen/v2 to v2.7.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(embeds): give the running playground real space (breakout + close)
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: none

docs(embeds): non-destructive solution compare (side-by-side diff)
  cmd/playground/web/editor.js
  cmd/playground/web/index.html
  cmd/playground/web/vendor/README.md
  cmd/playground/web/vendor/codemirror.js
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(embeds): one design system for the interactive examples
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
Due: none

docs: fix findings from the follow-up quality/coherence review
  docs/site/docs/annotations.md
  docs/site/docs/development/crd-validation-design.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/considerations.md
  docs/site/docs/development/design/design-decisions.md
  docs/site/docs/development/design/leader-election.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/development/releasing.md
  docs/site/docs/getting-started.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  docs/site/docs/template-libraries.md
  docs/site/docs/templating.md
  docs/site/docs/watching-resources.md
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: page-polish pass — theme-native mermaid, table code wrapping, validation-claim sweep, broken-diagram repair
  docs/site/docs/development/design.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/deployment.md
  docs/site/docs/development/design/introspection.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/getting-started.md
  docs/site/docs/stylesheets/extra.css
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: re-indent list continuations for Python-Markdown (4 spaces)
  docs/site/docs/development/design.md
  docs/site/docs/development/design/design-decisions.md
  docs/site/docs/development/gateway-api-upgrade-playbook.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/supported-configuration.md
  docs/site/docs/troubleshooting.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
