Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Make the agent pass its docker suite on HAProxy 3.0 and 3.4
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/inventory.go
  pkg/dataplane/agent/client/client_test.go
  pkg/dataplane/agent/files/device_linux.go
  pkg/dataplane/agent/files/device_other.go
  pkg/dataplane/agent/files/files_test.go
  pkg/dataplane/agent/files/mountinfo.go
  pkg/dataplane/agent/files/mountinfo_test.go
  pkg/dataplane/agent/files/store.go
  pkg/dataplane/agent/haproxytest/files.go
  pkg/dataplane/agent/haproxytest/haproxy.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/faultsim_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/transaction.go
  tests/agent/apply_test.go
  tests/agent/config.go
  tests/agent/env.go
  tests/agent/runtime_test.go
  tests/agent/session.go
  tests/agent/tls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Bound the agent's reload wait with a flag the chart can set
  cmd/haptic/agent.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Chart: the dataplane container becomes the HAPTIC agent container
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/_image.tpl
  charts/haptic/templates/_resources.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxy-podmonitor.yaml
  charts/haptic/templates/haproxy-service.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Read the pending runtime updates under the scheduler mutex; Oxford commas
  docs/site/docs/development/agent.md
  pkg/controller/deployer/scheduler_logic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Chart tests: pin the agent container, its port, and every removed dataplane key
  charts/haptic/tests/agent_values_test.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/tests/dataplane-storage-dirs_test.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/tests/haproxy-networkpolicy_test.yaml
  charts/haptic/tests/haproxy-podmonitor_test.yaml
  charts/haptic/tests/haproxy-service_test.yaml
  charts/haptic/tests/vector_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Chart prose: name the HAPTIC agent where the Dataplane API used to be
  charts/haptic/README.md
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/spoa-hub/10-features.yaml
  charts/haptic/charts/spoa-hub/20-config-content.yaml
  charts/haptic/charts/spoa-hub/25-crs-source.yaml
  charts/haptic/charts/spoa-hub/tests/coraza.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/templates/NOTES.txt
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/networkpolicy.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/templates/vector-configmap.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Agent: see the CA store, and re-read the inventory after store ops
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/inventory.go
  pkg/dataplane/agent/haproxytest/files.go
  pkg/dataplane/agent/server/statemachine.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

tests/integration: the agent as the HAProxy pod's second container
  tests/agent/docker.go
  tests/agent/image.go
  tests/agent/main_test.go
  tests/integration/env.go
  tests/integration/exec.go
  tests/integration/haproxy.go
  tests/integration/image.go
  tests/integration/kind_cluster.go
  tests/integration/session.go
  tests/integration/testutil.go
  tests/kindutil/hapticimage.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

tests/integration: the sync tables assert the pod, not an API's plan
  tests/integration/sync_auxiliary_test.go
  tests/integration/sync_backends_test.go
  tests/integration/sync_common_test.go
  tests/integration/sync_frontends_test.go
  tests/integration/sync_global_defaults_test.go
  tests/integration/sync_observability_test.go
  tests/integration/sync_sections_test.go
  tests/integration/sync_servers_test.go
  tests/integration/testdata/enterprise/base.cfg
  tests/integration/testdata/enterprise/botmgmt-base.cfg
  tests/integration/testdata/enterprise/botmgmt-profile/one-profile.cfg
  tests/integration/testdata/enterprise/botmgmt-profile/updated-profile.cfg
  tests/integration/testdata/enterprise/captcha-base.cfg
  tests/integration/testdata/enterprise/captcha/one-captcha.cfg
  tests/integration/testdata/enterprise/captcha/updated-captcha.cfg
  tests/integration/testdata/enterprise/waf-base.cfg
  tests/integration/testdata/enterprise/waf-global/updated-global.cfg
  tests/integration/testdata/enterprise/waf-global/with-global.cfg
  tests/integration/testdata/enterprise/waf-profile/one-profile.cfg
  tests/integration/testdata/enterprise/waf-profile/updated-profile.cfg
  tests/integration/testdata/http-errors/modified-errors.cfg
  tests/integration/testdata/http-errors/with-errors.cfg
  tests/integration/testdata/map-frontend/modified-map.cfg
  tests/integration/testdata/map-frontend/with-body-size-map.cfg
  tests/integration/testdata/map-frontend/with-map.cfg
  tests/integration/testdata/ssl-frontend/modified-ssl.cfg
  tests/integration/testdata/ssl-frontend/with-ssl.cfg
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

tests/integration: auxiliary files, CA rotation and idempotency, through the agent
  tests/CLAUDE.md
  tests/integration/CLAUDE.md
  tests/integration/README.md
  tests/integration/auxiliaryfiles_test.go
  tests/integration/enterprise_botmgmt_test.go
  tests/integration/sync_ca_file_test.go
  tests/integration/sync_idempotency_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fence deploys with a CAS-incremented leader epoch
  pkg/controller/controller.go
  pkg/controller/deployer/activation_provenance_test.go
  pkg/controller/deployer/deployment_timeout_authority_test.go
  pkg/controller/deployer/endpoint_authority.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_body_test.go
  pkg/controller/deployer/runtime_bypass_test.go
  pkg/controller/deployer/scheduler_failed_deploy_baseline_test.go
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_render_pairing_test.go
  pkg/controller/deployer/sync_metadata.go
  pkg/controller/deployer/sync_metadata_helpers_test.go
  pkg/controller/deployer/version_cache.go
  pkg/controller/deployer/version_cache_test.go
  pkg/controller/discovery/filter_by_version_cache_test.go
  pkg/controller/discovery/filter_by_version_decoupled_test.go
  pkg/controller/discovery/handle_version_check_failure_test.go
  pkg/controller/leader.go
  pkg/controller/leaderelection/component.go
  pkg/controller/leaderelection/component_test.go
  pkg/controller/leaderelection/epoch.go
  pkg/controller/leaderelection/epoch_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

tests/integration: fix three fixtures HAProxy refuses to load
  tests/integration/session.go
  tests/integration/sync_common_test.go
  tests/integration/sync_observability_test.go
  tests/integration/testdata/acme/with-letsencrypt.cfg
  tests/integration/testdata/cookies/cookies-with-prefix.cfg
  tests/integration/testdata/quic-rules/frontend-base.cfg
  tests/integration/testdata/quic-rules/frontend-with-quic-rules.cfg
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

tests/e2e: collect the agent's state instead of the Data Plane API's
  tests/e2e/cleanup.go
  tests/e2e/ingress_haproxy_ingress_waf_test.go
  tests/e2e/ingress_host_rename_map_test.go
  tests/e2e/ingress_modsecurity_snippet_test.go
  tests/e2e/main_test.go
  tests/e2e/rolling_restart_instrumentation.go
  tests/e2e/snapshot.go
  tests/e2e/spoa_hub_helpers.go
  tests/e2e/spoa_hub_reload_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

CI: collect the agent container, and let coverage-combined degrade
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

examples: apply a plan to an agent, not a config to the Data Plane API
  examples/basic-apply/README.md
  examples/basic-apply/main.go
  examples/basic-sync/README.md
  examples/basic-sync/main.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

scripts: the dev environment talks to the agent
  scripts/analyze-gateway-api-children.py
  scripts/dev-env-assets/conformance-values.yaml
  scripts/dev-env-assets/dev-values.yaml
  scripts/dev-env-assets/e2e-values.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/start-dev-env.sh
  scripts/test-helm-defaults.sh
  scripts/test-templates.sh
  scripts/tests/test_analyze_gateway_api_children.py
  scripts/tests/test_analyze_gateway_api_supervisor_logs.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Cover the agent apply path against the in-process fake
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/fleet_capabilities_test.go
  pkg/controller/deployer/helpers_test.go
  pkg/controller/deployer/plan_cache_test.go
  pkg/controller/discovery/admission_test.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/apply.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Document the agent apply contract
  docs/site/docs/development/design/deployment.md
  pkg/controller/deployer/README.md
  pkg/controller/discovery/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Keep the op counter off the atomic narrowing path
  docs/site/docs/development/design/deployment.md
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/diff_memo.go
  pkg/controller/deployer/handle_endpoint_failure_test.go
  pkg/controller/deployer/handle_endpoint_success_test.go
  pkg/controller/deployer/helpers_test.go
  pkg/controller/discovery/admission_test.go
  pkg/controller/discovery/discovery_logic.go
  pkg/controller/metrics/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix the deployplan rules an adversarial review confirmed
  pkg/dataplane/agent/api/tokens.go
  pkg/dataplane/agent/api/tokens_test.go
  pkg/dataplane/agent/client/client_test.go
  pkg/dataplane/agent/client/validate.go
  pkg/dataplane/deployplan/backends.go
  pkg/dataplane/deployplan/certs.go
  pkg/dataplane/deployplan/certs_test.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/diff_test.go
  pkg/dataplane/deployplan/files_test.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/keywords.go
  pkg/dataplane/deployplan/maps.go
  pkg/dataplane/deployplan/maps_test.go
  pkg/dataplane/deployplan/servers.go
  pkg/dataplane/deployplan/servers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Make the in-process fake agent answer like the real one
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: the HAPTIC agent, everywhere the Data Plane API was
  docs/adr/0009-aux-file-skip-reload.md
  docs/adr/0013-rolling-restart-leaving-worker-residual.md
  docs/adr/0020-authoritative-render-validation-pipeline.md
  docs/adr/0022-haptic-agent.md
  docs/landing/overrides/home.html
  docs/site/docs/crd-reference.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/development/agent.md
  docs/site/docs/development/crd-validation-design.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/deployment.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/libraries/base.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/networking.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  docs/site/docs/supported-configuration.md
  docs/site/docs/template-reference.md
  docs/site/docs/troubleshooting.md
  pkg/dataplane/CLAUDE.md
  pkg/dataplane/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Force the missing-parts answer instead of picking at the fake's bookkeeping
  pkg/controller/deployer/apply_test.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/apply.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

CHANGELOG: the HAPTIC agent cutover
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Fake agent reloads on an unknown baseline like the real one
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Say what the capability fields now answer
  pkg/dataplane/capabilities.go
  pkg/dataplane/config.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Document the agent values, its metrics port, and where its pacing comes from
  charts/haptic/values.yaml
  docs/site/docs/migrating.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: match the metric table to what the deployer registers
  docs/site/docs/operations/monitoring.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Drop the auth-realm note's dead reason, and two lint findings
  .golangci.yml
  charts/haptic/charts/haproxytech/library.yaml
  pkg/dataplane/agent/server/statemachine.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep the agent's file tree to files it may own
  pkg/dataplane/agent/files/files_test.go
  pkg/dataplane/agent/files/store.go
  pkg/dataplane/agent/files/write.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Push map entries, and frame payloads so content cannot end them
  pkg/dataplane/agent/api/limits.go
  pkg/dataplane/agent/cli/client.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/inventory.go
  pkg/dataplane/agent/cli/program.go
  pkg/dataplane/agent/cli/program_files.go
  pkg/dataplane/agent/cli/program_test.go
  pkg/dataplane/agent/cli/tokens.go
  pkg/dataplane/agent/haproxytest/files.go
  pkg/dataplane/agent/haproxytest/haproxy.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Report what the agent actually did, and refuse before it writes
  cmd/haptic/agent.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/faultsim_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/state.go
  pkg/dataplane/agent/server/statemachine.go
  pkg/dataplane/agent/server/transaction.go
  tests/agent/config.go
  tests/agent/runtime_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Point the agent's token check at the shared predicate; run the revert parity case
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/cli/tokens.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Refuse a plan whose file name the resolver cannot place
  cmd/haptic/plan_differential_test.go
  pkg/controller/rendercontext/plan_files.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/rendercontext/plan_registry_test.go
  pkg/controller/rendercontext/render_main_test.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Build the render plan in one helper
  pkg/controller/renderer/current_config.go
  pkg/controller/renderer/service.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Bound a render by its timeout in one helper
  pkg/controller/renderer/service.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Count a deferred delete the agent gives up on as abandoned, not deferred
  docs/site/docs/development/agent.md
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/deferred_test.go
  pkg/dataplane/agent/server/metrics.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
