Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

docs(chart): document external-auth annotations across both ingress libraries
  charts/haptic/docs/annotations.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

feat(chart): wire upstream auth-tls-secret family for incoming client mTLS
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/annotations.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

fix(chart): auth-tls-error-page snippets fail to compile when spoa-hub library is disabled
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: widen .rules-spoa to include chart files that drive SPOE wiring
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(routes) + fix(chart): E2E auth-headers-fail surfaces deny-response header bug
  .gitlab-ci.yml
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  scripts/dev-env-assets/auth-server.yaml
  scripts/dev-env-assets/ingress-demo.yaml
  scripts/test-routes.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(routes): E2E coverage for auth-tls-secret (client mTLS)
  .gitlab-ci.yml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/ssl.yaml
  scripts/dev-env-assets/ingress-demo.yaml
  scripts/start-dev-env.sh
  scripts/test-routes.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: include Go paths in .rules-spoa to unbreak go.mod-only MR pipelines
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 17071ab
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update haproxy-debian 3.0.x docker tag to v3.0.21
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module github.com/oapi-codegen/oapi-codegen/v2 to v2.7.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/klauspost/compress to v1.18.6
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency anchore/syft to v1.44.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(renovate): use project:package format for gitlab-packages datasource
  versions-spoa.env
Due: none

chore(deps): update haproxytech/haproxy-debian docker tag to v3.3
  Dockerfile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(tests/e2e): delete Ingresses before namespace cascade to unblock parallel tests
  pkg/controller/configchange/status_updater.go
  tests/e2e/fixtures.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update linting tools
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/controller/commentator/insights.go
  pkg/controller/commentator/insights_config.go
  pkg/controller/configloader/loader.go
  pkg/controller/configpublisher/workers.go
  pkg/controller/conversion/crd.go
  pkg/controller/debug/setup.go
  pkg/controller/debug/vars.go
  pkg/controller/discovery/discovery.go
  pkg/controller/dryrunvalidator/resource_mapping.go
  pkg/controller/renderer/render.go
  pkg/controller/resourcewatcher/watcher.go
  pkg/controller/statusapplier/component.go
  pkg/core/config/validator.go
  pkg/core/logging/logging.go
  pkg/dataplane/auxiliaryfiles/ssl_helpers.go
  pkg/dataplane/client/metadata.go
  pkg/dataplane/errors.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_execution.go
  pkg/dataplane/orchestrator_rawpush.go
  pkg/dataplane/orchestrator_runtime.go
  pkg/dataplane/result.go
  pkg/dataplane/validators/validators.go
  pkg/k8s/configpublisher/auxiliary_files.go
  pkg/k8s/store/cached.go
  pkg/k8s/store/memory.go
  pkg/k8s/types/types.go
  pkg/stores/overlay.go
  pkg/templating/postprocessor.go
  pkg/templating/status_patch.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci(perf): cut MR pipeline wall time from 573s to ~480s
  .gitlab-ci.yml
  .markdownlint-cli2.jsonc
  .yamllint.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(dataplane,tests/e2e): accept advisory haproxy output; wait for controller forget on ingress delete
  pkg/dataplane/validate_haproxy.go
  pkg/dataplane/validate_haproxy_failure_lines_test.go
  tests/e2e/env.go
  tests/e2e/fixtures.go
  tests/e2e/wait_controller_view.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(proposalvalidator): admit dry-run when baseline already fails
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/proposalvalidator/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(controller): deepen event scaffold, drop renderer.Component
  CLAUDE.md
  docs/adr/0001-renderer-is-synchronous-not-event-adapter.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  pkg/controller/component/base.go
  pkg/controller/component/base_coalescing_test.go
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/flush_pending_publish_test.go
  pkg/controller/configpublisher/handle_status_trigger_test.go
  pkg/controller/configpublisher/process_publish_work_throttle_test.go
  pkg/controller/configpublisher/workers.go
  pkg/controller/renderer/README.md
  pkg/controller/renderer/component.go
  pkg/controller/renderer/component_test.go
  pkg/controller/renderer/context.go
  pkg/controller/renderer/context_test.go
  pkg/controller/renderer/handle_event_dispatch_test.go
  pkg/controller/renderer/handle_lost_leadership_test.go
  pkg/controller/renderer/publish_render_failure_test.go
  pkg/controller/renderer/render.go
  pkg/controller/renderer/testhelpers_test.go
  pkg/controller/throttle/throttle.go
  pkg/controller/throttle/throttle_test.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/validator/haproxy_validator_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: drop dead code; fix auth http_auth/userlist render race (!876)
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  cmd/controller/CLAUDE.md
  docs/controller/docs/development/design/architecture-overview.md
  docs/controller/docs/development/design/design-decisions.md
  docs/controller/docs/development/design/leader-election.md
  docs/controller/docs/development/design/sequence-diagrams.md
  pkg/controller/CLAUDE.md
  pkg/controller/LEADER_ONLY_COMPONENTS.md
  pkg/controller/coalesce/CLAUDE.md
  pkg/controller/dryrunvalidator/CLAUDE.md
  pkg/controller/leadership/README.md
  pkg/controller/reconciliation.go
  pkg/controller/validator/CLAUDE.md
  pkg/controller/validator/README.md
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/validator/haproxy_validator_test.go
  pkg/controller/validator/integration_test.go
  pkg/dataplane/client/dispatcher.go
  pkg/dataplane/client/testutil/mock_server.go
  pkg/dataplane/parser/enterprise/factory.go
  pkg/dataplane/parser/enterprise/reader.go
  pkg/events/CLAUDE.md
  tests/e2e/httpclient/request.go
  tests/e2e/ingress_auth_variants_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(dryrunvalidator): drop dormant scatter-gather plumbing
  .gitlab-ci.yml
  docs/adr/0001-renderer-is-synchronous-not-event-adapter.md
  docs/adr/0006-httpstore-proposal-validation-stays-event-driven.md
  docs/controller/docs/development/design/design-decisions.md
  pkg/controller/CLAUDE.md
  pkg/controller/dryrunvalidator/CLAUDE.md
  pkg/controller/dryrunvalidator/README.md
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/dryrunvalidator/resource_mapping.go
  pkg/controller/events/events_test.go
  pkg/controller/events/webhook.go
  pkg/controller/iteration.go
  pkg/controller/webhook.go
  pkg/controller/webhook/component.go
  pkg/events/request.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

refactor(chart): deepen library architecture, normalize pod-spec schema
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/README.md
  charts/haptic/docs/configuration.md
  charts/haptic/docs/libraries/annotation-compat.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/path-regex-last.md
  charts/haptic/docs/reference.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/path-regex-last.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/mkdocs.yml
  charts/haptic/templates/_credentials.tpl
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/_image.tpl
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/_pod-spec.tpl
  charts/haptic/templates/_resources.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/values.yaml
  docs/adr/0002-decentralized-helm-library-loader.md
  docs/adr/0003-annotation-compat-scaffold-level-2-5.md
  docs/adr/0004-no-typed-registry-over-global-features.md
  docs/adr/0005-path-matching-order-as-values-flag.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

refactor(chart): cleanup sweep — fix override bugs, DRY templates, prune stale docs
  charts/CLAUDE.md
  charts/haptic/docs/haproxy-deployment.md
  charts/haptic/docs/operations/high-availability.md
  charts/haptic/docs/reference.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/NOTES.txt
  charts/haptic/templates/_image.tpl
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/_resources.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-service.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/hpa.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/templates/webhook-certificate.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

feat(chart): wire haproxy.initialConfig to bootstrap ConfigMap
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/haproxy-deployment.md
  charts/haptic/templates/_resources.tpl
  charts/haptic/templates/haproxy-configmap.yaml
  charts/haptic/tests/haproxy-configmap_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to ff4a1ee
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(config): make event→deployment throttle timers tunable via CRD
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/values.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/operations/performance.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/converter_test.go
  pkg/controller/deployer/README.md
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/reconciliation.go
  pkg/core/CLAUDE.md
  pkg/core/config/defaults.go
  pkg/core/config/defaults_duration_test.go
  pkg/core/config/types.go
  scripts/dev-env-assets/dev-values.yaml
  tests/acceptance/fixtures.go
  tests/defaults_consistency_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): pluggable validator sidecar backend (1/3)
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  docs/controller/docs/operations/pluggable-validators.md
  docs/controller/mkdocs.yml
  docs/development/validator-protocol.md
  openspec/changes/pluggable-validator-sidecar/design.md
  openspec/changes/pluggable-validator-sidecar/proposal.md
  openspec/changes/pluggable-validator-sidecar/specs/pluggable-validator-sidecar/spec.md
  openspec/changes/pluggable-validator-sidecar/tasks.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/types_validators.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/iteration.go
  pkg/controller/pluggablevalidator/cache.go
  pkg/controller/pluggablevalidator/cache_test.go
  pkg/controller/pluggablevalidator/client.go
  pkg/controller/pluggablevalidator/client_test.go
  pkg/controller/pluggablevalidator/manager.go
  pkg/controller/pluggablevalidator/manager_test.go
  pkg/controller/pluggablevalidator/protocol.go
  pkg/controller/pluggablevalidator/protocol_test.go
  pkg/controller/pluggablevalidator/testutil/fixturesocket.go
  pkg/core/config/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): pluggable validators into /healthz (2/3)
  CHANGELOG.md
  pkg/controller/infrastructure.go
  pkg/controller/infrastructure_health_test.go
  pkg/controller/iteration.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(pluggablevalidator): files[] globs + adaptive pool + parallel dispatch + doc rewrites
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  docs/controller/docs/operations/pluggable-validators.md
  docs/development/validator-protocol.md
  openspec/changes/pluggable-validator-sidecar/proposal.md
  openspec/changes/pluggable-validator-sidecar/specs/pluggable-validator-sidecar/spec.md
  pkg/apis/haproxytemplate/v1alpha1/types_validators.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/conversion/converter.go
  pkg/controller/infrastructure_health_test.go
  pkg/controller/iteration.go
  pkg/controller/pluggablevalidator/cache.go
  pkg/controller/pluggablevalidator/cache_test.go
  pkg/controller/pluggablevalidator/client.go
  pkg/controller/pluggablevalidator/client_test.go
  pkg/controller/pluggablevalidator/manager.go
  pkg/controller/pluggablevalidator/manager_test.go
  pkg/controller/pluggablevalidator/protocol.go
  pkg/core/config/types.go
  tests/acceptance/debug_client.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): pluggable validator sidecar in controller pod
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): bump bundled spoa-hub to v0.4.0 for --validate-socket support
  charts/haptic/CHANGELOG.md
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "feat(chart): pluggable validator sidecar in controller pod" (!890)
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): close ssl-passthrough use_backend / backend render race
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): pluggable validator sidecar (re-land of !890 with v0.5.0 hub)
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
  scripts/smoke-spoa-image.sh
  tests/e2e/main_test.go
  versions-spoa.env
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
