Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

feat(gateway): close GatewayInfrastructure conformance via cross-ns marker emission
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/templates/clusterrole.yaml
  pkg/controller/reconciliation.go
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): bump scriggo to pull in for-range key-register fix
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(gateway): split gateway.yaml into libraries/gateway/ fragments
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/40-maps-host.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/42-maps-weighted.yaml
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/72-status-class.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  charts/haptic/libraries/gateway/80-k8s-resources.yaml
  charts/haptic/libraries/gateway/_index.yaml
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/20-routing-basic.yaml
  charts/haptic/libraries/gateway/tests/21-routing-headers.yaml
  charts/haptic/libraries/gateway/tests/22-routing-precedence.yaml
  charts/haptic/libraries/gateway/tests/23-routing-grpc.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/gateway/tests/50-binds.yaml
  charts/haptic/libraries/gateway/tests/60-status.yaml
  charts/haptic/libraries/gateway/tests/61-static-addresses.yaml
  charts/haptic/libraries/gateway/tests/62-infrastructure.yaml
  charts/haptic/templates/_libraries.tpl
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(tests): update helm-unittest assertions after k8sResources Service migration
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/tests/haproxy-service_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(resourceapplier): blank lines around lists for markdownlint
  pkg/controller/resourceapplier/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(resourceapplier): inline both partialResource params (lint follow-up)
  pkg/controller/resourceapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): empty supportedKinds on TLS listener with ProtocolConflict
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(controller): controller.embedValidationTests flag (default false)
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(test): regression for listenerset supportedKinds+InvalidRouteKinds
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(libraries): strip leading Scriggo doc-comments from rendered CRD
  charts/haptic/templates/_libraries.tpl
Due: none

fix(chart): GRPCRoute method matcher uses path ACL instead of req.hdr(:path)
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/21-routing-headers.yaml
  charts/haptic/libraries/gateway/tests/22-routing-precedence.yaml
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(tests): remove 7 conformance-shape tests, redundant with e2e run
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(libraries): broaden Scriggo comment strip + fix resourceapplier unparam
  charts/haptic/templates/_libraries.tpl
  pkg/controller/resourceapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): bound per-Gateway Service names to RFC 1123 63-char limit
  CHANGELOG.md
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/61-static-addresses.yaml
  charts/haptic/libraries/gateway/tests/62-infrastructure.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(tests): replace RSA-2048 test cert with ECDSA P-256 (~50 KB CRD)
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/23-routing-grpc.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
  charts/haptic/libraries/gateway/tests/50-binds.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(libraries): remove 4 unreferenced templateSnippets
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(.helmignore): exclude docs/, mkdocs.yml, CHANGELOG.md, README.md
  charts/haptic/.helmignore
Due: none

chart(tests): drop EndpointSlice fixtures from 110 tests that don't assert on servers
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/20-routing-basic.yaml
  charts/haptic/libraries/gateway/tests/21-routing-headers.yaml
  charts/haptic/libraries/gateway/tests/22-routing-precedence.yaml
  charts/haptic/libraries/gateway/tests/23-routing-grpc.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/gateway/tests/60-status.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci(helm-defaults): probe stats /healthz instead of port 80 / 443
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): GRPCRoute synthetic path is PathPrefix, not Exact
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(test): regression for k8sResources.haproxy-service multi-port
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "chart(controller): controller.embedValidationTests flag (default false)"
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chart(tests): trim 41 verbose test descriptions to one-paragraph summaries
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/23-routing-grpc.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/gateway/tests/50-binds.yaml
  charts/haptic/libraries/gateway/tests/61-static-addresses.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): backend client-cert path uses crt-base instead of crt-list dir
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): TLS-Passthrough listener rejects unclaimed SNIs (closes 5+ TLSRoute conformance tests)
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/60-status.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): attachedListenerSets only counts LSes with at least one valid listener
  charts/haptic/libraries/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): per-rule HTTPRoute backend RequestHeaderModifier filters
  charts/haptic/libraries/gateway/30-backends.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(lint): fix CI lint failures + retry GRPCRoute e2e test
  .golangci.yml
  cmd/controller/benchmark_render.go
  pkg/controller/reconciliation.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  tests/e2e/grpc_tls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci(helm-defaults): skip SSL chain verification gracefully when no HTTPS frontend
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): emit path-exact map entry for Exact `/` routes
  charts/haptic/libraries/gateway/41-maps-path.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): listenerset attached count + per-listener routes count
  charts/haptic/libraries/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "fix(chart): Allow handshake on invalid client cert under InsecureFallback"
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): util-analyze-routes inline mtls-blocking detection per Gateway listener
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): unescape regex \$ end-anchor in listener-claim regex map
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): reject inbound SNIs claimed by invalid TLSRoutes
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): per-Gateway routing isolation in chart-static ssl-tcp
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(changelog): GRPCRoute path fixes + TLS-conflict supportedKinds
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): GRPCRoute weighted-backendRefs map entries
  charts/haptic/libraries/gateway/42-maps-weighted.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): ssl-tcp rejects SNIs not claimed by any route when no HTTPS termination
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): listener isolation for route hostnames covered by sibling listener
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
