Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

docs: document Gateway listener conflicts, weight rules, and 421 (audit Q5, Q43, Q101, Q102, Q103, Q104)
  docs/site/docs/libraries/gateway.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: clarify reload-vs-runtime behavior for routes, endpoints, certs, and scaling (audit Q28, Q29, Q30, Q32, Q34, Q35, Q36, Q89)
  docs/site/docs/operations/performance.md
  docs/site/docs/supported-configuration.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: document routing precedence, cross-namespace, SNI and missing-cert edge cases (audit Q1, Q6, Q10, Q11, Q13, Q25, Q37, Q48)
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/template-libraries.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: fix migration-coverage claim and add size/precedence/security/version notes (audit Q23, Q56, Q57, Q63, Q72, Q93, Q94, Q95, Q99)
  docs/site/docs/crd-reference.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: document deploy convergence, WAF order, and runtime failure modes (audit Q15, Q16, Q20, Q22, Q24, Q40, Q44, Q53, Q55, Q88, Q90, Q92, Q96)
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: fix haproxy-ingress affinity example and document vendor annotation interactions (audit Q2, Q33, Q38, Q39, Q41, Q42, Q46, Q49, Q51, Q52, Q60)
  docs/site/docs/annotations.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/nginx-ingress.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: document templating language edge cases (audit Q64, Q73, Q74, Q76, Q78, Q79, Q80)
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): reject two Ingresses claiming the same host+path (webhook denies conflicts)
  CHANGELOG.md
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/libraries/ingress.yaml
  docs/site/docs/libraries/ingress.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: RouteConflict Warning events on Ingresses that lose a route
  CHANGELOG.md
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/libraries/ingress.yaml
  cmd/playground/main.go
  cmd/playground/web/editor.js
  cmd/playground/web/index.html
  docs/site/docs/libraries/ingress.md
  docs/site/docs/template-reference.md
  pkg/controller/eventemitter/component.go
  pkg/controller/eventemitter/component_test.go
  pkg/controller/events/reconciliation.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciliation.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_status.go
  pkg/templating/render_event.go
  pkg/templating/render_event_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: replace verbose paragraphs that duplicate dedicated sections with hint + link
  docs/site/docs/getting-started.md
  docs/site/docs/ingress-class.md
  docs/site/docs/libraries/haproxytech.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: fix HAProxy-version LTS, default-TLS, and log-entry inaccuracies in getting-started
  docs/site/docs/getting-started.md
  docs/site/docs/operations/haproxy-versions.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(getting-started): make the sample walkthrough optional; stop implying templating is required
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/ingress-class.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): serve Ingress over HTTPS by default with the default certificate
  CHANGELOG.md
  charts/haptic/libraries/ingress.yaml
  docs/site/docs/getting-started.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/ssl-certificates.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): global HTTP→HTTPS redirect toggle for Ingress
  CHANGELOG.md
  charts/haptic/libraries/ingress.yaml
  docs/site/docs/libraries/ingress.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): strip client-supplied auth-response headers before external-auth sets them (security)
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module github.com/oapi-codegen/runtime to v1.5.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: fix 28 code-vs-docs accuracy gaps (round-2 edge-case audit)
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/security.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci(lint): gate vendor annotation doc Status against migrationCoverage
  Makefile
  scripts/check-annotation-status.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Add shared rate-limit SPOA chart support
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile.spoa-hub
  Makefile
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/_index.yaml
  charts/haptic/templates/_resources.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/rate-limit-store-networkpolicy.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  scripts/prep-spoa-plugins.sh
  scripts/render-spoa-bundle.sh
  scripts/smoke-spoa-image.sh
  scripts/test-templates.sh
  tests/e2e/constants.go
  tests/e2e/feature_helpers.go
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
  tests/e2e/main_test.go
  tests/e2e/wait_controller_view.go
  versions-spoa.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update varnish docker tag to v7.7
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module google.golang.org/grpc to v1.82.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): add API gateway request validation
  .gitignore
  .gitlab-ci.yml
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  Dockerfile.spoa-hub
  Makefile
  charts/haptic/charts/haptic-annotations/82-request-validation.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/request-validation.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/_index.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  docs/site/docs/template-reference.md
  pkg/templating/engine_scriggo_test.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_scriggo_test.go
  pkg/templating/filters_string.go
  scripts/prep-spoa-plugins.sh
  scripts/render-spoa-bundle.sh
  scripts/smoke-spoa-image.sh
  scripts/test-templates.sh
  tests/e2e/constants.go
  tests/e2e/feature_helpers.go
  tests/e2e/httpclient/request.go
  tests/e2e/ingress_haptic_request_validation_test.go
  tests/e2e/main_test.go
  versions-spoa.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency anchore/syft to v1.48.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Fix SPOA reload crashes and HAProxy config warnings
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile.spoa-hub
  Makefile
  charts/haptic/charts/gateway/50-binds.yaml
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/charts/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ssl.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/spoa-hub.md
  scripts/test-helm-defaults.sh
  versions-spoa.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Fix named-port endpoint filtering and bootstrap worker retirement
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/tests/haproxy-configmap_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/operations/performance.md
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/runtime to v1.6.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix auth Secret propagation races
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security-authz.yaml
  docs/site/docs/libraries/haptic-annotations.md
  tests/e2e/ingress_haptic_apikey_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix webhook admission timeout recovery
  CHANGELOG.md
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/validatingwebhookconfiguration_test.yaml
  charts/haptic/values.yaml
  cmd/controller/CLAUDE.md
  cmd/controller/run.go
  cmd/controller/run_test.go
  docs/site/docs/reference.md
  pkg/controller/controller.go
  pkg/controller/iteration.go
  pkg/controller/webhook.go
  pkg/controller/webhook/CLAUDE.md
  pkg/controller/webhook/README.md
  pkg/controller/webhook/component.go
  pkg/controller/webhook/component_test.go
  pkg/controller/webhook/configvalidator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Avoid false errors on graceful background shutdown
  CHANGELOG.md
  pkg/controller/helpers.go
  pkg/controller/helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(webhook): honor config admission budget for validation tests
  CHANGELOG.md
  docs/site/docs/reference.md
  docs/site/docs/validation-tests.md
  pkg/controller/webhook/CLAUDE.md
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_test.go
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Harden shared policy infrastructure before dogfooding
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/_index.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
  scripts/dev-env-assets/echo-server.yaml
  scripts/dev-env-assets/gateway-demo.yaml
  scripts/start-dev-env.sh
  scripts/test-templates.sh
  tests/e2e/fixtures.go
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): isolate managed Varnish cache
  CHANGELOG.md
  charts/haptic/README.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/varnish-networkpolicy.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/networking.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  tests/e2e/constants.go
  tests/e2e/ingress_haptic_cache_test.go
  tests/e2e/ingress_rate_limit_test.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency sigstore/cosign to v3.1.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update valkey/valkey docker tag to v9
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update varnish docker tag to v9
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Reject mixing annotation families for one feature
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  cmd/playground/main.go
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/template-reference.md
  pkg/controller/eventemitter/component.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/pipeline/pipeline_constructor_test.go
  pkg/controller/pipeline/pipeline_test.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/renderer/service.go
  pkg/controller/renderer/service_test.go
  pkg/controller/webhook/configvalidator.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_status.go
  pkg/templating/render_event_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
