Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

test(conformance): route conformance traffic through NodePort + back off metallb apply
  tests/conformance/gateway_conformance_test.go
  tests/e2e/metallb.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): compute Gateway API hostname intersection between routes and listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-backendRef RequestHeaderModifier (BackendRequestHeaderModification)
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): drop catch-all listener route hostnames claimed by sibling listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): use listener-claim maps for HTTPS misdirected (421) detection
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire Gateway spec.tls.backend.clientCertificateRef into backend connections
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): preserve request scheme on RequestRedirect when spec.scheme is unset
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire BackendTLSPolicy CA + hostname into HAProxy backend
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): watch BackendTLSPolicy + emit status conditions
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): pin BackendTLSPolicy apiVersion to v1
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): synthetic 204 for CORS preflight from disallowed origins
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): return 421 on HTTPS SNI / Host mismatch for misdirected detection
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): order host-regex map by wildcard-suffix specificity
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): port-aware host map keys for Gateway listener-port routing
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin per-backendRef RequestHeaderModifier emit shape
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): scope CORS http-response set-header to the matched route
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): emit additional bind directives for Gateway listener ports
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): keep newline between CORS preflight return and simple-request set-header
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin CORS catch-all routing (no hostnames, plain Gateway)
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire Gateway spec.tls.frontend client-cert validation into crt-list
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): emit CORS preflight headers inline on http-request return
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): implement HTTPRoute CORS filter
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): explicit newline between successive routes' CORS directives
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): wire UsableNetworkAddresses + UnusableNetworkAddresses for static-addresses tests
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): only emit 421 when SNI matched a listener (not just any mismatch)
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): use Gateway-level reason name InvalidClientCertificateRef
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(events): thread RenderedResources through pipeline and TemplateRenderedEvent
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/compute_reconciliation_summary_test.go
  pkg/controller/commentator/template_deployment_insight_test.go
  pkg/controller/configpublisher/component_test.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/events/coalescible_test.go
  pkg/controller/events/events_test.go
  pkg/controller/events/template.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/statecache_test.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): static-addresses doesn't leak LB-derived IPs through Hostname/NamedAddress requests
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): listener-status conditions for frontend client-cert validation
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(conformance): use canonical unstructured.NestedStringSlice helper
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): wire resourceapplier into Stage 5 (all-replica subscriber, leader-only applier)
  pkg/controller/reconciliation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): per-Gateway LoadBalancer Service emission for SupportGatewayStaticAddresses
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(controller): resourceapplier component for template-declared owned resources
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): RBAC + render-context plumbing for renderResource() Service emission
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/role.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(changelog): document renderResource() + GatewayStaticAddresses
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(templating): renderResource() template fn for owned-resource reconciliation
  cmd/controller/benchmark_render.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
  pkg/templating/filter_names.go
  pkg/templating/filters_resource.go
  pkg/templating/filters_scriggo.go
  pkg/templating/rendered_resource.go
  pkg/templating/rendered_resource_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): RequestRedirect omits default port from Location header
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(resourceapplier): document the dry-run / webhook safety contract
  pkg/controller/resourceapplier/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): match files (not just directories) in changes globs
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(chart): pin RequestRedirect default-port omission
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
