Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

chore(deps): update dependency spoa-hub to v0.7.2
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(chart): fix stale haproxy-ingress.yaml path ref after split
  charts/haptic/docs/libraries/haproxy-ingress.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(chart): clean up stale refs, dead config, and broken alerts
  charts/CLAUDE.md
  charts/haptic/.helmignore
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/reference.md
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/nginx-ingress/_index.yaml
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/tests/prometheusrule_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

fix(deployer): fast-apply runtime subset on the wait<=0 deploy path
  CHANGELOG.md
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_logic.go
  tests/e2e/rolling_restart_instrumentation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: code cleanup — parser dedup + 5 latent-bug fixes
  CHANGELOG.md
  pkg/controller/discovery/component.go
  pkg/controller/discovery/component_shutdown_test.go
  pkg/controller/resourceapplier/component.go
  pkg/dataplane/config.go
  pkg/dataplane/config_test.go
  pkg/dataplane/parser/enterprise/sections_ce.go
  pkg/dataplane/parser/parser.go
  pkg/dataplane/parser/sectionextract/sectionextract.go
  pkg/dataplane/parser/sectionextract/sectionextract_test.go
  pkg/dataplane/parser/sections_core.go
  pkg/dataplane/parser/sections_service.go
  pkg/httpstore/fetcher.go
  pkg/httpstore/store.go
  pkg/httpstore/store_test.go
  pkg/k8s/configpublisher/auxiliary_files.go
  pkg/k8s/configpublisher/auxiliary_files_ssl_retry_test.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/watcher/watcher.go
  pkg/k8s/watcher/watcher_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go version to v1.26.4
  .tool-versions
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: fix stale raw-push-refactor references in comments
  pkg/controller/deployer/component_test.go
  pkg/core/config/types.go
  pkg/dataplane/client/storage_ssl_test.go
  pkg/dataplane/config_sort_options_test.go
  tests/integration/sync_auxiliary_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): guard auth snippets against typed-nil Secret during render
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/libraries/haproxy-ingress/tests/auth.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update go version to v1.26.4
  go.mod
  tools/linters/eventimmutability/go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to a3d7ebb
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: eliminate parallel-e2e flakes (rolling-restart, auth panic, split warmup)
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/libraries/haproxy-ingress/tests/auth.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_test.go
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_logic.go
  tests/e2e/gateway_fixtures.go
  tests/e2e/httpclient/client.go
  tests/e2e/httproute_split_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update anchore/syft to v1.45.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: upgrade kind to 0.32 / k8s 1.36 with dual-version kubeadm certSAN
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
  .gitlab/ci/kind-config-dind.yaml
  Makefile
  go.mod
  go.sum
  tests/e2e/main_test.go
  tests/kindutil/dind.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/getkin/kin-openapi to v0.140.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: resolve watched-resource plurals via RESTMapper, not a built-in guess
  CHANGELOG.md
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/dryrunvalidator/resource_mapping.go
  pkg/controller/events/deployment.go
  pkg/controller/events/resource.go
  pkg/controller/events/template.go
  pkg/controller/iteration.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/reconciliation.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/renderer/service.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourcestore/helpers.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/typebootstrap/bootstrap.go
  pkg/controller/typebootstrap/offline_resolve.go
  pkg/controller/webhook.go
  pkg/core/config/types.go
  pkg/templating/rendered_resource.go
  pkg/templating/status_patch.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: condense and dedupe CHANGELOG [Unreleased] sections
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency haproxy/haproxy to v3.4
  .gitlab/ci/images/ci/Dockerfile
Due: none

chore: trim ~257K LOC of unused code from the generated DataPlane API clients
  go.mod
  hack/oapi-codegen-v30.yaml
  hack/oapi-codegen-v30ee.yaml
  hack/oapi-codegen-v31.yaml
  hack/oapi-codegen-v31ee.yaml
  hack/oapi-codegen-v32.yaml
  hack/oapi-codegen-v32ee.yaml
  hack/oapi-codegen-v33.yaml
  pkg/generated/dataplaneapi/v30/api.gen.go
  pkg/generated/dataplaneapi/v30ee/api.gen.go
  pkg/generated/dataplaneapi/v31/api.gen.go
  pkg/generated/dataplaneapi/v31ee/api.gen.go
  pkg/generated/dataplaneapi/v32/api.gen.go
  pkg/generated/dataplaneapi/v32ee/api.gen.go
  pkg/generated/dataplaneapi/v33/api.gen.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(logging): demote steady-state success/housekeeping logs to DEBUG
  CHANGELOG.md
  pkg/controller/configpublisher/handlers.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/httpstore/component.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/testrunner/runner.go
  pkg/controller/webhook/component.go
  pkg/dataplane/auxiliaryfiles/ssl_helpers.go
  pkg/dataplane/orchestrator_auxiliary.go
  pkg/httpstore/store.go
  pkg/httpstore/store_validation.go
  pkg/k8s/configpublisher/pod_cleanup.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: delete dead code + collapse phantom-generic comparator ops
  pkg/controller/pipeline/README.md
  pkg/controller/pipeline/pipeline.go
  pkg/controller/pipeline/pipeline_test.go
  pkg/controller/validation/service.go
  pkg/controller/validation/service_test.go
  pkg/dataplane/CLAUDE.md
  pkg/dataplane/client/dispatcher_helpers.go
  pkg/dataplane/client/dispatcher_helpers_test.go
  pkg/dataplane/comparator/sections/crud_builders.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/comparator/sections/factory_ee.go
  pkg/dataplane/comparator/sections/factory_sections.go
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/operations_generic.go
  pkg/introspection/CLAUDE.md
  pkg/introspection/README.md
  pkg/introspection/types.go
  pkg/introspection/types_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: avoid kube-API storm from debug introspection endpoints
  CHANGELOG.md
  pkg/controller/debug/state.go
  pkg/controller/statecache_providers.go
  pkg/controller/statecache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image to v3.4
  Dockerfile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(controller): remove dead validationTests webhook plumbing
  docs/controller/docs/development/design/design-decisions.md
  docs/controller/docs/operations/monitoring.md
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/insights.go
  pkg/controller/commentator/insights_config.go
  pkg/controller/dryrunvalidator/CLAUDE.md
  pkg/controller/dryrunvalidator/README.md
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/dryrunvalidator/tests.go
  pkg/controller/events/events_test.go
  pkg/controller/events/types.go
  pkg/controller/events/validation.go
  pkg/controller/iteration.go
  pkg/controller/metrics/README.md
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/webhook.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

build: data-drive the DataPlane API codegen from versions.env
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(e2e): retry rate-limit burst up to 4× on reload-window churn
  tests/e2e/ingress_rate_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Remove dead ModCounter store mechanism
  openspec/changes/remove-store-modcounter/proposal.md
  openspec/changes/remove-store-modcounter/specs/storage-strategies/spec.md
  openspec/changes/remove-store-modcounter/tasks.md
  openspec/specs/storage-strategies/spec.md
  pkg/controller/discovery/handlers_initial_discovery_test.go
  pkg/k8s/store/CLAUDE.md
  pkg/k8s/store/README.md
  pkg/k8s/store/cached.go
  pkg/k8s/store/memory.go
  pkg/k8s/store/modcount_test.go
  pkg/stores/provider.go
  pkg/stores/validation_context_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): preserve rate-limit stick-table counters across reload
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update kubernetes packages to 865597e
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): preserve nginx-ingress rate/conn-limit counters across reload
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress/10-backend-directives.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): honour silently-ignored haproxy-ingress + haproxytech annotations
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/libraries/haproxy-ingress/tests/annotations.yaml
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): honour haproxy-ingress whitelist alias + warn on nginx session-cookie-hash
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/_index.yaml
  charts/haptic/libraries/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/libraries/haproxy-ingress/tests/annotations.yaml
  charts/haptic/libraries/nginx-ingress/10-backend-directives.yaml
  charts/haptic/libraries/nginx-ingress/_index.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): nginx-ingress auth-map, proxy-next-upstream, limit-rate, proxy-redirect
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress/10-backend-directives.yaml
  charts/haptic/libraries/nginx-ingress/15-proxy-ssl-cookie.yaml
  charts/haptic/libraries/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): haproxy-ingress oauth (oauth2_proxy) via external-auth desugaring
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/libraries/haproxy-ingress/tests/auth.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): nginx-ingress session-cookie-domain / -max-age / -expires
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress/10-backend-directives.yaml
  charts/haptic/libraries/nginx-ingress/_index.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): nginx-ingress mirror-target via spoa-hub mirror plugin
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
