Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(deps): update module github.com/oapi-codegen/oapi-codegen/v2 to v2.8.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): warn-on-reconcile for misconfigured routing/presentation annotations
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/32-canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/40-features.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/features.yaml
  charts/haptic/charts/nginx-ingress/15-proxy-ssl-cookie.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): make WAF-governance-gated baked tests self-contained
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/features.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): namespaced self-service WAF policy authoring
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin selfService disabled in its disabled-mode WAF test
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: enable WAF self-service authoring in the e2e values profile
  scripts/dev-env-assets/e2e-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore: bump rate-limit SPOA plugin to v0.2.0 (burst-correct lease mode)
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): tolerate deployment inline policies in the unknown-WAF-policy validationTest
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: route-scoped WAF governance failures end the admission wedge class
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
  docs/site/docs/template-reference.md
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/event_warnings_test.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/proposalvalidator/admission_subject_test.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/rendering_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): structured CRS tuning fields on WAF policies
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: coraza plugin v0.7.0 per-rule metrics + detect-to-deny tuning workflow
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): accept structured CRS tuning fields at the Helm validation layer
  CHANGELOG.md
  charts/haptic/templates/haproxytemplateconfig.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): route-scope the setup-fields CRS-anchor check (load-gate crash)
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): self-service ruleExclusions for WAF policies
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/operations/spoa-hub.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): consolidate WAF annotations onto reusable policies
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  scripts/dev-env-assets/dev-values.yaml
  scripts/test-templates.sh
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
  tests/e2e/ingress_haptic_waf_test.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): reject unit suffix on cache-ttl / cache-max-object-size
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): skip Coraza WAF on Varnish cache-miss loopback
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): dedicated Varnish backend-fetch frontend (SOTA sandwich)
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/templates/_cache.tpl
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/varnish-networkpolicy.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): crsSettings — self-service CRS variable fine-tuning for WAF policies
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(templating): don't leak a Go stack trace when a template fail() aborts inside ComputeIfAbsent
  pkg/templating/shared_context.go
  pkg/templating/shared_context_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): crsSettings allowedRequestContentTypes must REPLACE with the full CRS list, not runtime-append
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: chart snapshot must need build-spoa-image-main (never ship a chart referencing an unbuilt hub image)
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/klauspost/compress to v1.19.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/prometheus/client_golang to v1.24.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): inclusive default TLS cipher policy + dual RSA/ECDSA certs
  CHANGELOG.md
  charts/haptic/libraries/ssl.yaml
  docs/site/docs/ssl-certificates.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): fleet-wide TLS session resumption via self-rotating STEK
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/helpers/declarations.go
  pkg/controller/iteration.go
  pkg/controller/reconciliation.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/renderer/service.go
  pkg/controller/statecache_providers.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/controller/webhook.go
  pkg/core/config/types.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): move session-ticket toggle under extraContext.tls
  CHANGELOG.md
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): dual default certificate (defaultSSLCertificate.ecdsaSecretName)
  CHANGELOG.md
  charts/haptic/charts/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/_default-ssl-certificate.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/default-ssl-certificate_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(chart): operator-facing values default to extraContext
  charts/CLAUDE.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(testrunner): isolate validationTests from the operator's real default-cert names
  CHANGELOG.md
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  cmd/controller/benchmark.go
  cmd/controller/benchmark_render.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/rendering_test.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/runner_test.go
  scripts/test-templates.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): report observedGeneration + Validated condition on config status
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/configchange/status_updater.go
  pkg/controller/configchange/status_updater_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: cut pipeline minutes without weakening the pre-release gate
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(controller): report the startup load-gate rejection on config status before crash-looping
  CHANGELOG.md
  pkg/controller/config.go
  pkg/controller/configchange/status_updater.go
  pkg/controller/configchange/status_updater_test.go
  pkg/controller/iteration.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency anchore/syft to v1.49.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: apply bundled CRDs on helm install/upgrade via apply-crds hook
  CHANGELOG.md
  charts/haptic/templates/_naming.tpl
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/clusterrolebinding.yaml
  charts/haptic/templates/crd-upgrade-hook.yaml
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/tests/cluster-scoped-naming_test.yaml
  charts/haptic/tests/crd-upgrade-hook_test.yaml
  charts/haptic/values.yaml
  cmd/controller/CLAUDE.md
  cmd/controller/applycrds.go
  cmd/controller/applycrds_test.go
  cmd/controller/main.go
  docs/site/docs/reference.md
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: version-gate the config webhook to survive rolling-upgrade skew (!1386)
  CHANGELOG.md
  pkg/controller/iteration.go
  pkg/controller/webhook.go
  pkg/controller/webhook/CLAUDE.md
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): org-wide policy guardrails (governance baselines)
  CHANGELOG.md
  charts/haptic/libraries/ingress-annotations-compat.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): generic JSONPath-driven governance engine
  .golangci.yml
  CHANGELOG.md
  CLAUDE.md
  charts/CLAUDE.md
  charts/haptic/libraries/ingress-annotations-compat.yaml
  docs/site/docs/reference.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/templating/CLAUDE.md
  pkg/templating/filter_names.go
  pkg/templating/filters_jsonpath.go
  pkg/templating/filters_jsonpath_test.go
  pkg/templating/filters_scriggo.go
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): isolate operator governance from bundled validationTests (!1389)
  CHANGELOG.md
  charts/haptic/libraries/ingress-annotations-compat.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: add governance guardrails how-to guide (!1390)
  docs/site/docs/operations/governance.md
  docs/site/docs/reference.md
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
