Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(deps): update module golang.org/x/tools to v0.47.0
  .gitlab-ci.yml
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.4.0
  CHANGELOG.md
  docs/controller/docs/supported-configuration.md
  go.mod
  go.sum
  pkg/dataplane/comparator/comparator.go
  pkg/dataplane/comparator/compare_config.go
  pkg/dataplane/comparator/compare_config_test.go
  pkg/dataplane/comparator/sections/factory_sections.go
  pkg/dataplane/comparator/sections/factory_test.go
  pkg/dataplane/comparator/sections/helpers.go
  pkg/dataplane/parser/enterprise/configured_parsers.go
  pkg/dataplane/parser/enterprise/configured_parsers_test.go
  pkg/dataplane/parser/enterprise/factory.go
  pkg/dataplane/parser/enterprise/sections.go
  pkg/dataplane/parser/normalize.go
  pkg/dataplane/parser/normalize_collections_test.go
  pkg/dataplane/parser/parser_test.go
  pkg/dataplane/parser/parserconfig/config.go
  pkg/dataplane/parser/sectionextract/sectionextract.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: make gateway-conformance-report needs optional
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: reframe migration guide; ci: fix docs-only pipeline failure
  .gitlab-ci.yml
  CLAUDE.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/ssl-certificates.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/migrating.md
  docs/controller/docs/operations/haproxy-versions.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

docs: reframe migration guide; fix install prerequisite contradiction
  CLAUDE.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/ssl-certificates.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/migrating.md
  docs/controller/docs/operations/haproxy-versions.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

fix(dataplane): omit empty X-Runtime-Actions header on skip-reload push
  CHANGELOG.md
  pkg/dataplane/client/config.go
  pkg/dataplane/client/config_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages to v1.6.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

wip(gateway): D - scope host/path map keys by per-Gateway pod port
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/20-route-analysis.yaml
  charts/haptic/charts/gateway/40-maps-host.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(gateway): emit TCPRoute status conditions (bucket 4)
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): deterministic per-(gateway,port) pod-port allocation
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/gateway/tests/22-routing-precedence.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test: adapt gateway conformance suite to gateway-api v1.6.0
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): enable CleanupTestResources for per-test isolation
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): reject Gateway spec.infrastructure.parametersRef as InvalidParameters
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): bump Programmed observedGeneration in rendered status variant
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): matched HTTPRoute rule with no backendRefs returns 500 not 404
  charts/haptic/charts/gateway/60-frontend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): lower minDeploymentInterval to 250ms for the suite
  scripts/dev-env-assets/conformance-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): apply status patches concurrently (fixes Programmed lag)
  pkg/controller/statusapplier/component.go
  scripts/dev-env-assets/conformance-values.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): deterministic collision-free pod-port allocation
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): dedup TCPRoute backend across multi-listener attach
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/charts/gateway/_index.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(gateway): update isolation tests for per-Gateway pod-port scoped keys
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/gateway/tests/22-routing-precedence.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): use real listener port (not pod port) in redirect Location
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): gate experimental HTTPRoute self-tests on an explicit value
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_libraries.tpl
  charts/haptic/values.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): stable per-gateway pod-port allocation (read-back)
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): emit per-Gateway pod-port host.map entry for GRPCRoutes
  charts/haptic/charts/gateway/40-maps-host.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test: install gateway-api v1.6.0 CRDs to match conformance suite
  charts/haptic/docs/gateway-class.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  scripts/start-dev-env.sh
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

fix(gateway): count TCPRoutes in listener attachedRoutes
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): write per-Gateway IP to status for HTTP-only Gateways
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/19-status-per-gateway-address.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

wip(gateway): per-Gateway IPs+binds for HTTP listeners (isolation A+B+C)
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/17-per-gateway-services.yaml
  charts/haptic/charts/gateway/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/tests/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/17-per-gateway-services.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): version-adaptive TCPRoute watch (v1 + v1alpha2)
  Makefile
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/templates/_libraries.tpl
  scripts/check-chart-release-size.py
  scripts/test-templates.sh
  tests/schemas/gateway.networking.k8s.io_tcproutes.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): reject unsupported listener protocols in status
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): orphaned TCPRoute no longer drops sibling routes from routing
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/charts/gateway/tests/29-tcproute-orphan-sibling.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): emit required attachedRoutes in ListenerSet deployed/deployFailed listener status
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(gateway): replace ListenerSet bubble-sort with sort_by
  charts/haptic/charts/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(routing): try port-scoped host key before bare host in match cascade
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(gateway): pin ListenerSet allowedRoutes.namespaces routing
  charts/haptic/charts/gateway/tests/28-listenerset-ns-routing.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): bind oldest TCPRoute on port conflict (creationTimestamp)
  charts/haptic/charts/gateway/90-tcproute.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): set minDeploymentInterval=1s now that drops are fixed
  scripts/dev-env-assets/conformance-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(gateway): weighted TCPRoute routing across multiple backends
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(appliers): coalesce high-volume render events to end buffer drops
  pkg/controller/resourceapplier/component.go
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

revert(gateway): don't emit Programmed in rendered status variant
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
