Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

perf: in-place float conversion and string comparison fast-path
  .tool-versions
  pkg/k8s/indexer/convert.go
  pkg/stores/overlay.go
  pkg/templating/sorting_helpers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: Coordinator event buffer overflow and CI test flakes
  pkg/controller/CLAUDE.md
  pkg/controller/reconciler/coordinator.go
  pkg/controller/testrunner/fixtures.go
  scripts/test-routes.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: skip redundant config fetch+parse via version cache
  pkg/controller/deployer/component.go
  pkg/controller/deployer/version_cache.go
  pkg/controller/deployer/version_cache_test.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/result.go
  tests/acceptance/http_store_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: skip redundant validation when config and aux files unchanged
  pkg/controller/validation/service.go
  pkg/controller/validation/service_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: reduce Scriggo VM allocations for native function calls
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: reduce memory allocations across reconciliation pipeline
  pkg/controller/commentator/commentator_test.go
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/component_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/deployer/version_cache.go
  pkg/controller/deployer/version_cache_test.go
  pkg/controller/events/deployment.go
  pkg/controller/events/events_test.go
  pkg/controller/events/template.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/rendercontext/file_registry.go
  pkg/controller/rendercontext/file_registry_test.go
  pkg/controller/renderer/component.go
  pkg/controller/statecache_test.go
  pkg/controller/validation/service.go
  pkg/controller/validator/haproxy_validator_test.go
  pkg/dataplane/checksum.go
  pkg/dataplane/checksum_test.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/templating/postprocessor.go
  pkg/templating/postprocessor_indent.go
  pkg/templating/postprocessor_indent_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: reduce memory allocations across reconciliation pipeline
  pkg/compression/compression.go
  pkg/controller/currentconfigstore/store.go
  pkg/controller/renderer/service.go
  pkg/dataplane/validator.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: strip heavyweight payloads from ring buffer events
  pkg/controller/commentator/ring_buffer.go
  pkg/controller/commentator/ring_buffer_test.go
  pkg/controller/events/deployment.go
  pkg/controller/events/events_test.go
  pkg/controller/events/template.go
  pkg/controller/events/validation.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/events/bus.go
  tests/acceptance/debug_client.go
  tests/acceptance/error_scenarios_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

revert: remove LightweightEvent ring buffer optimization
  pkg/controller/commentator/ring_buffer.go
  pkg/controller/commentator/ring_buffer_test.go
  pkg/controller/events/deployment.go
  pkg/controller/events/events_test.go
  pkg/controller/events/template.go
  pkg/controller/events/validation.go
  pkg/events/bus.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: filter heavyweight events from ring buffer and reduce capacity
  pkg/controller/commentator/commentator.go
  pkg/controller/controller.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: reduce memory usage by clearing VM pool and shrinking parser cache
  go.mod
  go.sum
  pkg/controller/pipeline/pipeline.go
  pkg/controller/renderer/service.go
  pkg/dataplane/parser/parser.go
  pkg/templating/engine_interface.go
  pkg/templating/engine_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: remove obsolete code and replace deprecated API
  go.mod
  go.sum
  pkg/dataplane/comparator/sections/factory_ee.go
  pkg/k8s/watcher/single_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: update PGO profile from production workload
  cmd/controller/default.pgo
Due: none

docs: fix wrong file paths, outdated versions, and inaccurate examples
  CLAUDE.md
  cmd/controller/CLAUDE.md
  docs/controller/docs/development/crd-validation-design.md
  docs/controller/docs/development/design/design-decisions.md
  docs/controller/docs/development/design/package-structure.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  pkg/CLAUDE.md
  pkg/controller/CLAUDE.md
  pkg/controller/README.md
  pkg/controller/dryrunvalidator/CLAUDE.md
  pkg/controller/leaderelection/README.md
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/README.md
  pkg/controller/webhook/CLAUDE.md
  pkg/controller/webhook/README.md
  pkg/core/CLAUDE.md
  pkg/dataplane/CLAUDE.md
  pkg/events/CLAUDE.md
  pkg/httpstore/CLAUDE.md
  pkg/k8s/CLAUDE.md
  pkg/k8s/store/CLAUDE.md
  pkg/templating/CLAUDE.md
  pkg/templating/README.md
  pkg/webhook/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor: incremental architecture improvements
  README.md
  charts/haptic/README.md
  cmd/controller/benchmark.go
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/handler_test.go
  pkg/controller/controller.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/discovery/component.go
  pkg/controller/helpers/templating_test.go
  pkg/controller/leadership/replayer.go
  pkg/controller/leadership/replayer_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/renderer/component.go
  pkg/controller/renderer/service.go
  pkg/controller/resourcestore/overlay.go
  pkg/controller/testrunner/runner.go
  pkg/controller/validator/haproxy_validator.go
  pkg/core/config/types.go
  pkg/k8s/store/cached.go
  pkg/k8s/store/cached_test.go
  pkg/templating/benchmark_test.go
  pkg/templating/engine_interface.go
  pkg/templating/engine_scriggo.go
  pkg/templating/engine_scriggo_test.go
  pkg/templating/errors.go
  pkg/templating/filters_scriggo_test.go
  pkg/templating/postprocessor_test.go
  pkg/templating/profiling_test.go
  pkg/templating/whitespace_comment_test.go
  pkg/templating/whitespace_test.go
  scripts/release-chart.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: replace interface{} with concrete types in event structs
  pkg/controller/commentator/commentator_test.go
  pkg/controller/configpublisher/component.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/discovery/component.go
  pkg/controller/events/deployment.go
  pkg/controller/events/discovery.go
  pkg/controller/events/events_test.go
  pkg/controller/events/template.go
  pkg/controller/events/template_helpers.go
  pkg/controller/events/validation.go
  pkg/controller/statecache.go
  pkg/controller/statecache_test.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/validator/haproxy_validator_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: decompose large files and segregate Engine interface
  pkg/controller/config.go
  pkg/controller/controller.go
  pkg/controller/helpers.go
  pkg/controller/infrastructure.go
  pkg/controller/iteration.go
  pkg/controller/leader.go
  pkg/controller/reconciliation.go
  pkg/controller/watchers.go
  pkg/controller/webhook.go
  pkg/dataplane/comparator/sections/executors/indexed_child.go
  pkg/dataplane/comparator/sections/executors/indexed_child_acl.go
  pkg/dataplane/comparator/sections/executors/indexed_child_filter_log.go
  pkg/dataplane/comparator/sections/executors/indexed_child_http_rules.go
  pkg/dataplane/comparator/sections/executors/indexed_child_switching.go
  pkg/dataplane/comparator/sections/executors/indexed_child_tcp.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/comparator/sections/factory_acl.go
  pkg/dataplane/comparator/sections/factory_bind.go
  pkg/dataplane/comparator/sections/factory_filter_log.go
  pkg/dataplane/comparator/sections/factory_http_rules.go
  pkg/dataplane/comparator/sections/factory_quic.go
  pkg/dataplane/comparator/sections/factory_sections.go
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/factory_switching.go
  pkg/dataplane/comparator/sections/factory_tcp.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_auxiliary.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_execution.go
  pkg/dataplane/orchestrator_results.go
  pkg/templating/engine_interface.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: race condition when leader election is disabled
  pkg/controller/leader.go
  tests/acceptance/env.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: improve coverage for high-ROI packages
  .gitlab-ci.yml
  pkg/controller/dryrunvalidator/component_test.go
  pkg/dataplane/auxiliaryfiles/ssl_helpers_test.go
  pkg/dataplane/client/storage_crtlist_test.go
  pkg/dataplane/client/storage_general_test.go
  pkg/dataplane/client/storage_logprofiles_test.go
  pkg/dataplane/client/storage_maps_test.go
  pkg/dataplane/client/storage_ssl_ca_test.go
  pkg/dataplane/client/storage_ssl_crl_test.go
  pkg/dataplane/client/testing_helpers_test.go
  pkg/dataplane/comparator/sections/executors/patterns_test.go
  pkg/dataplane/comparator/sections/executors/server_update_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: enable coverage badge on main branch
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: restructure chart README into MkDocs documentation site
  charts/haptic/README.md
  charts/haptic/docs/annotations.md
  charts/haptic/docs/configuration.md
  charts/haptic/docs/gateway-class.md
  charts/haptic/docs/haproxy-deployment.md
  charts/haptic/docs/index.md
  charts/haptic/docs/ingress-class.md
  charts/haptic/docs/operations/debugging.md
  charts/haptic/docs/operations/high-availability.md
  charts/haptic/docs/operations/monitoring.md
  charts/haptic/docs/operations/networking.md
  charts/haptic/docs/operations/troubleshooting.md
  charts/haptic/docs/reference.md
  charts/haptic/docs/ssl-certificates.md
  charts/haptic/mkdocs.yml
  docs/controller/docs/operations/debugging.md
  docs/controller/docs/operations/high-availability.md
  docs/controller/docs/operations/monitoring.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

docs: fix documentation inconsistencies with source code
  CLAUDE.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/crd-validation-design.md
  docs/controller/docs/development/design/configuration.md
  docs/controller/docs/development/design/introspection.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/operations/security.md
  docs/controller/docs/templating.md
  docs/controller/docs/troubleshooting.md
  docs/controller/docs/watching-resources.md
  pkg/CLAUDE.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/CLAUDE.md
  pkg/controller/configloader/CLAUDE.md
  pkg/controller/configloader/README.md
  pkg/controller/debug/CLAUDE.md
  pkg/controller/events/CLAUDE.md
  pkg/controller/leaderelection/CLAUDE.md
  pkg/controller/metrics/CLAUDE.md
  pkg/core/CLAUDE.md
  pkg/core/config/types.go
  pkg/events/CLAUDE.md
  pkg/events/README.md
  pkg/templating/CLAUDE.md
  pkg/templating/README.md
  pkg/templating/filters.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: report coverage only from coverage-combined job
  .gitlab-ci.yml
  scripts/test-routes.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: add HAProxy 3.3 to CI build, test, and release matrix
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
  .goreleaser.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore: migrate /mr command to skills format
  .claude/commands/mr.md
  .claude/skills/mr/SKILL.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: correct coverage discrepancy between main and MR pipelines
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: improve documentation UX and fix content issues
  charts/haptic/docs/index.md
  charts/haptic/mkdocs.yml
  docs/controller/docs/development/design/considerations.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/operations/monitoring.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/operations/security.md
  docs/controller/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

docs: add security warnings, decision guidance, and explanatory context
  charts/haptic/docs/index.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/docs/operations/debugging.md
  docs/controller/docs/operations/high-availability.md
  docs/controller/docs/operations/monitoring.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/operations/security.md
  docs/controller/docs/templating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

fix: make webhook cert loading optional when webhooks are disabled
  cmd/controller/main.go
  cmd/controller/run.go
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  pkg/controller/config.go
  pkg/controller/iteration.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: v0.1.0-alpha.12 (controller + chart)
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: remove unversioned controller image tag
  .gitlab-ci.yml
  .goreleaser.yml
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/templates/_helpers.tpl
  scripts/release-controller.sh
  scripts/start-dev-env.sh
  scripts/test-helm-defaults.sh
  versions.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: add RBAC permissions for status subresource patching
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/templates/clusterrole.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: strip unknown fields from address discovery entries
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
