Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix: Gateway status patches valid on old Gateway API schemas + crdwatch bounded re-check
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/31-listenerset-gateway-status.yaml
  charts/haptic/charts/gateway/tests/60-status.yaml
  openspec/specs/runtime-version-detection/spec.md
  pkg/controller/crdwatch/component.go
  pkg/controller/crdwatch/component_test.go
  pkg/controller/effectiveconfig.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: post-merge full-stack on main, nightly gwapi matrix + canary, per-MR gates
  .gitlab-ci.yml
  Makefile
  scripts/check-test-inventory.sh
  scripts/ci-report-failure.sh
  tests/e2e/gwapi_release_matrix_test.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(e2e): harden config-admission deny tests against the fail-open window; capture kube-apiserver logs
  .gitlab-ci.yml
  tests/e2e/haproxytemplateconfig_admission_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(templating): preserve condition lastTransitionTime for typed resources
  CHANGELOG.md
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/73-status-policy.yaml
  charts/haptic/charts/gateway/tests/10-https-listener.yaml
  charts/haptic/charts/gateway/tests/60-status.yaml
  openspec/specs/status-patch-engine/spec.md
  pkg/templating/filters_status.go
  pkg/templating/filters_status_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: Gateway API upgrade playbook + scheduling-independence testing standard
  docs/controller/docs/development/gateway-api-upgrade-playbook.md
  docs/controller/mkdocs.yml
  scripts/start-dev-env.sh
  tests/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): starvation-proof rate-limit burst — single-process in-pod burst + achieved-rate gate
  tests/e2e/ingress_rate_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(leaderelection): re-elect after a genuine lease loss; starvation headroom 30/20/5
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/docs/operations/high-availability.md
  charts/haptic/docs/reference.md
  charts/haptic/values.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/design/leader-election.md
  docs/controller/docs/operations/high-availability.md
  openspec/specs/leader-election/spec.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/leader.go
  pkg/controller/leader_test.go
  pkg/core/config/defaults.go
  pkg/k8s/leaderelection/README.md
  pkg/k8s/leaderelection/elector.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

fix(dataplane): parked headerless config must not pass as 'no changes'
  CHANGELOG.md
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_test.go
  pkg/dataplane/config.go
  pkg/dataplane/dataplane.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_runtime_fastpath.go
  pkg/dataplane/orchestrator_runtime_fastpath_apply_test.go
  pkg/dataplane/orchestrator_version_cache_test.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency goreleaser/goreleaser to v2.17.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): tolerate not-yet-propagated Services on named-port references
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  openspec/specs/template-libraries/spec.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(configchange): run validation off the event loop — leadership replay must not wait for it
  CHANGELOG.md
  pkg/controller/configchange/README.md
  pkg/controller/configchange/async_validation_test.go
  pkg/controller/configchange/handler.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): verify runtime map writes; fall back to reload on divergence
  CHANGELOG.md
  pkg/dataplane/client/runtime_maps.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_runtime_map_verify_test.go
  tests/e2e/gateway_forward.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): skip_reload on cert/crt-list deletes — stop self-inflicted double reloads
  CHANGELOG.md
  pkg/dataplane/client/storage_crtlist.go
  pkg/dataplane/client/storage_crtlist_test.go
  pkg/dataplane/client/storage_ssl.go
  pkg/dataplane/client/storage_ssl_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): gateway churn/soak tier + nightly-gateway-churn job
  .gitlab-ci.yml
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  tests/e2e/gateway_churn_test.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): surface degraded by-name backends — Warning Events for Ingress, pinned ResolvedRefs for routes
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/tests/60-status.yaml
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/templates/clusterrole.yaml
  openspec/specs/template-libraries/spec.md
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): consume spoa-hub v0.7.3 reload-quiesce fix
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/values.yaml
  docs/adr/0009-aux-file-skip-reload.md
  docs/controller/docs/operations/spoa-hub.md
  openspec/specs/spoa-hub-library/spec.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

release process: unify chart + controller into a single release
  .gitlab-ci.yml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
  docs/controller/docs/development/releasing.md
  scripts/README.md
  scripts/release.sh
  tests/e2e/ingress_haproxy_ingress_waf_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

release: haptic v0.2.0-alpha.1
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/docs/changelog.md
  charts/haptic/docs/gateway-class.md
  charts/haptic/docs/index.md
  charts/haptic/docs/ssl-certificates.md
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  docs/controller/docs/changelog.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/docs/operations/high-availability.md
  docs/landing/overrides/home.html
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

ci: derive the spoa release image tag in script context
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(e2e): scale/performance validation tier + nightly-scale job
  .gitignore
  .gitlab-ci.yml
  tests/e2e/constants.go
  tests/e2e/fixtures.go
  tests/e2e/main_test.go
  tests/e2e/scale_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): per-source migration coverage for migrate-check
  CHANGELOG.md
  Makefile
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/library_loader_test.yaml
  docs/controller/docs/migrating.md
  openspec/specs/template-libraries/spec.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/core/config/types.go
  scripts/check-migration-coverage.sh
  scripts/gen-migration-docs.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: generic migrate-check subcommand for ingress-controller migration audits
  CHANGELOG.md
  Dockerfile
  Makefile
  cmd/controller/CLAUDE.md
  cmd/controller/chartrender.go
  cmd/controller/main.go
  cmd/controller/migratecheck.go
  cmd/controller/migratecheck_sources.go
  cmd/controller/migratecheck_test.go
  cmd/controller/testdata/migratecheck/config.yaml
  cmd/controller/testdata/migratecheck/list/ingress-list.yaml
  cmd/controller/testdata/migratecheck/manifests/ingresses.yaml
  cmd/controller/validate.go
  docs/controller/docs/migrating.md
  docs/controller/docs/validation-tests.md
  go.mod
  go.sum
  pkg/controller/effectiveconfig.go
  pkg/controller/effectiveconfig_test.go
  pkg/controller/migratecheck/format.go
  pkg/controller/migratecheck/format_test.go
  pkg/controller/migratecheck/ingress.go
  pkg/controller/migratecheck/migratecheck.go
  pkg/controller/migratecheck/migratecheck_test.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/typebootstrap_clients.go
  pkg/controller/typebootstrap_wiring.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: pin migrate-check image tag; single-pass doc version rewrite in release.sh
  docs/controller/docs/migrating.md
  scripts/release.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: ADR-0013 accept the bounded rolling-restart worker residual (#70)
  docs/adr/0013-rolling-restart-leaving-worker-residual.md
  pkg/dataplane/orchestrator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: pin migrate-check image tag; single-pass doc version rewrite in release.sh
  .gitlab-ci.yml
  docs/controller/docs/migrating.md
  scripts/release.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test: de-flake scheduler completion and HTTPRoute split tests
  pkg/controller/deployer/scheduler_test.go
  tests/e2e/httproute_split_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): bound the rolling-restart sentinel to the ADR-0013 residual (#70)
  tests/e2e/ingress_rolling_restart_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): don't retry 'No such backend' as reload-in-progress (#72)
  CHANGELOG.md
  pkg/dataplane/client/retry.go
  pkg/dataplane/client/retry_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deployer): fast self-reschedule + status-on-failure for retryable deploys (#72)
  CHANGELOG.md
  pkg/controller/deployer/handle_deployment_failure_retry_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): route-gate the deploy-convergence marker to fix test-e2e flakiness (#71)
  tests/e2e/gateway_tls_terminate_test.go
  tests/e2e/grpc_tls_test.go
  tests/e2e/httproute_basic_test.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/httproute_matchers_test.go
  tests/e2e/httproute_split_test.go
  tests/e2e/wait_controller_view.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/text to v0.39.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(metrics): fleet-convergence & config-staleness gauges + alerts
  CHANGELOG.md
  charts/haptic/dashboards/haptic.json
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/tests/prometheusrule_test.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/monitoring.md
  pkg/controller/metrics/README.md
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): fix TestIngressRateLimit stdout-capture flake (#74)
  tests/e2e/ingress_rate_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update k8s.io/kube-openapi digest to cdb1db5
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/oapi-codegen/v2 to v2.7.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go version to v1.26.5
  .tool-versions
  go.mod
  tools/linters/eventimmutability/go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 8c0a1e7
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/sync to v0.22.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to c00f6dd
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/text to v0.40.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
