Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

chore(deps): update ghcr.io/yannh/kubeconform docker tag to v0.8.0
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(k8s): project on-demand informer bodies to cut CachedStore memory (ADR-0012 Mechanism 1)
  .golangci.yml
  CHANGELOG.md
  docs/adr/0012-on-demand-projection-and-access-gated-reconcile.md
  pkg/k8s/indexer/filter.go
  pkg/k8s/indexer/rootfield_test.go
  pkg/k8s/store/README.md
  pkg/k8s/store/cached.go
  pkg/k8s/store/cached_projected_test.go
  pkg/k8s/watcher/projection.go
  pkg/k8s/watcher/projection_test.go
  pkg/k8s/watcher/watcher.go
  pkg/k8s/watcher/watcher_projection_integration_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

build(chart): add chart-size-check gate for the Helm release-Secret limit
  .gitlab-ci.yml
  Makefile
  scripts/check-chart-release-size.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency yannh/kubeconform to v0.8.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): default the gateway configmaps watch to store: on-demand
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/_index.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency anchore/syft to v1.45.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(controller): run validationTests on config load so the daemon never accepts an invalid config
  CHANGELOG.md
  pkg/controller/configchange/handler.go
  pkg/controller/controller.go
  pkg/controller/validator/integration_test.go
  pkg/controller/validator/names.go
  pkg/controller/validator/validationtests.go
  pkg/controller/validator/validationtests_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): config_rejected_total metric + acceptance test for the validationTests gate
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  tests/acceptance/env.go
  tests/acceptance/error_scenarios_test.go
  tests/acceptance/fixtures.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(controller): coalesce superseded config loads
  CHANGELOG.md
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/handler_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(webhook): run validationTests at admission to close the load-gate time bomb
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  pkg/controller/configtest/configtest.go
  pkg/controller/configtest/configtest_test.go
  pkg/controller/iteration.go
  pkg/controller/validator/validationtests.go
  pkg/controller/webhook.go
  pkg/controller/webhook/component.go
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_test.go
  tests/e2e/haproxytemplateconfig_admission_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/oapi-codegen/v2 to v2.7.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency helm-unittest/helm-unittest to v1.1.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency mikefarah/yq to v4.53.3
  .gitlab/ci/images/ci/Dockerfile
Due: none

fix(deps): update module golang.org/x/sync to v0.21.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency sigstore/cosign to v3.1.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 2c626a9
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/text to v0.38.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: slash-only HAProxy target paths + Windows/dev test-infra hardening
  CHANGELOG.md
  Makefile
  cmd/controller/validate.go
  pkg/controller/config.go
  pkg/controller/configtest/configtest.go
  pkg/controller/extract_validation_dir_config_test.go
  pkg/controller/rendercontext/file_registry.go
  pkg/controller/renderer/consistency.go
  pkg/controller/renderer/service.go
  pkg/controller/renderer/service_test.go
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/rendering.go
  pkg/dataplane/auxiliaryfiles/crtlist.go
  pkg/dataplane/auxiliaryfiles/generic.go
  pkg/dataplane/auxiliaryfiles/generic_helpers_test.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/auxiliaryfiles/ssl_ca.go
  pkg/dataplane/auxiliaryfiles/ssl_helpers.go
  pkg/dataplane/paths_test.go
  pkg/k8s/configpublisher/auxiliary_files.go
  pkg/k8s/configpublisher/auxiliary_files_ssl_retry_test.go
  pkg/k8s/configpublisher/name_helpers.go
  pkg/templating/filters.go
  pkg/templating/filters_string.go
  pkg/templating/profiling_test.go
  scripts/test-templates.sh
  tests/integration/CLAUDE.md
  tests/integration/kind_cluster.go
  tests/kindutil/dind.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: hermetic unit tests — no external binaries, loopback-only listeners
  CLAUDE.md
  pkg/controller/configtest/main_test.go
  pkg/controller/pipeline/main_test.go
  pkg/controller/pipeline/pipeline_test.go
  pkg/controller/proposalvalidator/component_test.go
  pkg/controller/proposalvalidator/main_test.go
  pkg/controller/validation/main_test.go
  pkg/controller/validation/service_test.go
  pkg/controller/validator/main_test.go
  pkg/dataplane/CLAUDE.md
  pkg/dataplane/dataplanetest/dataplanetest.go
  pkg/dataplane/haproxy_exec.go
  pkg/dataplane/main_test.go
  pkg/dataplane/validate_haproxy.go
  pkg/dataplane/validator_test.go
  pkg/dataplane/version.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: lint every pkg/ package and fix newly surfaced findings
  Makefile
  pkg/httpstore/fetcher.go
  pkg/httpstore/fetcher_test.go
  pkg/httpstore/overlay_test.go
  pkg/httpstore/store_test.go
  pkg/httpstore/store_validation_helpers_test.go
  pkg/httpstore/types.go
  pkg/introspection/http_test.go
  pkg/lifecycle/builder_test.go
  pkg/lifecycle/dependencies.go
  pkg/lifecycle/leader_async_test.go
  pkg/metrics/helpers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: gitignore the parent chart's Chart.lock
  .gitignore
Due: none

fix(deps): update module golang.org/x/tools to v0.46.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

fix: route HAProxy 3.3+ schema validation to the bundled v3.3 validators
  CHANGELOG.md
  pkg/dataplane/validate_syntax.go
  pkg/dataplane/validate_syntax_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to cee078c
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency kubernetes/kubernetes to v1.36.2
  .gitlab/ci/images/ci/Dockerfile
Due: none

fix(deps): update kubernetes packages to v0.36.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): never trust config version 1 in the version cache
  CHANGELOG.md
  pkg/dataplane/client/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(controller): unify component event loops on component.Base
  pkg/controller/CLAUDE.md
  pkg/controller/component/base.go
  pkg/controller/component/base_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_lifecycle.go
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
  pkg/controller/deployer/handle_event_dispatch_test.go
  pkg/controller/discovery/component.go
  pkg/controller/discovery/component_shutdown_test.go
  pkg/controller/discovery/discovery_logic.go
  pkg/controller/discovery/handle_version_check_failure_test.go
  pkg/controller/discovery/handlers.go
  pkg/controller/discovery/handlers_initial_discovery_test.go
  pkg/controller/indextracker/tracker.go
  pkg/controller/proposalvalidator/component.go
  pkg/controller/proposalvalidator/component_test.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/reconciler/reconciler_test.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
  pkg/controller/statecache.go
  pkg/controller/statecache_test.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(controller): slim iteration wiring to consumed outputs
  pkg/controller/iteration.go
  pkg/controller/leader.go
  pkg/controller/reconciliation.go
  pkg/controller/watchers.go
  pkg/controller/webhook.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/vuln to v1.4.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update docker/dockerfile docker tag to v1.25
  Dockerfile.spoa-hub
Due: none

fix(deps): update kubernetes packages to bc653b6
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/runtime to v1.4.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: remove cargo-cult subscription sleeps; clarify RULE #1 scope
  CLAUDE.md
  pkg/CLAUDE.md
  pkg/controller/debug/events_test.go
  pkg/controller/metrics/component_test.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: cancel configpublisher K8s calls on shutdown (ctx propagation)
  CHANGELOG.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/flush_pending_publish_test.go
  pkg/controller/configpublisher/handle_pod_terminated_test.go
  pkg/controller/configpublisher/handle_pods_discovered_test.go
  pkg/controller/configpublisher/handle_status_trigger_test.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/configpublisher/process_publish_work_throttle_test.go
  pkg/controller/configpublisher/workers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(comparator): extract compareContainerSection generic
  pkg/dataplane/comparator/comparator.go
  pkg/dataplane/comparator/compare_config.go
  pkg/dataplane/comparator/compare_network.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
