Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Require verified merge trains and budget CI spending
  .gitar/review/ci-verification.md
  .gitlab-ci.yml
  .gitlab/ci/verification-policy.json
  AGENTS.md
  CLAUDE.md
  Makefile
  docs/agents/ci.md
  docs/site/docs/development/releasing.md
  scripts/ci/__init__.py
  scripts/ci/budget.py
  scripts/ci/configuration.py
  scripts/ci/gitlab.py
  scripts/ci/verification.py
  scripts/tests/test_ci_budget.py
  scripts/tests/test_ci_chart_rules.py
  scripts/tests/test_ci_verification.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Fix false admission conflicts between isolated snapshots
  CHANGELOG.md
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_snapshots.go
  pkg/controller/renderer/input_isolation_journal_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Emit input-rejection events and fix HTTP refresh validation
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  docs/site/docs/operations/input-isolation.md
  pkg/controller/eventemitter/component.go
  pkg/controller/eventemitter/component_test.go
  pkg/controller/events/input.go
  pkg/controller/events/types.go
  pkg/controller/input_isolation.go
  pkg/controller/inputisolation/rejections.go
  pkg/controller/inputisolation/service.go
  pkg/controller/inputisolation/service_test.go
  pkg/controller/renderer/incremental_http_pending_test.go
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_vector_cold.go
  pkg/httpstore/overlay.go
  tests/acceptance/CLAUDE.md
  tests/acceptance/README.md
  tests/acceptance/env.go
  tests/acceptance/fixtures.go
  tests/acceptance/input_isolation_cases_test.go
  tests/acceptance/input_isolation_test.go
  tests/acceptance/parallel_test.go
  tests/acceptance/tls.go
  tests/acceptance/webhook_cert_rotation_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Wait for merge-train preview cleanup before verifying publication
  scripts/ci/verification.py
  scripts/tests/test_ci_verification.py
Due: none

fix: report fetched content rejected before acceptance
  CHANGELOG.md
  docs/site/docs/operations/metrics-reference.md
  docs/site/docs/watching-resources.md
  pkg/controller/commentator/insights_config.go
  pkg/controller/commentator/log_levels.go
  pkg/controller/config.go
  pkg/controller/configchange/status_updater.go
  pkg/controller/configchange/status_updater_test.go
  pkg/controller/configloader/loader.go
  pkg/controller/configloader/loader_test.go
  pkg/controller/events/config.go
  pkg/controller/events/http.go
  pkg/controller/events/types.go
  pkg/controller/httpstore/CLAUDE.md
  pkg/controller/httpstore/component.go
  pkg/controller/httpstore/component_test.go
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  scripts/lib/upgrade-traffic.sh
  scripts/tests/test_upgrade_traffic.py
  tests/acceptance/input_isolation_cases_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: haptic v0.4.1
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/upgrade-notes.md
  docs/site/docs/validation-tests.md
  scripts/lib/admission.sh
  scripts/tests/test_admission_readiness.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: verify v0.4.1 upgrades and pin the repaired documentation publisher
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: avoid repeated nightly and feature suites
  .gitlab-ci.yml
  Makefile
  docs/agents/ci.md
  docs/site/docs/development/gateway-api-upgrade-playbook.md
  scripts/ci/nightly.py
  scripts/shard-go-tests.py
  scripts/tests/test_ci_chart_rules.py
  scripts/tests/test_ci_nightly.py
  scripts/tests/test_ci_schedules.py
  scripts/tests/test_ci_verification.py
  scripts/tests/test_e2e_profiles.py
  scripts/tests/test_shard_go_tests.py
  tests/e2e/CLAUDE.md
  tests/e2e/profiles/api-gateway.txt
  tests/e2e/profiles/cache.txt
  tests/e2e/profiles/rate-limit.txt
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: preserve hostname precedence for catch-all GRPCRoutes
  CHANGELOG.md
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/22-hostname-precedence.yaml
  tests/e2e/gateway_route_identity_test.go
  tests/e2e/shard-weights.json
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: haptic v0.5.0
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/upgrade-notes.md
  docs/site/docs/validation-tests.md
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/README.md
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
  pkg/controller/testrunner/worker_budget_test.go
  pkg/k8s/store/revision.go
  pkg/k8s/store/revision_growth_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: maintain upgrades and docs after v0.5.0
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults
