Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(chart): budget vector with margin and let the scale tier test the default
  CHANGELOG.md
  charts/haptic/values.yaml
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(templating): add untar_gz for building config from a fetched archive
  CHANGELOG.md
  docs/site/docs/template-reference.md
  pkg/templating/filter_names.go
  pkg/templating/filters_archive.go
  pkg/templating/filters_archive_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): reserve 1Gi for vector, cap at 1536Mi
  CHANGELOG.md
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(e2e): aim the scale tier's GOMEMLIMIT at the RSS budget
  tests/e2e/main_test.go
  tests/e2e/scale_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(status): let observedGeneration rise when a checksum was never published
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/spec_generations.go
  pkg/k8s/configpublisher/spec_generations_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(validators): send the files a config references alongside it
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  docs/development/validator-protocol.md
  pkg/apis/haproxytemplate/v1alpha1/types_validators.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/iteration.go
  pkg/controller/pluggablevalidator/cache.go
  pkg/controller/pluggablevalidator/cache_test.go
  pkg/controller/pluggablevalidator/manager.go
  pkg/controller/pluggablevalidator/manager_test.go
  pkg/controller/pluggablevalidator/protocol.go
  pkg/controller/pluggablevalidator/protocol_test.go
  pkg/core/config/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: pin every Varnish image reference to the version deployed
  .gitignore
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/values.yaml
  cmd/controller/preflight.go
  docs/site/docs/reference.md
  renovate.json
  scripts/check-values-docs.sh
  tests/e2e/constants.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(status): Programmed requires the whole fleet; delete observedGeneration
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxycrtlistfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxygeneralfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_haproxycfg.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/publisher.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/spec_generations.go
  pkg/k8s/configpublisher/spec_generations_test.go
  pkg/k8s/configpublisher/ssa_test_helpers_test.go
  tests/e2e/fixtures.go
  tests/e2e/gateway_tls_terminate_test.go
  tests/e2e/grpc_tls_test.go
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/httproute_basic_test.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/httproute_matchers_test.go
  tests/e2e/httproute_split_test.go
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
  tests/e2e/ingress_rolling_restart_test.go
  tests/e2e/observed_generation_test.go
  tests/e2e/wait_controller_forget.go
  tests/e2e/wait_controller_view.go
  tests/e2e/wait_resource_deployed.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): fetch the OWASP CRS over HTTP instead of using the embedded copy
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/25-crs-source.yaml
  charts/haptic/libraries/spoa-hub/tests/crs-source.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  pkg/controller/iteration.go
  pkg/controller/pluggablevalidator/manager.go
  pkg/controller/pluggablevalidator/manager_test.go
  pkg/controller/pluggablevalidator/protocol.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: bump the bundled SPOA hub and coraza plugin
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(httpstore): name the refresh option `interval`, keep `delay` working
  CHANGELOG.md
  charts/haptic/libraries/spoa-hub/25-crs-source.yaml
  docs/site/docs/watching-resources.md
  pkg/controller/httpstore/wrapper.go
  pkg/controller/httpstore/wrapper_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): split the shared rate-limit test so it stops requiring coraza
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): cache staleness, origin-driven TTL and conditional revalidation
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
  tests/e2e/ingress_haptic_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: bump the coraza plugin to v0.10.0 for live CRS reload
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): capture the access-log drop counter and vector state on failure
  tests/e2e/cleanup.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): unblock both red renovate MRs and stop the doc-pin drift recurring
  .vale.ini
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  docs/site/docs/libraries/gateway.md
  docs/site/docs/migrating.md
  docs/site/docs/reference.md
  docs/vale/styles/Haptic/HeadingPunctuation.yml
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency errata-ai/vale to v3.17.0
  .gitlab/ci/images/ci/Dockerfile
Due: none

fix(chart): resolve the CRS Include directory instead of hardcoding it
  CHANGELOG.md
  Makefile
  charts/haptic/libraries/spoa-hub/25-crs-source.yaml
  charts/haptic/libraries/spoa-hub/tests/crs-source.yaml
  scripts/check-storage-dir-literals.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update valkey/valkey docker tag to v9.1.1-alpine
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  tests/e2e/constants.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): rate-limit store loses its primary on Sentinel failover
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): dump the rate-limit store's own logs on failure
  tests/e2e/cleanup.go
  tests/e2e/constants.go
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): gate image pins that drift silently
  Makefile
  scripts/check-image-pins.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: run the e2e shards on haptic-annotations changes
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(webhook): stop dropping idle API-server connections after 10s
  pkg/webhook/server.go
  pkg/webhook/server_test.go
  pkg/webhook/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): fail when a dataplane dir the bundled pod cannot honour is set
  CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/dataplane-storage-dirs_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): declare cache-key variance to caches downstream of HAPTIC
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): negative caching for 404 and 410
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: ADR-0015 on tag-based cache invalidation, and the cold-cache facts
  docs/adr/0015-tag-based-cache-invalidation.md
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): only a consumer-keyed route may cache authenticated requests
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): declarative log-derived metrics, and richer cache access-log fields
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/85-access-log-fields.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): close the cache leaks found by the audit
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-request metrics from the access log
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/Chart.yaml
  charts/haptic/charts/vector/Chart.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/vector-podmonitor.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/reference.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  scripts/check-library-yaml.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: cover the metrics ports in NetworkPolicy and the per-route claim
  docs/site/docs/index.md
  docs/site/docs/operations/networking.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): strip forgeable identity headers before setting them
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/60-jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/jwt-auth.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): managed rate-limit store could never fail over
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/values.yaml
  tests/e2e/cleanup.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): scope security rules by matched route, not by Host header
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): close the fail-open auth and authorization paths
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/60-jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security-authz.yaml
  charts/haptic/charts/haptic-annotations/tests/jwt-auth.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  docs/site/docs/migrating.md
  scripts/test-chart-upgrade.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): non-identity controls must fail open, not refuse traffic
  CHANGELOG.md
  Makefile
  charts/CLAUDE.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
  scripts/check-shipped-log-metrics.sh
  scripts/test-templates.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): admission must not reject on a Secret the store has not seen yet
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(chart): move the remaining libraries into subcharts
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/charts/base/Chart.yaml
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/ingress-annotations-compat/Chart.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/ingress/Chart.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/spoa-hub/10-features.yaml
  charts/haptic/charts/spoa-hub/20-config-content.yaml
  charts/haptic/charts/spoa-hub/25-crs-source.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/Chart.yaml
  charts/haptic/charts/spoa-hub/_index.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  charts/haptic/charts/spoa-hub/tests/coraza.yaml
  charts/haptic/charts/spoa-hub/tests/crs-source.yaml
  charts/haptic/charts/spoa-hub/tests/general.yaml
  charts/haptic/charts/ssl/Chart.yaml
  charts/haptic/charts/ssl/library.yaml
  charts/haptic/templates/_libraries.tpl
  docs/site/docs/development/crd-validation-design.md
  docs/site/docs/ssl-certificates.md
  scripts/check-library-yaml.sh
  scripts/check-migration-coverage.sh
  scripts/test-chart-upgrade.sh
  scripts/test-install-without-gateway-api.sh
  tests/e2e/ingress_modsecurity_snippet_wildcard_host_test.go
  tests/e2e/ingress_rolling_restart_test.go
  tests/e2e/scale_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults
