Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

perf: replace serial server updates with runtime-optimized path
  pkg/dataplane/client/config.go
  pkg/dataplane/comparator/compare_backends.go
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/factory_server_test.go
  pkg/dataplane/comparator/sections/factory_test.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_execution.go
  pkg/dataplane/orchestrator_execution_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: build_info metric, HAProxy version refactor, and runtime path fixes
  charts/haptic/libraries/base.yaml
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/factory_server_test.go
  pkg/dataplane/orchestrator_execution.go
  tests/integration/sync_servers_test.go
  tests/integration/testdata/servers/enabled-with-check-on-line.cfg
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: treat server metadata (pod comments) as runtime-eligible
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/factory_server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add Grafana dashboard annotations for leader transitions and pod starts
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/grafana-dashboard.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add backend diff field diagnostics to reconciliation log
  CHANGELOG.md
  pkg/controller/commentator/insights.go
  pkg/controller/deployer/deployment.go
  pkg/controller/events/deployment.go
  pkg/dataplane/comparator/compare_backends.go
  pkg/dataplane/comparator/compare_backends_test.go
  pkg/dataplane/comparator/diff.go
  pkg/dataplane/orchestrator_results.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: use synchronous forceReload to eliminate async reload delay
  pkg/dataplane/client/config.go
  pkg/dataplane/client/config_test.go
  pkg/dataplane/client/transaction.go
  pkg/dataplane/orchestrator_execution.go
  tests/integration/sync_common_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: fix factual errors and improve ergonomics across controller and chart docs
  README.md
  charts/haptic/docs/annotations.md
  charts/haptic/docs/configuration.md
  charts/haptic/docs/haproxy-deployment.md
  charts/haptic/docs/index.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/docs/operations/debugging.md
  charts/haptic/docs/operations/high-availability.md
  charts/haptic/docs/operations/monitoring.md
  charts/haptic/docs/operations/networking.md
  charts/haptic/docs/operations/troubleshooting.md
  charts/haptic/docs/ssl-certificates.md
  charts/haptic/docs/template-libraries.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/linting.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/docs/operations/debugging.md
  docs/controller/docs/operations/high-availability.md
  docs/controller/docs/operations/monitoring.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/operations/security.md
  docs/controller/docs/operations/spiffe-mtls.md
  docs/controller/docs/supported-configuration.md
  docs/controller/docs/templating.md
  docs/controller/docs/troubleshooting.md
  docs/controller/docs/validation-tests.md
  docs/controller/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

chore(deps): update dependency goreleaser/goreleaser to v2.14.3
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

release: HAPTIC v0.1.0
  .gitignore
  CHANGELOG.md
  README.md
  SECURITY.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/docs/index.md
  charts/haptic/docs/ssl-certificates.md
  docs/controller/docs/changelog.md
  docs/controller/docs/development/releasing.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/docs/supported-configuration.md
  docs/controller/docs/templating.md
  docs/development/releasing.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

chore(deps): update dependency anchore/syft to v1.42.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: improve SEO meta tags, titles, and search visibility
  charts/haptic/docs/index.md
  charts/haptic/mkdocs.yml
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
  docs/controller/mkdocs.yml
  docs/landing/docs/index.md
  docs/landing/docs/robots.txt
  docs/landing/mkdocs.yml
  docs/landing/overrides/home.html
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

docs: improve landing page body content for SEO keyword relevance
  docs/landing/docs/stylesheets/extra.css
  docs/landing/overrides/home.html
Due: none

docs: fix broken anchors and cross-site link in documentation
  charts/haptic/docs/annotations.md
  charts/haptic/docs/changelog.md
  docs/controller/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

docs: fix broken doc links and pin mkdocs<2 in CI
  .gitlab/ci/images/python-docs/Dockerfile
Due: none

fix(deps): update linting tools to v2.11.3
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: show only stable releases in source version widget
  charts/haptic/docs/javascripts/stable-version.js
  charts/haptic/mkdocs.yml
  docs/controller/docs/javascripts/stable-version.js
  docs/controller/mkdocs.yml
  docs/landing/docs/javascripts/stable-version.js
  docs/landing/mkdocs.yml
  docs/shared/javascripts/stable-version.js
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

feat(chart): support dict format for extraDeploy
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/extra-deploy.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module golang.org/x/tools to v0.43.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 3484965
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/text to v0.35.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): pod-maxconn only counts Running+Ready pods and avoids reload cascades
  Makefile
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: add troubleshooting guide for shm-stats-file-max-objects limit
  docs/controller/docs/troubleshooting.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module github.com/getkin/kin-openapi to v0.134.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/runtime to v1.3.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: update landing page version and add release docs trigger
  .gitlab-ci.yml
  docs/landing/overrides/home.html
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: prevent line break in helm version on landing page
  docs/landing/docs/stylesheets/extra.css
Due: none

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to d85e6bc
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages to v0.35.3
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency anchore/syft to v1.42.3
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.3
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update linting tools to v2.11.4
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/klauspost/compress to v1.18.5
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 0eaa6ed
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 08b1094
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to f3e5b64
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/runtime to v1.3.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency goreleaser/goreleaser to v2.15.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency goreleaser/goreleaser to v2.15.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency goreleaser/goreleaser to v2.15.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to d0f621b
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
