Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(deps): update module github.com/kimmachinegun/automemlimit to v1
  cmd/haptic/run.go
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep a YAML timestamp in a k8sResources document renderable
  CHANGELOG.md
  pkg/controller/renderer/k8sresource_docs_test.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep route propagation flat past a few hundred HTTPRoutes
  CHANGELOG.md
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  docs/site/docs/crd-reference.md
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
  docs/site/docs/watching-resources.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/currentfiles_admission_test.go
  pkg/controller/reconciliation.go
  pkg/controller/renderer/incremental_commit_fence_test.go
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_snapshots.go
  pkg/controller/renderer/service.go
  pkg/controller/resourcewatcher/watcher.go
  pkg/controller/resourcewatcher/watcher_test.go
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  pkg/controller/webhook.go
  pkg/controller/webhook_capabilities_test.go
  pkg/core/config/types.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/inplace_test.go
  pkg/httpstore/active_lease.go
  pkg/incremental/exact_value_external_test.go
  pkg/incremental/graph.go
  pkg/incremental/session.go
  pkg/incremental/transaction_test.go
  pkg/incremental/types.go
  pkg/k8s/indexer/filter.go
  pkg/k8s/indexer/filter_test.go
  pkg/k8s/store/memory.go
  pkg/k8s/store/revision_test.go
  pkg/k8s/watcher/self_write_echo_test.go
  scripts/bench-gateway-api.sh
  scripts/tests/test_bench_gateway_api.sh
  tests/schemas/haproxy-haptic.org_haproxytemplateconfigs.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Read a session's cached activations from the generation it began on
  cmd/haptic/admission_activation_consistency_test.go
  pkg/controller/renderer/incremental_activation.go
  pkg/controller/renderer/incremental_session.go
  pkg/incremental/graph.go
  pkg/incremental/session.go
  pkg/incremental/transaction_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep the whole controller log in the acceptance diagnostics
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Let a render gate verdict name every occurrence of the plan it judged
  CHANGELOG.md
  docs/adr/0022-haptic-agent.md
  pkg/controller/deployer/cycle_snapshot_test.go
  pkg/controller/deployer/gate_latch_test.go
  pkg/controller/deployer/output_identity.go
  pkg/controller/deployer/revert.go
  pkg/controller/deployer/revert_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/rendergate/rendergate.go
  pkg/controller/rendergate/rendergate_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop repeating per-render work that does not depend on the change
  CHANGELOG.md
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/operations/performance.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/renderer/extra_context_test.go
  pkg/controller/renderer/incremental_binding_plan.go
  pkg/controller/renderer/incremental_binding_plan_test.go
  pkg/controller/renderer/incremental_group_index.go
  pkg/controller/renderer/incremental_group_memo.go
  pkg/controller/renderer/incremental_publication_snapshot.go
  pkg/controller/renderer/incremental_snapshot_authentication.go
  pkg/controller/renderer/service.go
  pkg/dataplane/renderplan/file_document.go
  pkg/dataplane/renderplan/plan.go
  pkg/dataplane/renderplan/snapshot.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go version to v1.27.1
  .gitlab/ci/images/ci/tools/go.mod
  .tool-versions
  go.mod
  tools/linters/eventimmutability/go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.4.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Judge a publication's readers on the session's base, not the graph's head
  pkg/controller/renderer/incremental_selector.go
  pkg/controller/renderer/incremental_selector_staging_test.go
  pkg/controller/renderer/incremental_session.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Cut the per-change render cost again: count natives, spliced identities, reused auxiliary roots
  CHANGELOG.md
  charts/haptic/charts/gateway/10-features.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/ingress/library.yaml
  docs/site/docs/operations/performance.md
  docs/site/docs/template-reference.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/plan_document.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/renderer/exact_cycle_incremental.go
  pkg/controller/renderer/exact_cycle_root_reuse.go
  pkg/controller/renderer/exact_cycle_root_reuse_test.go
  pkg/controller/renderer/exact_cycle_service.go
  pkg/controller/renderer/incremental_cold_render_test.go
  pkg/controller/renderer/incremental_publication_snapshot.go
  pkg/controller/renderer/incremental_selector.go
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_values.go
  pkg/controller/renderer/service.go
  pkg/dataplane/planblob/planblob_test.go
  pkg/dataplane/renderoutput/delta.go
  pkg/dataplane/renderoutput/document.go
  pkg/dataplane/renderoutput/snapshot.go
  pkg/dataplane/renderplan/canonical.go
  pkg/dataplane/renderplan/canonical_map.go
  pkg/dataplane/renderplan/canonical_map_test.go
  pkg/dataplane/renderplan/document_transition.go
  pkg/dataplane/renderplan/mapentries.go
  pkg/dataplane/renderplan/mapentries_test.go
  pkg/dataplane/renderplan/snapshot.go
  pkg/templating/engine_scriggo.go
  pkg/templating/exact_cycle_replay.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/incremental_runtime.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Cut the per-change deploy cost and stop the leader retaining every map version
  CHANGELOG.md
  docs/site/docs/operations/monitoring.md
  pkg/controller/component/base.go
  pkg/controller/component/base_mailbox_depth_test.go
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/cycle_snapshot_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/plan_cache.go
  pkg/controller/metrics/README.md
  pkg/controller/metrics/mailbox_depth.go
  pkg/controller/metrics/mailbox_depth_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/renderer/admission_slots_test.go
  pkg/controller/renderer/service.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  pkg/dataplane/deployplan/exact.go
  pkg/dataplane/planblob/planblob.go
  pkg/dataplane/planblob/planblob_test.go
  pkg/dataplane/renderplan/backend_equal.go
  pkg/dataplane/renderplan/backend_equal_test.go
  pkg/dataplane/renderplan/canonical.go
  pkg/dataplane/renderplan/mapentries.go
  pkg/dataplane/renderplan/mapentries_test.go
  pkg/dataplane/renderplan/snapshot.go
  pkg/dataplane/renderplan/snapshot_json_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Let a passing render restore the Validated condition
  CHANGELOG.md
  pkg/controller/configchange/status_updater.go
  pkg/controller/configchange/status_updater_test.go
  scripts/lib/cluster.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Apply only the status patches that changed since the last snapshot
  CHANGELOG.md
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/delta_test.go
  pkg/templating/internal/statuspatchprojection/projection.go
  pkg/templating/status_patch_delta.go
  pkg/templating/status_patch_delta_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update non-major dependencies
  .gitlab/ci/images/ci/tools/go.mod
  .gitlab/ci/images/ci/tools/go.sum
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxycrtlistfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxygeneralfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplatelibraries.yaml
  go.mod
  go.sum
  pkg/generated/clientset/versioned/clientset.go
  pkg/generated/clientset/versioned/fake/clientset_generated.go
  pkg/generated/informers/externalversions/factory.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxycfg.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxycrtlistfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxygeneralfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxymapfile.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxytemplateconfig.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/haproxytemplatelibrary.go
  pkg/generated/informers/externalversions/haproxytemplate/v1alpha1/interface.go
  tests/schemas/haproxy-haptic.org_haproxycfgs.yaml
  tests/schemas/haproxy-haptic.org_haproxycrtlistfiles.yaml
  tests/schemas/haproxy-haptic.org_haproxygeneralfiles.yaml
  tests/schemas/haproxy-haptic.org_haproxymapfiles.yaml
  tests/schemas/haproxy-haptic.org_haproxytemplateconfigs.yaml
  tests/schemas/haproxy-haptic.org_haproxytemplatelibraries.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Chain the prepared plan output memo across snapshots
  CHANGELOG.md
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/renderer/incremental_prepared_plan.go
  pkg/controller/renderer/incremental_prepared_plan_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Re-render a reconcile that lost the HTTP acceptance race
  CHANGELOG.md
  pkg/controller/pipeline/input_conflict_retry_test.go
  pkg/controller/pipeline/pipeline.go
  pkg/httpstore/active_lease.go
  pkg/httpstore/prepared_commit.go
  pkg/httpstore/staged_source.go
  pkg/httpstore/store.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Accept pilot-load's signal exit after the harness stopped it
  scripts/bench-gateway-api.sh
  scripts/tests/test_bench_gateway_api.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Count the render before publishing its completion event
  pkg/controller/reconciler/coordinator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Bound the renderer tests' scheduling waits by time, not by yields
  pkg/controller/renderer/incremental_batch_capability_generation_test.go
  pkg/controller/renderer/incremental_bound_resource_frame_test.go
  pkg/controller/renderer/incremental_vector_direct_call_test.go
  pkg/controller/renderer/incremental_vector_direct_resource_test.go
  pkg/controller/renderer/incremental_vector_execution_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Give the conformance controller the chart's memory limit
  .gitlab-ci.yml
  scripts/dev-env-assets/conformance-values.yaml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Compare the workload container's exit with the exit the harness observed
  scripts/bench-gateway-api.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Re-render a reconcile whose cold graph cache lost to a concurrent render
  pkg/controller/pipeline/input_conflict_retry_test.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/warmer/warmer.go
  pkg/controller/warmer/warmer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Apply create-only fields with the resourceVersion they were read at
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/create_only_fields_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep synthetic backend traffic inside the kind cluster
  .gitlab-ci.yml
  scripts/lib/cluster.sh
  scripts/start-dev-env.sh
  scripts/test-helm-defaults.sh
  tests/CLAUDE.md
  tests/acceptance/main_test.go
  tests/e2e/main_test.go
  tests/integration/kind_cluster.go
  tests/kindutil/blackhole.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Move the conformance module with gateway-api main in the nightly canary
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Drop the scale-server-slots demo the chart now rejects
  scripts/dev-env-assets/ingress-demo.yaml
  scripts/start-dev-env.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop re-validating the configuration an iteration was built from
  CHANGELOG.md
  pkg/controller/configchange/async_validation_test.go
  pkg/controller/configchange/handler.go
  scripts/dev-env-assets/dev-values.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Validate a served-resource change on the running iteration before rebuilding
  CHANGELOG.md
  pkg/controller/configchange/async_validation_test.go
  pkg/controller/configchange/handler.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Hand leadership from one iteration to the next without a vacancy
  CHANGELOG.md
  docs/site/docs/development/design/configuration.md
  docs/site/docs/development/design/sequence-diagrams.md
  pkg/controller/CLAUDE.md
  pkg/controller/LEADER_ONLY_COMPONENTS.md
  pkg/controller/commentator/log_levels.go
  pkg/controller/controller.go
  pkg/controller/events/leader.go
  pkg/controller/iteration.go
  pkg/controller/iteration_test.go
  pkg/controller/leader.go
  pkg/controller/leaderelection/CLAUDE.md
  pkg/controller/leaderelection/component.go
  pkg/controller/metrics/metrics.go
  pkg/controller/reconciliation.go
  pkg/controller/reload_authority.go
  pkg/controller/renderer/incremental_source_transaction_poison_test.go
  pkg/controller/renderer/service.go
  pkg/controller/warmer/warmer.go
  pkg/controller/warmer/warmer_test.go
  pkg/controller/webhook/component.go
  pkg/k8s/leaderelection/elector.go
  pkg/k8s/leaderelection/elector_test.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Measure the deploy split and take the controller off its critical path
  CHANGELOG.md
  cmd/haptic/agent_state.go
  cmd/haptic/diff_pod.go
  docs/site/docs/getting-started.md
  examples/basic-apply/main.go
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/insights_pipeline.go
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/baseline_seed.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/revert.go
  pkg/controller/discovery/discovery_logic.go
  pkg/controller/events/deployment.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/client/client.go
  pkg/dataplane/agent/client/client_test.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/transaction.go
  pkg/dataplane/deployplan/maps.go
  pkg/dataplane/deployplan/maps_window_test.go
  pkg/dataplane/renderplan/plan.go
  scripts/bench-gateway-api.sh
  scripts/tests/test_analyze_gateway_api_children.py
  scripts/tests/test_bench_gateway_api.sh
  tests/agent/apply_test.go
  tests/agent/recovery_test.go
  tests/agent/runtime_test.go
  tests/agent/session.go
  tests/integration/session.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fall back to the module origin when the Go proxy fails the conformance build
  .gitlab-ci.yml
  tests/e2e/leader_change_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Hand the plan blob to the pod after the apply, not with it
  CHANGELOG.md
  docs/site/docs/development/agent.md
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/plan_keeper.go
  pkg/dataplane/README.md
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/client/client.go
  pkg/dataplane/agent/client/client_test.go
  pkg/dataplane/agent/client/errors.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop the e2e availability monitor before its probe, and tell it why
  tests/e2e/haproxy_pod_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Wait for the config publisher to subscribe before publishing test events
  pkg/controller/configpublisher/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Scan the root document once, by marker, when assembling the plan
  CHANGELOG.md
  pkg/controller/rendercontext/plan_assembly.go
  pkg/controller/rendercontext/plan_assembly_document.go
  pkg/controller/rendercontext/plan_assembly_scan_test.go
  pkg/controller/rendercontext/plan_registry.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Compare only the backends that moved when the plan document transitions
  CHANGELOG.md
  pkg/controller/rendercontext/plan_backend_source.go
  pkg/controller/rendercontext/plan_backend_source_test.go
  pkg/controller/rendercontext/plan_document.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/rendercontext/plan_snapshot.go
  pkg/dataplane/renderplan/backend_source.go
  pkg/dataplane/renderplan/backend_source_test.go
  pkg/dataplane/renderplan/delta.go
  pkg/dataplane/renderplan/document_transition.go
  pkg/dataplane/renderplan/file_document.go
  pkg/dataplane/renderplan/snapshot.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep post-processed sections a render did not look up
  CHANGELOG.md
  pkg/templating/postprocessor_cache.go
  pkg/templating/postprocessor_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop copying the plan the plan cache does not keep
  pkg/controller/deployer/plan_cache.go
  pkg/controller/deployer/plan_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
