Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Scrape HAProxy's Prometheus exporter directly; HAProxy applies the exclusion policy
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/vector/Chart.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/templates/haproxy-podmonitor.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-podmonitor.yaml
  charts/haptic/templates/vector-podmonitor.yaml
  charts/haptic/tests/haproxy-podmonitor_test.yaml
  charts/haptic/tests/prometheus-exporter_values_test.yaml
  charts/haptic/tests/spoa-hub-podmonitor_test.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/adr/0021-haproxy-exporter-scraped-directly.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/reference.md
  scripts/test-templates.sh
  tests/e2e/constants.go
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/haproxy_pod_test.go
  tests/e2e/vector_sidecar_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Push-stall diagnostics for #159; fix haproxy.dataplane.validateConfig
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/charts/gateway/tests/22-routing-precedence.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  docs/site/docs/reference.md
  pkg/dataplane/client/config.go
  pkg/dataplane/client/pushtrace.go
  pkg/dataplane/client/pushtrace_test.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Bundle SPOA hub v0.13.0 + rate-limit v0.4.0 (per-plugin reload, plugin logs); fix e2e hub-config collector; buildx without provenance
  .gitlab-ci.yml
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Add pkg/dataplane/renderplan: the structure a render declares
  pkg/dataplane/renderplan/mapentries.go
  pkg/dataplane/renderplan/plan.go
  pkg/dataplane/renderplan/plan_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

templating: expose the post-processor chain and declare planRegistry
  pkg/templating/engine_interface.go
  pkg/templating/engine_scriggo.go
  pkg/templating/filters_scriggo.go
  pkg/templating/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Assemble every render through PlanRegistry and RenderMain
  cmd/haptic/benchmark.go
  cmd/haptic/benchmark_render.go
  pkg/controller/currentconfigstore/store.go
  pkg/controller/helpers/declarations.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/plan_assembly.go
  pkg/controller/rendercontext/plan_record.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/rendercontext/render_main.go
  pkg/controller/renderer/plan.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Test the plan registry, assembly invariants and RenderMain
  pkg/controller/rendercontext/plan_assembly_test.go
  pkg/controller/rendercontext/plan_record.go
  pkg/controller/rendercontext/plan_registry_test.go
  pkg/controller/rendercontext/render_main_test.go
  pkg/controller/testrunner/runner_test.go
  pkg/controller/validator/base_test.go
  pkg/dataplane/renderplan/plan.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Document the plan registry global and the currentConfig shape
  CHANGELOG.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  pkg/controller/rendercontext/CLAUDE.md
  pkg/templating/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Declare base's backends through a Backend() macro
  charts/haptic/charts/base/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Declare the Ingress-side backends through Backend()
  charts/haptic/charts/haptic-annotations/40-features.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/nginx-ingress/17-default-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Declare the Gateway-side backends through Backend()
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/90-tcproute.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Declare a validationTest's previous servers as data, not config text
  CHANGELOG.md
  charts/haptic/charts/gateway/tests/60-status.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplatelibraries.yaml
  docs/site/docs/crd-reference.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/validation-tests.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/rendercontext/plan_files.go
  pkg/controller/renderer/current_config.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/runner_test.go
  pkg/core/config/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Snapshot every validationTest's rendered output for comparison
  CHANGELOG.md
  cmd/haptic/snapshot.go
  cmd/haptic/snapshot_test.go
  cmd/haptic/validate.go
  hack/render-snapshot.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fail CI when a render's plan does not describe what it emitted
  cmd/haptic/plan_differential_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Declare the remaining chart backends through Backend()
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/spoa-hub/10-features.yaml
  charts/haptic/charts/ssl/library.yaml
  pkg/controller/rendercontext/plan_record.go
  pkg/controller/rendercontext/plan_registry_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Point the render-context notes at the currentServers fixture
  pkg/controller/rendercontext/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Assert no placeholder line reaches HAProxy
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/ingress/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Expect the renamed binary in the CRD hook test
  charts/haptic/tests/crd-upgrade-hook_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Document the Backend() contract
  CHANGELOG.md
  charts/CLAUDE.md
  docs/site/docs/libraries/base.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Format the default-server line from keyword records
  charts/haptic/charts/base/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Add the HAPTIC agent wire contract (pkg/dataplane/agent/api)
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/api/limits.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Bundle rate-limit plugin v0.4.1 (breaker HalfOpen wedge fix)
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Agent: the file tree the manifest owns (pkg/dataplane/agent/files)
  pkg/dataplane/agent/files/device_linux.go
  pkg/dataplane/agent/files/device_other.go
  pkg/dataplane/agent/files/files_test.go
  pkg/dataplane/agent/files/journal.go
  pkg/dataplane/agent/files/path.go
  pkg/dataplane/agent/files/store.go
  pkg/dataplane/agent/files/transaction.go
  pkg/dataplane/agent/files/write.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Agent client and in-process fake agent
  .golangci.yml
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/client/apply_body.go
  pkg/dataplane/agent/client/client.go
  pkg/dataplane/agent/client/client_test.go
  pkg/dataplane/agent/client/errors.go
  pkg/dataplane/agent/client/validate.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Agent: the op -> command table and the worker socket (pkg/dataplane/agent/cli)
  pkg/dataplane/agent/agenttest/commands.go
  pkg/dataplane/agent/agenttest/files.go
  pkg/dataplane/agent/agenttest/haproxy.go
  pkg/dataplane/agent/agenttest/proxies.go
  pkg/dataplane/agent/api/limits.go
  pkg/dataplane/agent/cli/client.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/inventory.go
  pkg/dataplane/agent/cli/program.go
  pkg/dataplane/agent/cli/program_files.go
  pkg/dataplane/agent/cli/program_test.go
  pkg/dataplane/agent/cli/response.go
  pkg/dataplane/agent/cli/tokens.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Agent docker suite: the agent as a black box against a real HAProxy
  .gitlab-ci.yml
  Makefile
  scripts/check-test-inventory.sh
  tests/agent/apply_test.go
  tests/agent/config.go
  tests/agent/docker.go
  tests/agent/env.go
  tests/agent/image.go
  tests/agent/main_test.go
  tests/agent/recovery_test.go
  tests/agent/runtime_test.go
  tests/agent/session.go
  tests/agent/tls_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Decide each pod's apply from two render plans (pkg/dataplane/deployplan)
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/deployplan/backends.go
  pkg/dataplane/deployplan/backends_test.go
  pkg/dataplane/deployplan/caps.go
  pkg/dataplane/deployplan/caps_test.go
  pkg/dataplane/deployplan/certs.go
  pkg/dataplane/deployplan/certs_test.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/diff_test.go
  pkg/dataplane/deployplan/files_test.go
  pkg/dataplane/deployplan/index.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/inplace_test.go
  pkg/dataplane/deployplan/keywords.go
  pkg/dataplane/deployplan/maps.go
  pkg/dataplane/deployplan/maps_test.go
  pkg/dataplane/deployplan/plans_test.go
  pkg/dataplane/deployplan/sections_test.go
  pkg/dataplane/deployplan/servers.go
  pkg/dataplane/deployplan/servers_test.go
  pkg/dataplane/renderplan/plan.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Chart: the worker runtime socket in the rendered and bootstrap global
  charts/haptic/charts/base/library.yaml
  charts/haptic/tests/haproxy-configmap_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Agent: the apply endpoint and its state machine (pkg/dataplane/agent/server)
  cmd/haptic/agent.go
  cmd/haptic/main.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/metrics.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/state.go
  pkg/dataplane/agent/server/statemachine.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Align with the merged contract, and document the agent's test layers
  .golangci.yml
  CHANGELOG.md
  docs/site/docs/development/agent.md
  docs/site/mkdocs.yml
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/client/validate.go
  tests/CLAUDE.md
  tests/agent/config.go
  tests/agent/runtime_test.go
  tests/agent/session.go
  tests/agent/tls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Key every plan file by the path the config references it by
  cmd/haptic/plan_differential_test.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/plan_assembly_test.go
  pkg/controller/rendercontext/plan_files.go
  pkg/controller/rendercontext/plan_registry.go
  pkg/controller/rendercontext/plan_registry_test.go
  pkg/controller/rendercontext/render_main_test.go
  pkg/controller/renderer/service.go
  pkg/controller/testrunner/rendering.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Ack the plan from the runtime-raw lane too
  pkg/controller/deployer/plan_threading_test.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/stack.go
  pkg/k8s/configpublisher/ssa_test_helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Refuse a mismatched digest, not a mismatched length
  pkg/dataplane/agent/agenttest/agent_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Agent: fault simulation, benchmarks and the development docs
  CHANGELOG.md
  cmd/haptic/agent.go
  docs/site/docs/development/agent.md
  docs/site/mkdocs.yml
  pkg/dataplane/agent/agenttest/commands.go
  pkg/dataplane/agent/agenttest/files.go
  pkg/dataplane/agent/agenttest/haproxy.go
  pkg/dataplane/agent/agenttest/proxies.go
  pkg/dataplane/agent/cli/client.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/inventory.go
  pkg/dataplane/agent/cli/program.go
  pkg/dataplane/agent/cli/program_files.go
  pkg/dataplane/agent/cli/program_test.go
  pkg/dataplane/agent/files/files_test.go
  pkg/dataplane/agent/files/store.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/bench_test.go
  pkg/dataplane/agent/server/faultsim_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/metrics.go
  pkg/dataplane/agent/server/paths_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/statemachine.go
  pkg/dataplane/agent/server/transaction.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Agent: the reload budget is the api limit, and drop a config knob nothing read
  cmd/haptic/agent.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/statemachine.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
