Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(chart): finish the fail-open sweep — schema validation and backend CA
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/request-validation.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): make both size gates render the same worst-case profile
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): record degraded controls as degraded_by, not denied_by
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
  charts/haptic/values.yaml
  scripts/check-shipped-log-metrics.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): per-control degradation signals, and comments that match the code
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
  charts/haptic/values.yaml
  scripts/check-shipped-log-metrics.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): non-identity controls must fail open, not refuse traffic
  CHANGELOG.md
  Makefile
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/request-validation.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
  scripts/check-shipped-log-metrics.sh
  scripts/test-templates.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): report why a SPOE verdict was missing
  CHANGELOG.md
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): WAF fail-open still denied 403 when the plugin never answered
  charts/haptic/charts/haproxy-ingress/tests/waf.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  charts/haptic/values.yaml
  docs/adr/0016-one-config-kind-many-instances-pre-rollout-validation.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: RULE #3 — size is not the argument for comment length
  CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin the fail-open gate on the rate limiter and schema validation
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): allow cache-enable with HMAC and consumer-group auth
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 26c0901
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(adr): ADR-0016 — one config kind, many instances, validated before rollout
  docs/adr/0016-one-config-kind-many-instances-pre-rollout-validation.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): enforce rate and bandwidth limits on cache-enabled routes
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency errata-ai/vale to v3.17.1
  .gitlab/ci/images/ci/Dockerfile
Due: none

chore(deps): update dependency sigstore/cosign to v3.1.3
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/klauspost/compress to v1.19.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: rebuild the toolchain image from pinned, verified inputs
  .gitlab-ci.yml
  .gitlab/ci/build-pins.yml
  .gitlab/ci/image-build-inputs.txt
  .gitlab/ci/images/ci/Dockerfile
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  .gitlab/ci/images/ci/requirements.in
  .gitlab/ci/images/ci/requirements.lock
  .gitlab/ci/images/ci/tools/go.mod
  .gitlab/ci/images/ci/tools/go.sum
  .gitlab/ci/images/python-docs/Dockerfile
  .gitlab/ci/images/python-docs/requirements.in
  .gitlab/ci/images/python-docs/requirements.lock
  scripts/ci-image-input-hash.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Authenticate the cache origin and gate diagnostics to loopback
  go.mod
  pkg/introspection/http.go
  pkg/introspection/server.go
  tests/acceptance/debug_client.go
  tests/acceptance/env.go
  tests/e2e/crd_upgrade_test.go
  tests/e2e/env.go
  tests/e2e/gateway_churn_test.go
  tests/testutil/loopback_pod_client.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): fence internal ports out of the permissive NetworkPolicy
  CHANGELOG.md
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/tests/haproxy-networkpolicy_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): pass DOC_VERSION and HAPTIC_RELEASE_COMMIT_SHA to the pages trigger
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(controller): stop a typed nil from panicking the config loader
  CHANGELOG.md
  pkg/controller/component/base.go
  pkg/controller/resourceloader/base.go
  pkg/controller/resourceloader/base_typed_nil_test.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/single_sync_typed_nil_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): converge a runtime-map add conflict instead of reloading
  CHANGELOG.md
  pkg/dataplane/client/runtime_maps.go
  pkg/dataplane/client/runtime_maps_conflict_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): move the governance engine to its own library
  CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/charts/governance/Chart.yaml
  charts/haptic/charts/governance/library.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): emit each pod address once in pod-names.map
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(e2e): construct debugClient through a constructor
  .gitlab-ci.yml
  tests/e2e/crd_upgrade_test.go
  tests/e2e/env.go
  tests/e2e/gateway_churn_test.go
  tests/e2e/gwapi_release_matrix_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(dataplane): keep single-use parses out of the config cache
  CHANGELOG.md
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/parser/enterprise/parser.go
  pkg/dataplane/parser/parser.go
  pkg/dataplane/parser/parser_uncached_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(renovate): stop treating placeholder ARG defaults as dependencies
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): trigger the pages deploy on the publisher tag
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(ci): emit the playground bundle's release-identity marker
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to c1c8100
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update k8s.io/utils digest to cf1189d
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(templating): type-preserving collection pipelines
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  docs/adr/0018-typed-collection-pipelines.md
  docs/site/docs/templating.md
  pkg/controller/typebootstrap/declarations.go
  pkg/controller/typebootstrap/nested_types.go
  pkg/controller/typebootstrap/nested_types_test.go
  pkg/templating/CLAUDE.md
  pkg/templating/README.md
  pkg/templating/benchmark_pipeline_test.go
  pkg/templating/engine_scriggo.go
  pkg/templating/filter_names.go
  pkg/templating/filters_pipeline.go
  pkg/templating/filters_pipeline_test.go
  pkg/templating/filters_scriggo.go
  pkg/templating/render_context_cancellation_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(dataplane): attribute parser-cache misses and stop the last polluters
  pkg/controller/currentconfigstore/store.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/parser_cache_collector.go
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/runner.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_cache_attribution_test.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/parser/enterprise/parser.go
  pkg/dataplane/parser/parsed_config_cache_test.go
  pkg/dataplane/parser/parser.go
  pkg/dataplane/parser/parser_cache_sources_test.go
  pkg/dataplane/validate_syntax.go
  pkg/dataplane/validator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(templating): lower pipelines in every position, shrink the fallback
  docs/adr/0018-typed-collection-pipelines.md
  go.mod
  go.sum
  pkg/templating/benchmark_pipeline_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(templating): cheaper VM pool for the closure-call path
  docs/adr/0018-typed-collection-pipelines.md
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 80f994e
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 5dfe5ec
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
