Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(chart): Allow handshake on invalid client cert under InsecureFallback
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): attachedListenerSets uses accepted+conflict-free listener flags
  charts/haptic/libraries/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): emit ListenerSet parentRef status for HTTPRoute/GRPCRoute
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "feat(chart): status patcher uses per-Gateway LB IP (phase 5/6)"
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/19-status-per-gateway-address.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-Gateway LoadBalancer Service emission (phase 3/6)
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/tests/17-per-gateway-services.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart,conformance): per-Gateway-IP architecture polish
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): status patcher uses per-Gateway LB IP (phase 5/6)
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/19-status-per-gateway-address.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "feat(chart): per-Gateway LoadBalancer Service emission (phase 3/6)"
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/tests/17-per-gateway-services.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-Gateway HAProxy bind emission (phase 4/6)
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(conformance): RoundTripper keys NodePort by (LB-IP, port) (phase 6/6)
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): per-Gateway-listener crt-list emission (phase 2/6)
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/tests/16-crtlist-per-listener.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): gate Gateway Programmed=True on deploy success, not just render
  charts/haptic/libraries/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "fix(chart,conformance): per-Gateway-IP architecture polish"
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart,conformance): per-Gateway-IP regression repair
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): host:port host.map lookup for non-default-port listeners
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart,controller): stabilize per-Gateway-IP plumbing under conformance load
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  pkg/controller/resourceapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "feat(chart): per-Gateway HAProxy bind emission (phase 4/6)"
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/tests/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-Gateway-listener pod-port allocator (phase 1/6)
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/tests/15-pod-port-allocator.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): run the suite as a sibling container on the kind network
  .gitlab-ci.yml
  Dockerfile.conformance-test
  Makefile
  tests/conformance/gateway_conformance_test.go
  tests/conformance/grpcclient.go
  tests/conformance/roundtripper.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(conformance): leave fixtures applied after the suite exits
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): default omitted matcher type fields to Exact
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/21-routing-headers.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

cleanup(chart): batch 2 — extract shared macros, dedup classifier (#9, #11, #12)
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): tighten TimeoutConfig so fail-mode shards finish in minutes
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart,e2e): replace chart NodePort pinning with narrowed kube range
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  tests/conformance/roundtripper.go
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: shard conformance suite across 4 parallel jobs
  .gitlab-ci.yml
  scripts/shard-conformance-tests.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(conformance): DinD-aware gRPC client rewrites LB-IP dials to host extraPortMapping
  tests/conformance/gateway_conformance_test.go
  tests/conformance/grpcclient.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "test(conformance): gate CI-DinD-only skip list behind kindutil.IsDockerInDocker"
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): port txn.listener_port setup to regex-last routing variant
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

cleanup(chart): dedup frontend-routing-logic via util-routing-prefix/suffix (#14)
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): gate HTTPRoute/GRPCRoute/TLSRoute Accepted=True on deploy success
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(test-conformance): bake kubeconfig into image instead of bind-mounting
  Dockerfile.conformance-test
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart,e2e): pin per-Gateway HTTPS NodePorts so DinD can reach them
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(conformance): retry dial once on stale-NodePort connection-refused
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(conformance): remap chart-static NodePorts to kind extraPortMapping in DinD
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): gate CI-DinD-only skip list behind kindutil.IsDockerInDocker
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

cleanup(chart,templating): batch 1 of audit follow-ups (#1-#8 + #13)
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/50-binds.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/ssl.yaml
  pkg/templating/filter_names.go
  pkg/templating/filters_collection.go
  pkg/templating/filters_collection_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
