Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

Deploy from the snapshot's shared plan and stage parts in megabyte runs
  CHANGELOG.md
  pkg/controller/deployer/output_identity.go
  pkg/dataplane/agent/files/write.go
  pkg/dataplane/agent/server/bench_test.go
  pkg/dataplane/renderplan/delta.go
  pkg/dataplane/renderplan/document_transition.go
  pkg/dataplane/renderplan/file_document.go
  pkg/dataplane/renderplan/snapshot.go
  pkg/dataplane/renderplan/snapshot_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Retry a plugin download the registry refuses once, and name it
  scripts/prep-spoa-plugins.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Seed the config publisher with the iteration's template config
  pkg/controller/configpublisher/README.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/handle_config_validated_test.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/reconciliation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Send a changed file as the bytes that differ from what the pod holds
  CHANGELOG.md
  docs/site/docs/development/agent.md
  pkg/controller/commentator/insights_pipeline.go
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/file_patch.go
  pkg/controller/deployer/file_patch_test.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/agenttest/parity_test.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/client/apply_body.go
  pkg/dataplane/agent/client/validate.go
  pkg/dataplane/agent/files/write.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/bench_test.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/patch_test.go
  pkg/dataplane/agent/server/transaction.go
  scripts/bench-gateway-api.sh
  scripts/tests/test_bench_gateway_api.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Index a plan once for the deploy diff and stop queuing provenance checks behind the status walk
  CHANGELOG.md
  pkg/controller/commentator/insights_pipeline.go
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/cycle_snapshot_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/plan_cache.go
  pkg/controller/deployer/plan_cache_test.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/controller/events/deployment.go
  pkg/dataplane/deployplan/backends.go
  pkg/dataplane/deployplan/certs.go
  pkg/dataplane/deployplan/deployplan.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/diff_test.go
  pkg/dataplane/deployplan/index.go
  pkg/dataplane/deployplan/inplace.go
  pkg/dataplane/deployplan/maps.go
  pkg/dataplane/renderplan/backend_equal.go
  pkg/dataplane/renderplan/snapshot.go
  pkg/templating/status_patch.go
  pkg/templating/status_patch_delta.go
  pkg/templating/status_patch_snapshot.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Retry the conformance module download and say why an availability probe failed
  Makefile
  tests/e2e/haproxy_pod_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Write down what a session needs to know before it touches this repo
  CLAUDE.md
  docs/agents/handoff.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "Merge branch 'docs/agent-session-handoff' into 'main'"
  CLAUDE.md
  docs/agents/handoff.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Compare rendered k8sResources and Events for determinism
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  pkg/controller/testrunner/assert_deterministic_divergence_test.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/fixtures_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Reduce ranked-text and current-file snapshot allocations
  CHANGELOG.md
  Makefile
  pkg/controller/currentfiles.go
  pkg/controller/currentfiles_root_test.go
  pkg/controller/publishedauxfiles.go
  pkg/controller/renderer/incremental_text_fragment.go
  pkg/controller/renderer/incremental_text_fragment_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix reconciliation intake during synchronous renders
  CHANGELOG.md
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/coordinator_intake_test.go
  pkg/controller/reconciler/coordinator_mailbox.go
  pkg/controller/reconciler/coordinator_mailbox_test.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/controller/subscriber_inventory_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Diff projected status snapshots by shared immutable roots
  CHANGELOG.md
  arch-go.yml
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/delta_test.go
  pkg/persistenttree/changes.go
  pkg/persistenttree/changes_test.go
  pkg/templating/CLAUDE.md
  pkg/templating/internal/statuspatchprojection/plan.go
  pkg/templating/internal/statuspatchprojection/plan_delta.go
  pkg/templating/internal/statuspatchprojection/plan_delta_test.go
  pkg/templating/status_patch_delta.go
  pkg/templating/status_patch_projection.go
  pkg/templating/status_patch_projection_plan.go
  pkg/templating/status_patch_reordering_test.go
  pkg/templating/status_patch_selection.go
  pkg/templating/status_patch_selection_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Bound render production by resource application completion
  CHANGELOG.md
  docs/adr/0024-resource-application-backpressure.md
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/log_levels.go
  pkg/controller/events/README.md
  pkg/controller/events/resources_processed.go
  pkg/controller/events/resources_processed_test.go
  pkg/controller/events/types.go
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/coordinator_resource_application.go
  pkg/controller/reconciler/coordinator_resource_application_test.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/controller/resourceapplier/README.md
  pkg/controller/resourceapplier/completion_test.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/subscriber_inventory_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix publication status races with pod deployment updates
  CHANGELOG.md
  pkg/controller/configpublisher/lifecycle_test.go
  pkg/controller/configpublisher/publication_authority_test.go
  pkg/controller/configpublisher/ssa_test_helpers_test.go
  pkg/k8s/configpublisher/README.md
  pkg/k8s/configpublisher/auxiliary_cleanup.go
  pkg/k8s/configpublisher/publisher_test.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/runtime_status_concurrency_test.go
  pkg/k8s/configpublisher/runtime_status_patch.go
  pkg/k8s/configpublisher/ssa_test_helpers_test.go
  tests/e2e/publication_status_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix stale render-gate verdict error classification
  CHANGELOG.md
  pkg/controller/deployer/README.md
  pkg/controller/deployer/gate_verdict_delivery_test.go
  pkg/controller/deployer/scheduler_handlers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix concurrent template compilation with isolated Scriggo constants
  CHANGELOG.md
  go.mod
  go.sum
  pkg/templating/compiler_concurrency_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Preserve fatal template error values across Scriggo execution
  CHANGELOG.md
  go.mod
  go.sum
  pkg/templating/render_context_cancellation_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(templating): preserve value semantics and native panic recovery
  CHANGELOG.md
  go.mod
  go.sum
  pkg/templating/value_semantics_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(test): preserve the pinned SPOA bundle in full-stack runs
  Dockerfile.spoa-hub
  Makefile
  docs/site/docs/operations/performance.md
  scripts/bench-gateway-api.sh
  scripts/smoke-spoa-image.sh
  scripts/test-spoa-reload.sh
  scripts/tests/test_spoa_bundle_provenance.sh
  tests/e2e/CLAUDE.md
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: use the chart-selected Vector image for span checks
  .gitlab-ci.yml
  .gitlab/ci/build-pins.yml
  scripts/test-vector-spans.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: align HAProxy test image pins with the Helm chart
  .gitlab-ci.yml
  .gitlab/ci/build-pins.yml
  .gitlab/ci/images/ci/Dockerfile
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  Makefile
  docs/agents/build-pins.md
  renovate.json
  scripts/build-ci-image.sh
  scripts/check-image-pins.py
  scripts/check-image-pins.sh
  scripts/tests/test_check_image_pins.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: validate preflight configs with chart-selected images
  .golangci.yml
  CHANGELOG.md
  cmd/haptic/CLAUDE.md
  cmd/haptic/preflight.go
  cmd/haptic/preflight_sidecars.go
  cmd/haptic/preflight_sidecars_test.go
  cmd/haptic/preflight_test.go
  docs/site/docs/operations/validate-before-deploy.md
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/cycle_time_test.go
  pkg/controller/testrunner/runner.go
  pkg/templating/cycle_time.go
  pkg/templating/cycle_time_test.go
  pkg/templating/exact_cycle_effects.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: derive runtime images from the Helm chart
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  docs/agents/test-images.md
  scripts/bench-gateway-api.sh
  scripts/chart-haproxy-image.sh
  scripts/start-dev-env.sh
  scripts/test-chart-upgrade.sh
  scripts/test-install-without-gateway-api.sh
  scripts/tests/test_chart_haproxy_image.sh
  tests/agent/image.go
  tests/agent/main_test.go
  tests/e2e/constants.go
  tests/e2e/haproxy_demo_backend.go
  tests/e2e/haproxy_mtls_backend.go
  tests/e2e/main_test.go
  tests/integration/image.go
  tests/integration/sync_common_test.go
  tests/kindutil/chart_images.go
  tests/kindutil/chart_images_test.go
  tests/kindutil/fixture_image.go
  tests/kindutil/fixture_image_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: retry fenced auxiliary cleanup conflicts
  CHANGELOG.md
  pkg/k8s/configpublisher/auxiliary_cleanup.go
  pkg/k8s/configpublisher/auxiliary_cleanup_retry_test.go
  pkg/k8s/configpublisher/auxiliary_cleanup_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: migrate Renovate manager file patterns
  renovate.json
  scripts/check-image-pins.py
  scripts/tests/test_check_image_pins.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: gate benchmark outcomes over the full lifecycle
  Makefile
  docs/site/docs/operations/performance.md
  scripts/analyze-gateway-api-outcomes.py
  scripts/bench-gateway-api.sh
  scripts/tests/test_analyze_gateway_api_children.py
  scripts/tests/test_analyze_gateway_api_outcomes.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: count accepted pending reloads as deployment progress
  CHANGELOG.md
  pkg/controller/metrics/CLAUDE.md
  pkg/controller/metrics/README.md
  pkg/controller/metrics/component.go
  pkg/controller/metrics/deployment_outcome_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: retain redacted output inconsistency evidence
  CHANGELOG.md
  pkg/controller/renderer/output_mismatch_diagnostic.go
  pkg/controller/renderer/output_mismatch_diagnostic_test.go
  pkg/controller/renderer/service.go
  pkg/dataplane/renderoutput/content_mismatch_diagnostic_test.go
  pkg/dataplane/renderoutput/validation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: HAPTIC 0.2.0-alpha.2
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/development/releasing.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/validation-tests.md
  scripts/release.sh
  scripts/spoa-release-image.sh
  scripts/tests/test_release.py
  scripts/tests/test_spoa_release_image.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: fix release tag lookup and retain GitLab-compatible attestations
  .gitlab-ci.yml
  scripts/tests/test_release.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: defer resource convergence during namespace termination
  CHANGELOG.md
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/namespace_termination_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: enforce chart-selected SPOA versions and bundle provenance
  .gitlab-ci.yml
  Makefile
  docs/agents/test-images.md
  scripts/bench-gateway-api.sh
  scripts/chart-spoa-image.sh
  scripts/dev-env-assets/conformance-values.yaml
  scripts/dev-env-assets/e2e-values.yaml
  scripts/test-helm-defaults.sh
  scripts/test-spoa-reload.sh
  scripts/tests/test_chart_spoa_image.sh
  scripts/tests/test_spoa_bundle_provenance.sh
  tests/e2e/CLAUDE.md
  tests/e2e/apply_rollback_test.go
  tests/e2e/constants.go
  tests/e2e/main_test.go
  tests/kindutil/chart_images.go
  tests/kindutil/chart_images_test.go
  tests/kindutil/pod_images.go
  tests/kindutil/pod_images_test.go
  tests/testutil/observation_probe.go
  tests/testutil/observation_probe_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): order canary and cache switching after request filters
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/32-canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/canary-mirror.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/charts/ssl/library.yaml
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/template-libraries.md
  pkg/controller/renderer/incremental_nginx_frontend_publications_chart_test.go
  scripts/test-templates.sh
  tests/e2e/ingress_annotations_table_test.go
  tests/e2e/ingress_haptic_canary_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: haptic v0.2.0-alpha.3
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(agent): fence deferred deletions to their HAProxy worker
  CHANGELOG.md
  docs/site/docs/development/agent.md
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/api/worker_test.go
  pkg/dataplane/agent/cli/client.go
  pkg/dataplane/agent/cli/client_test.go
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/deferred_test.go
  pkg/dataplane/agent/cli/session.go
  pkg/dataplane/agent/cli/session_test.go
  pkg/dataplane/agent/haproxytest/commands.go
  pkg/dataplane/agent/haproxytest/files.go
  pkg/dataplane/agent/haproxytest/haproxy.go
  pkg/dataplane/agent/server/apply_test.go
  pkg/dataplane/agent/server/lifecycle_test.go
  pkg/dataplane/agent/server/metrics.go
  pkg/dataplane/agent/server/reload.go
  pkg/dataplane/agent/server/server.go
  pkg/dataplane/agent/server/statemachine.go
  pkg/dataplane/agent/server/transaction.go
  scripts/analyze-gateway-api-outcomes.py
  scripts/bench-gateway-api.sh
  scripts/tests/test_analyze_gateway_api_outcomes.py
  tests/agent/apply_test.go
  tests/agent/config.go
  tests/agent/env.go
  tests/agent/recovery_test.go
  tests/agent/runtime_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(helm): omit HTTP demultiplexer without a listener
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/tests/51-http-demultiplexer.yaml
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): verify exact SPOA plugin release identities
  CHANGELOG.md
  Makefile
  scripts/prep-spoa-plugins.sh
  scripts/tests/test_spoa_plugins.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(rendercontent): reuse document subtrees across membership changes
  CHANGELOG.md
  docs/adr/0023-incremental-render-graph.md
  pkg/controller/rendercontext/plan_assembly_document.go
  pkg/controller/rendercontext/plan_assembly_membership_benchmark_test.go
  pkg/controller/renderer/incremental_custom_crd_chart_test.go
  pkg/controller/renderer/incremental_custom_crd_schema_test.go
  pkg/rendercontent/document.go
  pkg/rendercontent/document_rebuild.go
  pkg/rendercontent/document_rebuild_ranges_test.go
  pkg/rendercontent/document_rebuild_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): keep stock Varnish shared memory resident
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/reference.md
  tests/e2e/ingress_haptic_cache_memory_test.go
  tests/testutil/varnish_memory.go
  tests/testutil/varnish_memory_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(templating): update Scriggo for nil append handling
  CHANGELOG.md
  go.mod
  go.sum
  pkg/templating/filters_append_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
