Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

feat(chart): HTTPRoute rules with non-existent backend Service also return HTTP 500
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Gateway-level Programmed condition reflects listener health
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): skip malformed-PEM certs at registration time so HAProxy doesn't choke
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(gateway): drop debounceInterval to 1s for Gateway/HTTPRoute/GatewayClass watchers
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(controller): lower default debounce interval from 5s to 1s
  CHANGELOG.md
  charts/haptic/libraries/gateway.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/design/architecture-overview.md
  docs/controller/docs/operations/debugging.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/watching-resources.md
  pkg/controller/reconciler/CLAUDE.md
  pkg/core/CLAUDE.md
  pkg/core/config/defaults.go
  pkg/k8s/CLAUDE.md
  pkg/k8s/types/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(templating): make transitionTime resource-agnostic
  charts/haptic/libraries/gateway.yaml
  pkg/templating/CLAUDE.md
  pkg/templating/filter_names.go
  pkg/templating/filters_status.go
  pkg/templating/filters_status_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): use txn.gw_rule_id (was req.) so http-response filters survive into response phase
  Makefile
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): inherit listener hostnames into host.map for routes with empty spec.hostnames
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): add host-regex.map for multi-label wildcard listener hostnames
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): compute Gateway API hostname intersection between routes and listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): make HTTPRoute PathPrefix matching segment-aware
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): route conformance traffic through NodePort + back off metallb apply
  tests/conformance/gateway_conformance_test.go
  tests/conformance/roundtripper.go
  tests/e2e/metallb.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(acceptance): make WaitForLeaderElection return the stable holder identity
  tests/acceptance/env.go
  tests/acceptance/error_scenarios_test.go
  tests/acceptance/http_store_test.go
  tests/acceptance/leader_election_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): wire upstream Gateway API conformance suite + GatewayClass status reconciliation
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/haproxy-service.yaml
  docs/controller/docs/crd-reference.md
  docs/controller/docs/development/design/architecture-overview.md
  docs/controller/docs/operations/debugging.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/watching-resources.md
  go.mod
  go.sum
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/statusapplier/component.go
  pkg/core/CLAUDE.md
  pkg/core/config/defaults.go
  pkg/k8s/CLAUDE.md
  pkg/k8s/types/types.go
  pkg/templating/CLAUDE.md
  pkg/templating/filter_names.go
  pkg/templating/filters_status.go
  pkg/templating/filters_status_test.go
  pkg/templating/status_patch.go
  pkg/templating/status_patch_key_test.go
  pkg/templating/status_patch_test.go
  scripts/start-dev-env.sh
  tests/acceptance/env.go
  tests/acceptance/error_scenarios_test.go
  tests/acceptance/http_store_test.go
  tests/acceptance/leader_election_test.go
  tests/conformance/gateway_conformance_test.go
  tests/conformance/roundtripper.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/main_test.go
  tests/e2e/metallb.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(conformance): declare HTTPRoute redirect/rewrite/status-code features
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(conformance): declare all standard-channel features + fix RequestRedirect ReplacePrefixMatch
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): exclude features not implementable on the chart's data plane
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): bump conformance timeout to 60m / 70m so the suite finishes
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): set proto h2 on Gateway backends with appProtocol kubernetes.io/h2c
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): implement HTTPRoute spec.rules[].timeouts via http-request set-timeout
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): emit per-rule HTTPRoute timeouts in backend section, not frontend
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): URLRewrite ReplacePrefixMatch produces correct path with rp '/'
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-backendRef RequestHeaderModifier (BackendRequestHeaderModification)
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): treat ReferenceGrant-denied backendRefs as invalid for routing
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): honour parentRef.port when matching HTTPRoute to listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): return 421 on HTTPS SNI / Host mismatch for misdirected detection
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): implement HTTPRoute CORS filter
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin per-backendRef RequestHeaderModifier emit shape
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): emit additional bind directives for Gateway listener ports
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(chart): pin CORS catch-all routing (no hostnames, plain Gateway)
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): use listener-claim maps for HTTPS misdirected (421) detection
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): watch BackendTLSPolicy + emit status conditions
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire BackendTLSPolicy CA + hostname into HAProxy backend
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): order host-regex map by wildcard-suffix specificity
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): preserve request scheme on RequestRedirect when spec.scheme is unset
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): port-aware host map keys for Gateway listener-port routing
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): drop catch-all listener route hostnames claimed by sibling listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire Gateway spec.tls.frontend client-cert validation into crt-list
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire Gateway spec.tls.backend.clientCertificateRef into backend connections
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): pin BackendTLSPolicy apiVersion to v1
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
