Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

chore: split four large files into focused modules
  pkg/controller/commentator/insights.go
  pkg/controller/commentator/insights_config.go
  pkg/controller/commentator/insights_pipeline.go
  pkg/controller/commentator/insights_platform.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/sync_metadata.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
  pkg/dataplane/client/capabilities.go
  pkg/dataplane/client/clientset.go
  pkg/dataplane/client/version.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: recover from processor panics in loader event loop
  pkg/controller/resourceloader/base.go
  pkg/controller/resourceloader/base_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency goreleaser/goreleaser to v2.15.4
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency anchore/syft to v1.43.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

refactor: share leader-only subscription-ready plumbing
  pkg/controller/component/ready.go
  pkg/controller/component/ready_test.go
  pkg/controller/configpublisher/component.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/drift_monitor.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/renderer/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: consolidate BaseValidator and BaseLoader onto component.Base
  pkg/controller/component/base.go
  pkg/controller/component/base_test.go
  pkg/controller/resourceloader/base.go
  pkg/controller/validator/base.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): make Renovate actually detect HAProxy version updates
  charts/haptic/values.yaml
  renovate.json
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: build ci image on main merges when Dockerfile changes
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(ci): raise Renovate prHourlyLimit to 10
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor: collapse pkg/templating sub-interfaces into Engine
  pkg/templating/engine_interface.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to e583977
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/getkin/kin-openapi to v0.135.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/text to v0.36.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/tools to v0.44.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

chore: split cmd/controller/benchmark.go into focused modules
  cmd/controller/benchmark.go
  cmd/controller/benchmark_output.go
  cmd/controller/benchmark_render.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: split dryrunvalidator/component.go into focused modules
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/resource_mapping.go
  pkg/controller/dryrunvalidator/tests.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): only track stable HAProxy series in version ARGs
  .gitlab/ci/images/ci/Dockerfile
  Dockerfile
  versions.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): run build-ci in every pipeline and require it non-optionally
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(ci): lift Renovate prHourlyLimit (10 → unlimited)
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor: collapse boilerplate cached validator and checksum helpers
  pkg/dataplane/checksum.go
  pkg/dataplane/validators/cached.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(renovate): extend shared haproxy-haptic preset
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency mikefarah/yq to v4.53.2
  .gitlab/ci/images/ci/Dockerfile
Due: none

fix(deps): update kubernetes packages
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/oapi-codegen/runtime to v1.4.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/vuln to v1.3.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: extract cacheResource helper in CachedStore
  pkg/k8s/store/cached.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): clamp HAPROXY_VERSION ARGs to stable series via packageRule
  .gitlab/ci/images/ci/Dockerfile
  Dockerfile
  renovate.json
  versions.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to ca4c89a
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency kubernetes/kubernetes to v1.36.0
  .gitlab/ci/images/ci/Dockerfile
Due: none

refactor: alias comparator.Operation to sections.Operation
  pkg/dataplane/comparator/compare_certificate.go
  pkg/dataplane/comparator/compare_enterprise.go
  pkg/dataplane/comparator/compare_enterprise_test.go
  pkg/dataplane/comparator/compare_observability.go
  pkg/dataplane/comparator/operations.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): clamp haproxytech/haproxy-debian on .gitlab CI Dockerfile too
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor: extract generic compareIndexedItems for HTTP/TCP checks
  pkg/dataplane/comparator/compare_features.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: route remaining positional comparators through compareIndexedItems
  pkg/dataplane/comparator/compare_features.go
  pkg/dataplane/comparator/compare_frontends.go
  pkg/dataplane/comparator/compare_observability.go
  pkg/dataplane/comparator/compare_quic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: collapse server-index nil-safety helpers into one generic
  pkg/dataplane/comparator/compare_backends.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: route LCS-based rule comparators through compareEditedItems
  pkg/dataplane/comparator/compare_rules.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: route compareCrtStores through compareNamedSections
  pkg/dataplane/comparator/compare_security.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: route compare_config named-section walks through compareNamedSections
  pkg/dataplane/comparator/compare_config.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: extract compareNamedMaps for child-entry comparators
  pkg/dataplane/comparator/comparator.go
  pkg/dataplane/comparator/compare_config.go
  pkg/dataplane/comparator/compare_security.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
