Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

test(configpublisher): pin flushPendingPublish early-return guards
  pkg/controller/configpublisher/flush_pending_publish_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(controller): pin StateCache.handleConfigValidated log-level side effect
  pkg/controller/statecache_loglevel_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(comparator): pin formatServerChanges three-branch wrapper
  pkg/dataplane/comparator/diff_format_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(dataplane): pin parseAndCompareConfigs error-wrapping branches
  pkg/dataplane/orchestrator_parse_errors_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(deployer): pin DriftPreventionMonitor.handleLostLeadership (0% → covered)
  pkg/controller/deployer/drift_monitor_lost_leadership_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(configpublisher): pin handlePodsDiscovered startup-race guards
  pkg/controller/configpublisher/handle_pods_discovered_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(deployer): pin handleEndpointFailure event-publishing contract (0% → covered)
  pkg/controller/deployer/handle_endpoint_failure_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(deployer): pin handleEndpointSuccess event-publishing + state contracts (0% → covered)
  pkg/controller/deployer/handle_endpoint_success_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(configpublisher): pin handlePodTerminated startup-race guards
  pkg/controller/configpublisher/handle_pod_terminated_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(configpublisher): pin handleStatusTrigger throttle-decision branches
  pkg/controller/configpublisher/handle_status_trigger_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(deployer): pin handleEvent dispatch for DeploymentCancelRequestEvent
  pkg/controller/deployer/handle_event_dispatch_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(deployer): pin handleValidationCompleted canSkip + drift bypass
  pkg/controller/deployer/handle_validation_completed_skip_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(proposalvalidator): pin handleValidationRequest setup-error event path
  pkg/controller/proposalvalidator/handle_validation_setup_error_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(discovery): pin handleResourceSyncComplete three-branch state machine
  pkg/controller/discovery/handle_resource_sync_complete_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(renderer): pin handleEvent dispatch for LostLeadershipEvent
  pkg/controller/renderer/handle_event_dispatch_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(configchange): pin sendPendingConfig nil-pending + channel-full guards
  pkg/controller/configchange/send_pending_config_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(configchange): pin SetInitialConfigVersion bootstrap-loop guard
  pkg/controller/configchange/set_initial_config_version_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(templating): pin digReflect slow-path branches
  pkg/templating/filters_navigation_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(httpstore): pin Fetch cache-hit branch + LastAccessTime refresh
  pkg/httpstore/store_fetch_cache_hit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(component): pin Base.dispatch panic-edge branches
  pkg/controller/component/base_dispatch_panic_edges_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(resourcestore): pin OverlayStore List/Get error-passthrough
  pkg/controller/resourcestore/overlay_error_passthrough_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: combined batch of 18 high-value coverage pins (replaces !817-!834)
  pkg/controller/buffers/calculate_size_memlimit_test.go
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
  pkg/controller/deployer/handle_pods_discovered_empty_endpoints_test.go
  pkg/controller/extract_validation_dir_config_test.go
  pkg/controller/httpstore/register_url_test.go
  pkg/controller/reconciler/ensure_refractory_timer_negative_remaining_test.go
  pkg/controller/renderer/publish_render_failure_test.go
  pkg/dataplane/comparator/find_deleted_userlists_test.go
  pkg/dataplane/parser/extract_caches_test.go
  pkg/dataplane/parser/extract_named_sections_with_indexes_test.go
  pkg/dataplane/parser/extract_traces_test.go
  pkg/introspection/handlevar_500_branch_test.go
  pkg/k8s/configpublisher/cached_aux_file_status_nil_guards_test.go
  pkg/k8s/watcher/convert_to_unstructured_typed_runtime_test.go
  pkg/k8s/watcher/single_handle_delete_test.go
  pkg/k8s/watcher/single_invoke_on_change_test.go
  pkg/k8s/watcher/watcher_handle_delete_test.go
  pkg/lifecycle/leader_edges_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(api): drop unused namespaceSelector from watchedResources
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/docs/configuration.md
  docs/controller/docs/crd-reference.md
  docs/controller/docs/operations/performance.md
  docs/controller/docs/operations/security.md
  docs/controller/docs/watching-resources.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

fix(deps): update module github.com/getkin/kin-openapi to v0.137.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(spoa): bundled SPOA hub container image with verified plugins
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile.spoa-hub
  Makefile
  docs/controller/docs/operations/spoa-hub.md
  docs/controller/mkdocs.yml
  renovate.json
  scripts/prep-spoa-plugins.sh
  scripts/render-spoa-bundle.sh
  scripts/smoke-spoa-image.sh
  versions-spoa.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update docker/dockerfile docker tag to v1.23
  Dockerfile.spoa-hub
Due: none

feat(chart): conditional spoa-hub sidecar with per-plugin TOML params
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): controller-side SPOE rendering via spoa-hub library
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): external-auth flow via nginx.ingress.kubernetes.io/auth-url
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/values.yaml
  pkg/templating/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): external-auth flow via haproxy-ingress.github.io/auth-url
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(routes): E2E external-auth flow with auth-server fixture
  .gitlab-ci.yml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/spoa-hub-configmap.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  scripts/dev-env-assets/auth-server.yaml
  scripts/dev-env-assets/dev-values.yaml
  scripts/dev-env-assets/ingress-demo.yaml
  scripts/start-dev-env.sh
  scripts/test-routes.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): auth-signin annotation for browser sign-in redirect
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): bump external-auth to v0.3.0, wire auth-method annotation
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire haproxy-ingress.github.io/auth-headers-request annotation
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire auth-response-headers / auth-headers-pass + auth-headers-fail
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire haproxy-ingress.github.io/auth-tls-cert-secret annotation
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): auto-extend SPOE hdr_* args from auth-headers-request
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): rename auth-headers-pass to auth-headers-succeed; drop auth-tls-cert-secret
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
