Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(chart): raise coraza/api-gateway maxConcurrency 2→16 (fail-closed cliff)
  CHANGELOG.md
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency kubernetes/kubernetes to v1.36.3
  .gitlab/ci/images/ci/Dockerfile
Due: none

feat(chart): first-class adaptiveConcurrency for spoa-hub plugins (ADR-0002)
  CHANGELOG.md
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(reference): coraza/api-gateway maxConcurrency default is 16, not 2
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): adaptive WAF concurrency by default with a memory-derived ceiling
  CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): derive HAProxy nbthread from CPU limit, not request
  CHANGELOG.md
  charts/haptic/templates/_resources.tpl
  charts/haptic/values.yaml
  docs/site/docs/libraries/base.md
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(spoa): bump SPOA_HUB_VERSION to main-47d9fba2
  versions-spoa.env
Due: none

chore(spoa): bump bundled SPOA hub to v0.9.0
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module github.com/prometheus/client_golang to v1.24.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): tune SPOA hub sidecar Go GC for lower p99 (GOGC/GOMEMLIMIT)
  CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency helm-unittest/helm-unittest to v1.1.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update helmunittest/helm-unittest docker tag to v4.2.3
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): PodMonitor for SPOA hub data-path metrics
  CHANGELOG.md
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/spoa-hub-podmonitor.yaml
  charts/haptic/tests/spoa-hub-podmonitor_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(ci): bump bundled SPOA hub to v0.10.0 (data-path latency metrics)
  CHANGELOG.md
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): scrape spoa-hub metrics via a named container port
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/spoa-hub-podmonitor.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/tests/spoa-hub-podmonitor_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency playwright to v1.62.0
  scripts/visual-qa/package-lock.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(controller): read currentFiles back from published aux CRDs across restarts
  CHANGELOG.md
  pkg/controller/controller.go
  pkg/controller/helpers.go
  pkg/controller/iteration.go
  pkg/controller/publishedauxfiles.go
  pkg/controller/publishedauxfiles_test.go
  pkg/controller/statecache_providers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(playground): feed currentFiles from the pinned/last baseline
  CHANGELOG.md
  cmd/playground/main.go
  pkg/controller/publishedauxfiles_test.go
  pkg/controller/statecache_providers.go
  pkg/dataplane/config.go
  pkg/dataplane/currentfiles_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(playground): render the HAPTIC preset with spoa-hub; rename it
  cmd/playground/web/index.html
  scripts/gen-playground-assets.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Mirror to a per-request target list via one static SPOE message
  CHANGELOG.md
  charts/haptic/charts/gateway/20-route-analysis.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/charts/haptic-annotations/32-canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/tests/canary-mirror.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
  docs/adr/0009-aux-file-skip-reload.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/reference.md
  openspec/specs/spoa-hub-library/spec.md
  tests/schemas-ga-none/expected-stripped.txt
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): cover haproxy-haptic.org/mirror-target request mirroring
  tests/e2e/fixtures.go
  tests/e2e/ingress_haptic_mirror_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Make the JSON access-log target configurable
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  scripts/test-templates.sh
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/ingress_rate_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Unbreak nightly-scale and retry registry pulls in e2e setup
  scripts/test-templates.sh
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Tune a WAF policy from the access log, not Coraza's audit log
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
  docs/site/docs/operations/spoa-hub.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop a new Gateway evicting an existing Gateway's pod port
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  Makefile
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/15-pod-port-allocator.yaml
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Correlate hub logs with the access log via req_id
  CHANGELOG.md
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/tests/general.yaml
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Log which request field a WAF rule matched on
  CHANGELOG.md
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/tests/access-log.yaml
  docs/site/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Stop the duplicate pipeline on a branch's first push
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency goreleaser/goreleaser to v2.17.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Access-log: routing-port field, opt-in suppression, and a dataplane log-level knob
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(access-log): say which custom-field mechanism to use
  docs/site/docs/haproxy-deployment.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: stop running content-irrelevant jobs (docs-only and chart-only pipelines)
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): Vector sidecar for the access log and merged metrics
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/_spoa-hub.tpl
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/templates/spoa-hub-podmonitor.yaml
  charts/haptic/templates/vector-configmap.yaml
  charts/haptic/templates/vector-podmonitor.yaml
  charts/haptic/tests/spoa-hub-podmonitor_test.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  renovate.json
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/vector_sidecar_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): isolate validationTests from the session-ticket opt-in (load-gate crash-loop)
  charts/haptic/libraries/ssl.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): unlink a stale socket before starting vector
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  tests/e2e/fixtures.go
  tests/e2e/vector_sidecar_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): vector waits for its config; refuse the silent metrics-loss combo
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): serialise the API-gateway schema scan; refuse a dormant SPOA hub sidecar
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/82-request-validation.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  openspec/specs/spoa-hub-library/spec.md
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): drop the instance label and let operators exclude metric families
  CHANGELOG.md
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): stop deploying the shared rate-limit store when the limiter is off
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/tests/role_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  scripts/test-helm-defaults.sh
  tests/e2e/ingress_haptic_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
