Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

lint:
  stage: lint
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - go version
  script:
  - make lint
  artifacts:
    reports:
  ...

audit:
  stage: lint
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

test:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy${HAPROXY_VERSION}-docker${DOCKER_VERSION}-kind${KIND_VERSION}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_REGISTRY_IMAGE}/ci:go${GO_VERSION}-haproxy3.2-docker${DOCKER_VERSION}-kind${KIND_VERSION}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

test-acceptance:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    HAPROXY_VERSION: '3.2'
    KIND_NODE_IMAGE: kindest/node:${KIND_NODE_VERSION}
  ...

feat(dataplane): expand DataPlane API coverage for observability and certificates
  pkg/dataplane/auxiliaryfiles/ssl_ca.go
  pkg/dataplane/auxiliaryfiles/ssl_crl.go
  pkg/dataplane/auxiliaryfiles/ssl_storage_helpers.go
  pkg/dataplane/auxiliaryfiles/types.go
  pkg/dataplane/capabilities.go
  pkg/dataplane/client/clientset.go
  pkg/dataplane/client/clientset_test.go
  pkg/dataplane/client/crtloads.go
  pkg/dataplane/client/storage_crtlist_entries.go
  pkg/dataplane/client/storage_logprofiles.go
  pkg/dataplane/client/storage_ssl_ca.go
  pkg/dataplane/client/storage_ssl_crl.go
  pkg/dataplane/client/storage_traces.go
  pkg/dataplane/comparator/comparator.go
  pkg/dataplane/comparator/compare_certificate.go
  pkg/dataplane/comparator/compare_frontends.go
  pkg/dataplane/comparator/compare_observability.go
  pkg/dataplane/comparator/compare_quic.go
  pkg/dataplane/comparator/sections/executors/certificate.go
  pkg/dataplane/comparator/sections/executors/observability.go
  pkg/dataplane/comparator/sections/executors/quic.go
  pkg/dataplane/comparator/sections/factory.go
  pkg/dataplane/comparator/sections/helpers.go
  pkg/dataplane/comparator/sections/operations_generic.go
  pkg/dataplane/parser/parser.go
  tests/integration/env.go
  tests/integration/sync_common_test.go
  tests/integration/sync_observability_test.go
  tests/integration/testdata/acme/base.cfg
  tests/integration/testdata/acme/with-letsencrypt.cfg
  tests/integration/testdata/log-profiles/base.cfg
  tests/integration/testdata/log-profiles/with-profile.cfg
  tests/integration/testdata/quic-rules/frontend-base.cfg
  tests/integration/testdata/quic-rules/frontend-with-quic-rules.cfg
  tests/integration/testdata/traces/base.cfg
  tests/integration/testdata/traces/with-traces.cfg
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module golang.org/x/tools to v0.40.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

feat: add versioning and release infrastructure
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile
  Makefile
  VERSION
  cmd/controller/version.go
  docs/development/releasing.md
  scripts/release-chart.sh
  scripts/release-controller.sh
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update alpine/helm docker tag to v4
  .gitlab-ci.yml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update kubernetes packages to v0.34.3
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/nikolalohinski/gonja/v2 to v2.5.1
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix: SSL certificate comparison and template optimizations
  charts/haproxy-template-ic/libraries/gateway.yaml
  cmd/controller/validate.go
  pkg/controller/renderer/component.go
  pkg/controller/testrunner/runner.go
  pkg/dataplane/auxiliaryfiles/auxiliaryfiles_test.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/client/storage_ssl.go
  pkg/templating/engine.go
  scripts/test-templates.sh
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add shared namespace for cross-template data caching
  charts/CLAUDE.md
  charts/haproxy-template-ic/libraries/gateway.yaml
  charts/haproxy-template-ic/libraries/haproxytech.yaml
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/renderer/context.go
  pkg/controller/testrunner/runner.go
  pkg/dataplane/validator.go
  pkg/templating/engine.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update kindest/node docker tag to v1.35.0
  .gitlab-ci.yml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency kubernetes-sigs/kind to v0.31.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update kubernetes packages
  go.mod
  go.sum
  pkg/controller/configpublisher/component_test.go
  pkg/controller/credentialsloader/secret_watcher_test.go
  pkg/controller/leaderelection/component_test.go
  pkg/k8s/client/client_test.go
  pkg/k8s/configpublisher/publisher_test.go
  pkg/k8s/leaderelection/elector_test.go
  pkg/k8s/watcher/single_test.go
  pkg/k8s/watcher/watcher_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module sigs.k8s.io/controller-tools to v0.20.0
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update gitlab.com/haproxy-template-ic/scriggo digest to 9e38581
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update gitlab.com/haproxy-template-ic/scriggo digest to 1ad21a6
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update gitlab.com/haproxy-template-ic/scriggo digest to e173fb0
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

refactor: Extract render context builder to dedicated package
  charts/haproxy-template-ic/libraries/base.yaml
  charts/haproxy-template-ic/libraries/gateway.yaml
  charts/haproxy-template-ic/libraries/ingress.yaml
  charts/haproxy-template-ic/values.yaml
  cmd/controller/benchmark.go
  go.mod
  go.sum
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/rendercontext/CLAUDE.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/rendercontext/fileregistry.go
  pkg/controller/rendercontext/fileregistry_test.go
  pkg/controller/rendercontext/helpers.go
  pkg/controller/rendercontext/helpers_test.go
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/rendercontext/store_wrapper_test.go
  pkg/controller/renderer/component_test.go
  pkg/controller/renderer/context.go
  pkg/controller/renderer/context_test.go
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/runner.go
  pkg/templating/engine_scriggo.go
  pkg/templating/engine_scriggo_test.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/types.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add Profile-Guided Optimization (PGO) support
  Dockerfile
  Makefile
  cmd/controller/default.pgo
  docs/controller/docs/operations/performance.md
  pkg/introspection/server.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: Add comprehensive Helm chart testing suite
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
  Makefile
  charts/haproxy-template-ic/.ct/ct.yaml
  charts/haproxy-template-ic/.ct/lintconf.yaml
  charts/haproxy-template-ic/tests/deployment_test.yaml
  charts/haproxy-template-ic/tests/haproxy-deployment_test.yaml
  charts/haproxy-template-ic/tests/service_test.yaml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency helm-unittest/helm-unittest to v0.8.2
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency helm/chart-testing to v3.14.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency yamllint to v1.37.1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update helmunittest/helm-unittest docker tag to v3.17.1
  Makefile
Due: lint, audit, test, compile, build-test-image, test-integration, test-acceptance

chore(deps): update dependency yannh/kubeconform to v0.7.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update ghcr.io/yannh/kubeconform docker tag to v0.7.0
  Makefile
Due: lint, audit, test, compile, build-test-image, test-integration, test-acceptance

feat: Add Helm chart testing and HAProxy reload verification
  pkg/dataplane/client/config.go
  pkg/dataplane/client/config_test.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/result.go
  scripts/test-routes.sh
  tests/integration/sync_auxiliary_test.go
  tests/integration/sync_frontends_test.go
  tests/integration/testdata/binds/frontend-multiple-binds.cfg
  tests/integration/testdata/map-frontend/modified-map.cfg
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update quay.io/helmpack/chart-testing docker tag to v3.14.0
  Makefile
Due: lint, audit, test, compile, build-test-image, test-integration, test-acceptance

feat(templating): unify template caching with race-free SharedContext API
  charts/haproxy-template-ic/libraries/base.yaml
  charts/haproxy-template-ic/libraries/gateway.yaml
  charts/haproxy-template-ic/libraries/haproxytech.yaml
  charts/haproxy-template-ic/libraries/ingress.yaml
  charts/haproxy-template-ic/libraries/ssl.yaml
  pkg/controller/rendercontext/builder.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/client/clientset.go
  pkg/dataplane/client/clientset_test.go
  pkg/dataplane/comparator/compare_backends.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/parser/metadata.go
  pkg/dataplane/parser/normalize.go
  pkg/templating/engine_scriggo.go
  pkg/templating/engine_scriggo_test.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_scriggo_test.go
  pkg/templating/shared_context.go
  pkg/templating/shared_context_test.go
  tests/integration/auxiliaryfiles_test.go
  tests/integration/env.go
  tests/integration/sync_idempotency_test.go
  tests/integration/testdata/idempotency/acl-with-comment.cfg
  tests/integration/testdata/idempotency/http-response-rule.cfg
  tests/integration/testdata/idempotency/server-with-comment.cfg
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat(logging): consolidate reconciliation logging into single summary line
  pkg/controller/certloader/loader.go
  pkg/controller/commentator/commentator.go
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/ring_buffer.go
  pkg/controller/configchange/handler.go
  pkg/controller/configloader/loader.go
  pkg/controller/configpublisher/component.go
  pkg/controller/controller.go
  pkg/controller/credentialsloader/loader.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/drift_monitor.go
  pkg/controller/deployer/drift_monitor_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/discovery/component.go
  pkg/controller/discovery/component_test.go
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/events/deployment.go
  pkg/controller/events/events_test.go
  pkg/controller/executor/executor.go
  pkg/controller/httpstore/component.go
  pkg/controller/indextracker/tracker.go
  pkg/controller/metrics/component_test.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/renderer/component.go
  pkg/controller/resourcewatcher/watcher.go
  pkg/controller/statecache_test.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/webhook/basicvalidator.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/synchronizer/synchronizer.go
  pkg/httpstore/store.go
  pkg/k8s/leaderelection/elector.go
  pkg/lifecycle/registry.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add release infrastructure for v0.1.0-alpha.1
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  cmd/controller/run.go
  docs/controller/docs/development/releasing.md
  docs/controller/mkdocs.yml
  scripts/release-chart.sh
  scripts/release-controller.sh
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat(chart): add cert-manager integration and rename chart to haptic
  .gitlab-ci.yml
  charts/haproxy-template-ic/Chart.yaml
  charts/haproxy-template-ic/README.md
  charts/haproxy-template-ic/libraries/ssl.yaml
  charts/haproxy-template-ic/templates/default-ssl-certificate-certmanager.yaml
  charts/haproxy-template-ic/templates/default-ssl-issuer.yaml
  charts/haproxy-template-ic/templates/haproxy-deployment.yaml
  charts/haproxy-template-ic/templates/webhook-certificate.yaml
  charts/haproxy-template-ic/templates/webhook-issuer.yaml
  charts/haproxy-template-ic/values.yaml
  scripts/dev-env-assets/generate-webhook-certs.sh
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/generate-dev-ssl-cert.sh
  scripts/start-dev-env.sh
  scripts/test-benchmark.sh
  scripts/test-helm-defaults.sh
  scripts/test-routes.sh
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(tests): reduce flakiness in integration tests under parallel load
  tests/integration/sync_common_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency helm-unittest/helm-unittest to v1
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(docs): correct documentation inaccuracies
  CHANGELOG.md
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  docs/controller/docs/getting-started.md
  docs/controller/docs/index.md
Due: none

fix(ci): collect integration test coverage from all HAProxy versions
  .gitlab-ci.yml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  lint: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  audit: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  build-test-image: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-integration: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-acceptance: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
