Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(deps): update kubernetes packages
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency errata-ai/vale to v3.16.0
  .gitlab/ci/images/ci/Dockerfile
Due: none

Span names: bare method when nothing matched, host + marked prefix when it did
  CHANGELOG.md
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  docs/site/docs/reference.md
  scripts/test-templates.sh
  scripts/test-vector-spans.sh
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Export the request detail the spans were missing, on the span that measured it
  CHANGELOG.md
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/vector.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  scripts/test-vector-spans.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Render a vector.yaml vector can actually load, and gate it
  Makefile
  charts/haptic/libraries/vector.yaml
  scripts/check-vector-config.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Export the Kubernetes namespace, with bare names throughout
  CHANGELOG.md
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/vector.yaml
  docs/site/docs/haproxy-deployment.md
  scripts/test-vector-spans.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Identify which HAPTIC, which pod, and which entry point served a request
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/reference.md
  scripts/test-vector-spans.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Assertions must not pin release-derived values
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/libraries/vector.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update docker/dockerfile docker tag to v1.26
  Dockerfile.spoa-hub
Due: none

feat(ops): validate a configuration against operator values before deploying
  CHANGELOG.md
  cmd/controller/CLAUDE.md
  cmd/controller/chartrender.go
  cmd/controller/migratecheck.go
  cmd/controller/preflight.go
  cmd/controller/preflight_test.go
  cmd/controller/schemasource.go
  cmd/controller/validate.go
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/mkdocs.yml
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): stamp the chart version into the image that embeds it
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(metrics): count runtime-map divergences that cost the reload-free lane
  CHANGELOG.md
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/handle_endpoint_success_test.go
  pkg/controller/events/runtime_fast_path.go
  pkg/controller/events/types.go
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_runtime_map_verify_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(webhook): keep validating when companion tests can't resolve
  .yamllint.yml
  CHANGELOG.md
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_effective_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(ci): capture the container that died, not just the pod
  .gitlab-ci.yml
  .yamllint.yml
  CHANGELOG.md
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_effective_test.go
  tests/e2e/cleanup.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(configpublisher): publish deployed content before validation work
  CHANGELOG.md
  pkg/controller/configpublisher/publish_worker_priority_test.go
  pkg/controller/configpublisher/workers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(webhook): never admit in silence
  CHANGELOG.md
  pkg/controller/webhook/component.go
  pkg/controller/webhook/component_test.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
  pkg/webhook/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(scripts): fail on a stale controller binary instead of warning
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deployer): patch the activated config, not the dispatched one
  CHANGELOG.md
  pkg/controller/deployer/runtime_bypass_body_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_failed_deploy_baseline_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_logic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(chart-upgrade): dump why the webhook restarted, not just that it did
  scripts/test-chart-upgrade.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(webhook): install the validator table atomically
  pkg/controller/webhook/component.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(ci): capture the rotated controller logs, not just the current file
  .gitlab-ci.yml
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): retry the pod-termination reset, not just the failed connect
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/libraries/base.yaml
  docs/site/docs/libraries/base.md
  docs/site/docs/migrating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): budget vector against HAProxy, not as a log shipper
  CHANGELOG.md
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_vector.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  scripts/test-templates.sh
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): retry a raw-config push once after a version conflict
  pkg/dataplane/client/config.go
  pkg/dataplane/client/config_version_conflict_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(configpublisher): never drop a deployed checksum
  CHANGELOG.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/configpublisher/publish_worker_priority_test.go
  pkg/controller/configpublisher/publish_worker_spin_test.go
  pkg/controller/configpublisher/workers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(webhook): keep the admission listener bound across config reinitializations
  pkg/controller/controller.go
  pkg/controller/iteration.go
  pkg/controller/webhook.go
  pkg/controller/webhook/component.go
  pkg/controller/webhook/component_adopted_test.go
  pkg/controller/webhook_server_config_diff_test.go
  pkg/webhook/server.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): strip Scriggo comments from files, maps and k8sResources too
  CHANGELOG.md
  charts/haptic/templates/_libraries.tpl
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(dataplane): gate the empty-diff short-circuit on activation provenance
  pkg/controller/deployer/activation_provenance_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/version_cache.go
  pkg/controller/reconciliation.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_readback_test.go
  pkg/dataplane/orchestrator_runtime_fastpath.go
  pkg/dataplane/orchestrator_runtime_fastpath_apply_test.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): stop storing migrationCoverage in the deployed config
  CHANGELOG.md
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/values.yaml
  cmd/controller/chartrender.go
  docs/site/docs/reference.md
  scripts/gen-playground-assets.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(gateway): share the route effective-hosts resolution
  charts/haptic/charts/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): keyed maps for operator-settable extraContext entity lists
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/haptic-annotations/83-waf-policies.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/templates/_controller.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/governance.md
  docs/site/docs/reference.md
  scripts/dev-env-assets/e2e-values.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: remove the migrate-check subcommand
  .gitignore
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  cmd/controller/CLAUDE.md
  cmd/controller/chartrender.go
  cmd/controller/clustersource.go
  cmd/controller/main.go
  cmd/controller/migratecheck.go
  cmd/controller/migratecheck_sources.go
  cmd/controller/migratecheck_test.go
  cmd/controller/testdata/migratecheck/config.yaml
  cmd/controller/testdata/migratecheck/list/ingress-list.yaml
  cmd/controller/testdata/migratecheck/manifests/ingresses.yaml
  cmd/controller/validate.go
  cmd/playground/main.go
  docs/site/docs/crd-reference.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/migrating.md
  docs/site/docs/validation-tests.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/conversion/merge.go
  pkg/controller/testrunner/rendering.go
  pkg/controller/typebootstrap_clients.go
  pkg/controller/typebootstrap_wiring.go
  pkg/core/config/types.go
  pkg/generated/dataplaneapi/v30/api.gen.go
  pkg/generated/dataplaneapi/v30ee/api.gen.go
  pkg/generated/dataplaneapi/v31/api.gen.go
  pkg/generated/dataplaneapi/v31ee/api.gen.go
  pkg/generated/dataplaneapi/v32/api.gen.go
  pkg/generated/dataplaneapi/v32ee/api.gen.go
  pkg/generated/dataplaneapi/v33/api.gen.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): traffic shaping annotations on the native library
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/72-compression.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/migrating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deployer): patch the in-flight deploy's config, not the activated one
  CHANGELOG.md
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_body_test.go
  pkg/controller/deployer/scheduler_logic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): drop chart-only config keys from the CR spec
  CHANGELOG.md
  Makefile
  charts/haptic/templates/haproxytemplateconfig.yaml
  scripts/check-cr-spec-conformance.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): compress responses by default
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/72-compression.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/compression.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: let a general file opt out of the reload it triggers
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/spoa-hub/10-features.yaml
  charts/haptic/libraries/vector.yaml
  charts/haptic/tests/general-file-reload-on-push_test.yaml
  cmd/playground/main.go
  docs/site/docs/crd-reference.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/converter_test.go
  pkg/controller/rendercontext/file_registry.go
  pkg/controller/rendercontext/file_registry_test.go
  pkg/controller/renderer/service.go
  pkg/controller/renderer/service_test.go
  pkg/core/config/types.go
  pkg/dataplane/auxiliaryfiles/types.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_runtime_aux_test.go
  pkg/dataplane/reloadimpact.go
  pkg/dataplane/reloadimpact_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(status): order pods against the spec with observedGeneration
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxycrtlistfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxygeneralfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_haproxycfg.go
  pkg/dataplane/orchestrator.go
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/publisher.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/spec_generations.go
  pkg/k8s/configpublisher/spec_generations_test.go
  pkg/k8s/configpublisher/ssa_test_helpers_test.go
  tests/e2e/observed_generation_test.go
  tests/e2e/wait_controller_view.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: decide a general-file delete by whether anything still names it
  CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  cmd/playground/main.go
  docs/site/docs/crd-reference.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_runtime_aux_test.go
  pkg/dataplane/orchestrator_runtime_map_verify_test.go
  pkg/dataplane/reloadimpact.go
  pkg/dataplane/reloadimpact_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
