Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(ci): remove changes rule from trigger-pages job
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(templating): sanitize SSL cert filenames and update Scriggo imports
  CHANGELOG.md
  README.md
  charts/haptic/Chart.yaml
  charts/haptic/mkdocs.yml
  charts/haptic/templates/NOTES.txt
  docs/controller/docs/development/design.md
  docs/controller/docs/development/design/design-decisions.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
  docs/controller/mkdocs.yml
  docs/landing/mkdocs.yml
  go.mod
  go.sum
  pkg/templating/CLAUDE.md
  pkg/templating/engine_scriggo.go
  pkg/templating/filters.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_test.go
  pkg/templating/profiling.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

fix(ssl): sanitize certificate filenames with dots to match HAProxy storage
  CHANGELOG.md
  CLAUDE.md
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
  go.mod
  go.sum
  pkg/templating/filter_names.go
  pkg/templating/filters.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Release v0.1.0-alpha.2 (controller + chart)
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(store): ensure deterministic ordering in memory store Get()
  CHANGELOG.md
  pkg/dataplane/client/metadata.go
  pkg/dataplane/client/metadata_test.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/parser/metadata.go
  pkg/k8s/store/memory.go
  pkg/k8s/store/memory_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): render unused service configuration values in templates
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/haproxy-service.yaml
  charts/haptic/templates/service.yaml
  charts/haptic/tests/haproxy-service_test.yaml
  charts/haptic/tests/service_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Release v0.1.0-alpha.3 (controller + chart)
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Create NetworkPolicy by default
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(docs): auto-update helm version in landing page
  docs/landing/overrides/home.html
Due: none

fix(chart): resolve Service targetPort to actual pod port in backends
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  go.mod
  go.sum
  pkg/templating/CLAUDE.md
  pkg/templating/engine_scriggo_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

release: haptic-controller v0.1.0-alpha.4
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

release: chart v0.1.0-alpha.4
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(controller): improve template validation, CRD status updates, and prevent infinite reinitialization loop
  .gitlab-ci.yml
  CHANGELOG.md
  CLAUDE.md
  Dockerfile
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/role.yaml
  cmd/controller/run.go
  cmd/controller/version.go
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/commentator/commentator.go
  pkg/controller/commentator/commentator_test.go
  pkg/controller/configchange/crd_watcher.go
  pkg/controller/configchange/crd_watcher_test.go
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/handler_test.go
  pkg/controller/configchange/status_updater.go
  pkg/controller/controller.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/events/config.go
  pkg/controller/events/events_test.go
  pkg/controller/validator/base_test.go
  pkg/controller/validator/haproxy_validator.go
  pkg/controller/validator/template.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/single_test.go
  pkg/templating/error_formatter.go
  pkg/templating/validation.go
  pkg/templating/validation_test.go
  scripts/source-hash.sh
  scripts/start-dev-env.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

release: controller and chart v0.1.0-alpha.5
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): correct coverage regex for badge parsing
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(controller): add stall detection for controller components
  CHANGELOG.md
  pkg/controller/deployer/component.go
  pkg/controller/deployer/drift_monitor.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/renderer/component.go
  pkg/lifecycle/health_tracker.go
  pkg/lifecycle/health_tracker_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(chart): remove redundant logging.level default from values.yaml
  CLAUDE.md
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

release: controller and chart v0.1.0-alpha.6
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

release: controller and chart v0.1.0-alpha.6
  CLAUDE.md
  VERSION
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: improve reconciliation latency and SSL certificate comparison
  CHANGELOG.md
  pkg/controller/configchange/handler.go
  pkg/controller/reconciler/CLAUDE.md
  pkg/controller/reconciler/reconciler.go
  pkg/dataplane/auxiliaryfiles/auxiliaryfiles_test.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/client/storage_ssl.go
  pkg/dataplane/client/storage_ssl_test.go
  pkg/k8s/types/types.go
  pkg/k8s/types/types_test.go
  pkg/k8s/watcher/debouncer.go
  pkg/k8s/watcher/debouncer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: controller and chart v0.1.0-alpha.7
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: prevent deployment deadlock after leader transition
  CHANGELOG.md
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/leaderelection/component.go
  pkg/core/config/defaults.go
  pkg/core/config/types.go
  pkg/events/bus.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: controller and chart v0.1.0-alpha.8
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(helm): auto-generate dataplane API credentials
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/secret.yaml
  charts/haptic/values.yaml
  scripts/dev-env-assets/dev-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: parse full certificate chain for SSL comparison
  CHANGELOG.md
  pkg/dataplane/auxiliaryfiles/auxiliaryfiles_test.go
  pkg/dataplane/auxiliaryfiles/ssl.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: skip spurious update events in bulk watcher
  pkg/k8s/watcher/debouncer.go
  pkg/k8s/watcher/debouncer_test.go
  pkg/k8s/watcher/watcher.go
  pkg/k8s/watcher/watcher_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: release 0.1.0-alpha.9
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency anchore/syft to v1.39.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: add leading-edge debouncing, config snapshots, and slot preservation
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  cmd/controller/benchmark.go
  cmd/controller/validate.go
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/controller/controller.go
  pkg/controller/conversion/converter.go
  pkg/controller/currentconfigstore/store.go
  pkg/controller/currentconfigstore/store_test.go
  pkg/controller/helpers/templating.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/reconciler/reconciler_test.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/renderer/component.go
  pkg/controller/renderer/component_test.go
  pkg/controller/renderer/context.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/runner_test.go
  pkg/controller/validator/haproxy_validator_test.go
  pkg/core/config/types.go
  pkg/lifecycle/registry.go
  pkg/templating/engine_scriggo.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_scriggo_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Release 0.1.0-alpha.10
  .gitlab-ci.yml
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: expand haproxy-ingress library with 47 annotations
  .gitlab-ci.yml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/docs/changelog.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  scripts/test-templates.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

fix(ci): use CI image for chart snapshot job
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): enable haproxy-ingress library by default
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(validator): add currentConfig type declaration to TemplateValidator
  pkg/controller/validator/base_test.go
  pkg/controller/validator/template.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Release 0.1.0-alpha.11
  CHANGELOG.md
  VERSION
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): set production-ready default resource requests and limits
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update Scriggo to fix stopError.Error() infinite recursion
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix Scriggo infinite recursion and add auth realm validation
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/values.yaml
  pkg/apis/haproxytemplate/v1alpha1/types.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/testrunner/runner.go
  pkg/core/config/types.go
  scripts/test-templates.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): Add missing extraContext field to ValidationTest in CRD
  charts/haptic/CHANGELOG.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
