Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.8
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update k8s.io/kube-openapi digest to aa012df
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: kubeconform-style --schema-dir for offline validate
  .gitignore
  Makefile
  cmd/controller/validate.go
  pkg/k8s/schemafetcher/dir_fetcher.go
  pkg/k8s/schemafetcher/dir_fetcher_test.go
  pkg/k8s/schemafetcher/overlay.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart-test): wire test-templates.sh to --schema-dir; harden extract-schemas
  .gitignore
  Makefile
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: re-trigger MR pipeline (previous duplicate stuck-failed)
  .gitlab-ci.yml
  scripts/test-templates.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(spoa): bump spoa-hub to v0.6.1 (UAF on plugin reload)
  CHANGELOG.md
  docs/controller/docs/operations/spoa-hub.md
  go.mod
  go.sum
  versions-spoa.env
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/getkin/kin-openapi to v0.139.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: drop builtin schemas, require --schema-dir for offline typed access
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/CLAUDE.md
  cmd/controller/validate.go
  docs/adr/0010-typed-watched-resources.md
  docs/controller/docs/templating.md
  docs/controller/docs/watching-resources.md
  pkg/controller/typebootstrap/offline_resolve.go
  pkg/controller/typebootstrap/offline_resolve_test.go
  pkg/k8s/schemafetcher/builtin/builtin.go
  pkg/k8s/schemafetcher/builtin/builtin_test.go
  pkg/k8s/schemafetcher/builtin/gateway-networking-k8s-io-v1-Gateway.json
  scripts/test-templates.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 31fde9a
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to f9fc835
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(make): extract-schemas tolerates vendor/go.mod drift via -mod=mod
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(ci): conformance setup ~85s faster + live progress + drop deprecation noise
  .gitlab-ci.yml
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  pkg/controller/controller.go
  pkg/controller/infrastructure.go
  pkg/controller/infrastructure_health_test.go
  pkg/controller/iteration.go
  tests/conformance/ingress_conformance_test.go
  tests/e2e/constants.go
  tests/e2e/env.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update dependency goreleaser/goreleaser to v2.16.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): bump spoa stack for drain-on-reload (#3)
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): condense annotation-compat.yaml comments
  .gitlab-ci.yml
  charts/haptic/libraries/annotation-compat.yaml
  scripts/dev-env-assets/devassets.go
  scripts/dev-env-assets/e2e-values.yaml
  tests/e2e/ingress_rate_limit_test.go
  tests/e2e/main_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test(e2e): add ExpectEcho{Environment,Path} sinks; migrate body-shape assertions
  tests/e2e/httpclient/request.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/httproute_matchers_test.go
  tests/e2e/ingress_rewrite_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(coordinator): drop auth_render_audit diagnostic
  pkg/controller/reconciler/coordinator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): TestGRPCOverTLS timeout diagnostics (issue #48 next-occurrence capture)
  tests/e2e/grpc_tls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dataplane): skip_reload=true on CreateSSLCertificate
  pkg/dataplane/client/storage_ssl.go
  pkg/dataplane/client/storage_ssl_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(statusapplier): route validation failures to a distinct StatusPatchPhaseValidateFailed variant
  pkg/controller/events/status.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(ci): shard ingress-conformance 4-way (~60% wall-clock cut)
  .gitlab-ci.yml
  .golangci.yml
  Makefile
  tests/conformance/ingress_conformance_test.go
  tests/conformance/ingress_sharding.go
  tests/conformance/ingress_sharding_test.go
  tests/conformance/patches/0003-skip-missing-features-for-sharding.patch
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deployer): record deployed checksum from event, not live cache
  CHANGELOG.md
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/handle_deployment_completed_race_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/events/deployment.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(chart): bundle ConfigMap schema + typed cm.Data access
  .gitlab-ci.yml
  charts/CLAUDE.md
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  scripts/fetch-k8s-openapi-schemas.sh
  tests/schemas/core_v1_configmaps.yaml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(templating): dig_string filter (fuse dig + fallback + tostring)
  charts/haptic/libraries/annotation-compat.yaml
  pkg/templating/filter_names.go
  pkg/templating/filters_navigation.go
  pkg/templating/filters_navigation_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): restore base.yaml Level-0 — drop gateway/ssl references
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/tests/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/tests/17-per-gateway-services.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(chart): migrate remaining dig+fallback+tostring chains to dig_string
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/72-status-class.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(chart): drop redundant no-op chains around toSlice()
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/42-maps-weighted.yaml
  charts/haptic/libraries/ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: state the resource-agnostic principle at multiple points
  .gitlab-ci.yml
  CLAUDE.md
  charts/CLAUDE.md
  docs/controller/docs/development/design.md
  pkg/CLAUDE.md
  pkg/templating/CLAUDE.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): NetworkPolicy webhook ingress allows the kube-apiserver
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type macro parameters where the macro is single-Kind
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): propagate primary-backend timeout/retries to mirror plugin (consume v0.5.0)
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): NOTES gateway-API notice no longer claims library is enabled
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/NOTES.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deployer): cache pod's actual post-sync state, not caller's desired
  CHANGELOG.md
  pkg/controller/deployer/cache_selection.go
  pkg/controller/deployer/cache_selection_test.go
  pkg/controller/deployer/deployment.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_post_sync_cache_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): per-Kind typed wrappers for Sharded* gateway macros + scriggo bump
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/40-maps-host.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/42-maps-weighted.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(rendercontext): lazy snapshot for store: on-demand resources
  CHANGELOG.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/rendercontext/store_wrapper_lazy_test.go
  pkg/controller/renderer/service.go
  pkg/k8s/store/cached.go
  pkg/k8s/store/cached_list_cached_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart+templating): type HostMatchCondition + adaptive append
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  pkg/templating/filters_collection.go
  pkg/templating/filters_collection_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): type haproxy-ingress path-map snippets
  charts/haptic/libraries/haproxy-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): finish typed access in haproxy-ingress.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type ingress access in nginx-ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
