Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

feat: aggregate addresses from multiple LoadBalancer services
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add toggle to disable status patches during migration
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: remove statusPatch field from watchedResources entries
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: restore statusPatch field and strip before CRD rendering
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: auto-set HAProxy nbthread from CPU requests
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-configmap.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: trigger HAProxy pod recreation on bootstrap config changes
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: move global/defaults into overridable template snippets
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

feat: overridable global/defaults snippets and ssl_redirect_default
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add status-extra-* extension point with Prometheus exporter
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/extra-deploy.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: avoid HAProxy 64-word config parser limit for host matching
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: render sidecars, extraVolumes, and extraVolumeMounts through tpl
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/haproxy-deployment.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add shm-stats-file support and GUID directives for HAProxy 3.3+
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  go.mod
  go.sum
  pkg/dataplane/comparator/compare_config_test.go
  pkg/dataplane/comparator/sections/factory_test.go
  pkg/templating/filter_names.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_version.go
  pkg/templating/filters_version_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: truncate HAProxy GUIDs exceeding 127-character limit
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/ingress.yaml
  pkg/templating/filter_names.go
  pkg/templating/filters_guid.go
  pkg/templating/filters_guid_test.go
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: use valid HAProxy GUID character in truncation separator
  pkg/templating/filters_guid.go
  pkg/templating/filters_guid_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add Claude Code hooks to enforce project coding standards
  .claude/hooks/block-direct-go-test.sh
  .claude/hooks/block-direct-lint.sh
  .claude/hooks/block-interactive-git.sh
  .claude/hooks/block-no-verify.sh
  .claude/hooks/block-nolint-edit.sh
  .claude/hooks/block-nolint-write.sh
  .claude/settings.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: use /dev/shm/ for shm-stats-file path
  charts/haptic/libraries/base.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: dynamically calculate shm-stats-file-max-objects via template post-processor
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  cmd/controller/benchmark.go
  cmd/controller/validate.go
  docs/controller/docs/templating.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/conversion/converter.go
  pkg/controller/testrunner/output.go
  pkg/controller/testrunner/runner.go
  pkg/core/config/types.go
  pkg/dataplane/version.go
  pkg/templating/README.md
  pkg/templating/engine_scriggo.go
  pkg/templating/postprocessor.go
  pkg/templating/postprocessor_template.go
  pkg/templating/postprocessor_template_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: regenerate CRD manifest and add stale codegen detection to lint
  Makefile
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: count all HAProxy objects for shm-stats-file-max-objects
  charts/haptic/libraries/base.yaml
  pkg/templating/postprocessor_template_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: match server lines at column 0 in shm-stats object count
  charts/haptic/libraries/base.yaml
  pkg/templating/postprocessor_template_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: correct indentation of rendered template content in HAProxy config
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: eliminate blank lines and whitespace in rendered HAProxy config
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: replace dynamic shm-stats-file-max-objects with configurable fixed value
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/values.yaml
  pkg/templating/postprocessor_template_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: include shmStats in bootstrap config checksum for pod restart
  charts/haptic/templates/_helpers.tpl
Due: none

fix: prefix commit SHA in chart snapshot version to avoid semver error
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: add /dev/shm volume for HAProxy shm-stats and reduce maxObjects default
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
  docs/controller/docs/templating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: replace index-based rule comparison with LCS content matching
  openspec/changes/archive/2026-03-02-lcs-rule-comparator/.openspec.yaml
  openspec/changes/archive/2026-03-02-lcs-rule-comparator/design.md
  openspec/changes/archive/2026-03-02-lcs-rule-comparator/proposal.md
  openspec/changes/archive/2026-03-02-lcs-rule-comparator/specs/dataplane-sync/spec.md
  openspec/changes/archive/2026-03-02-lcs-rule-comparator/tasks.md
  openspec/specs/dataplane-sync/spec.md
  pkg/dataplane/comparator/compare_rules.go
  pkg/dataplane/comparator/compare_rules_test.go
  pkg/dataplane/comparator/lcs.go
  pkg/dataplane/comparator/lcs_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add debug socket option for Dataplane API profiling
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: resolve config differences between haptic and production haproxy
  charts/CLAUDE.md
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

fix: quote ${HOSTNAME} in peers template for env var expansion
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: replace per-Ingress SSL redirect rules with map-based approach
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ssl.yaml
  pkg/controller/testrunner/assertion_helpers.go
  pkg/dataplane/auxiliaryfiles/general.go
  pkg/dataplane/auxiliaryfiles/maps.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: use filename instead of full path for FileRegistry map files
  pkg/controller/rendercontext/file_registry.go
  pkg/controller/rendercontext/file_registry_test.go
  pkg/dataplane/auxiliaryfiles/general.go
  pkg/dataplane/auxiliaryfiles/maps.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: preserve trailing newline after SSL redirect rule
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: move frontend timeout annotations to defaults section via extraContext
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat: add namespace dimension to endpoint store index
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: persist metrics server across iterations and reduce GC pressure
  Makefile
  pkg/controller/controller.go
  pkg/controller/currentconfigstore/store.go
  pkg/controller/currentconfigstore/store_test.go
  pkg/controller/infrastructure.go
  pkg/controller/pipeline/pipeline.go
  pkg/metrics/server.go
  pkg/metrics/server_test.go
  pkg/templating/benchmark_pool_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: replace sync.Pool with channel pool and tune GOGC
  cmd/controller/run.go
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: update scriggo with expanded callNative fast-path
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: eliminate fmt.Sprint allocations in hot template functions
  pkg/dataplane/parser/parser.go
  pkg/templating/filters_collection.go
  pkg/templating/filters_guid.go
  pkg/templating/filters_navigation.go
  pkg/templating/filters_string.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: remove argsPool sync.Pool and reduce allocation hotspots
  go.mod
  go.sum
  pkg/dataplane/client/storage_helpers.go
  pkg/dataplane/parser/parser.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
