Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(agent): fence automatic applies against worker reloads
  CHANGELOG.md
  docs/site/docs/development/agent.md
  pkg/controller/deployer/apply.go
  pkg/controller/deployer/apply_test.go
  pkg/controller/deployer/component.go
  pkg/dataplane/agent/agenttest/agent.go
  pkg/dataplane/agent/agenttest/agent_test.go
  pkg/dataplane/agent/agenttest/apply.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/server/apply.go
  pkg/dataplane/agent/server/handlers.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/worker_baseline_test.go
  tests/agent/env.go
  tests/agent/worker_baseline_test.go
  tests/integration/session.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix compiler limits in large incremental dispatch
  CHANGELOG.md
  pkg/templating/incremental_lane_dispatch.go
  pkg/templating/incremental_source_transaction_compile.go
  pkg/templating/incremental_vector_carrier_compile.go
  pkg/templating/incremental_vector_carrier_dispatch_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Close upstream-main Gateway conformance gaps and pin the canary
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/charts/gateway/16-crtlist-per-listener.yaml
  charts/haptic/charts/gateway/17-per-gateway-services.yaml
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/22-ssl-passthrough.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/43-maps-route-filters.yaml
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/73-status-policy.yaml
  charts/haptic/charts/gateway/tests/10-https-listener.yaml
  charts/haptic/charts/gateway/tests/16-crtlist-per-listener.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/charts/gateway/tests/62-infrastructure.yaml
  charts/haptic/charts/gateway/tests/94-backendtls-route-kinds.yaml
  docs/site/docs/libraries/gateway.md
  go.mod
  go.sum
  pkg/controller/renderer/incremental_gateway_backend_chart_test.go
  pkg/controller/renderer/incremental_gateway_cross_route_dependency_test.go
  pkg/controller/renderer/incremental_gateway_root_partition_chart_test.go
  scripts/prepare-gateway-api-canary.sh
  scripts/shard-conformance-tests.sh
  scripts/tests/test_prepare_gateway_api_canary.py
  tests/e2e/grpc_tls_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update non-major dependencies
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  go.mod
  go.sum
  scripts/visual-qa/package-lock.json
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Measure interval assertions from before the mechanism stamps its deadline
  pkg/dataplane/check_gate_test.go
  pkg/k8s/watcher/debouncer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Outlast plugin registry 409s when downloading SPOA plugins
  scripts/prep-spoa-plugins.sh
  scripts/tests/test_spoa_plugins.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Stop lone kube-openapi digest bumps
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Split TLSRoute backends per listener mode
  CHANGELOG.md
  charts/haptic/charts/gateway/22-ssl-passthrough.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/tests/24-routing-tls.yaml
  charts/haptic/charts/gateway/tests/94-backendtls-route-kinds.yaml
  docs/site/docs/libraries/gateway.md
  pkg/controller/renderer/incremental_gateway_cross_route_dependency_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Surface only the admitted object's events as admission warnings
  CHANGELOG.md
  charts/haptic/charts/governance/library.yaml
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/dryrunvalidator/event_warnings_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Benchmark an unrelated route change against a growing Gateway fleet
  cmd/haptic/benchmark_incremental_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Keep a terminating HAProxy pod accepting connections
  CHANGELOG.md
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  tests/e2e/haproxy_pod_deletion_test.go
  tests/e2e/ingress_rolling_restart_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Enforce and report Gateway frontend client-certificate validation consistently
  CHANGELOG.md
  charts/haptic/charts/gateway/10-features.yaml
  charts/haptic/charts/gateway/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/20-route-analysis.yaml
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/10-frontend-mtls-overrides.yaml
  charts/haptic/charts/gateway/tests/10-frontend-mtls-references.yaml
  pkg/controller/renderer/incremental_gateway_feature_publications_chart_test.go
  pkg/controller/renderer/incremental_gateway_mtls_overrides_chart_test.go
  pkg/controller/renderer/incremental_gateway_mtls_references_chart_test.go
  pkg/controller/renderer/incremental_gateway_route_analysis_chart_test.go
  pkg/incremental/commit.go
  pkg/incremental/retirement_verification_test.go
  tests/e2e/gateway_frontend_mtls_references_test.go
  tests/e2e/gateway_frontend_mtls_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Replay per-Gateway root traversals from per-Gateway incremental groups
  CHANGELOG.md
  charts/haptic/charts/gateway/10-features.yaml
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/16-crtlist-per-listener.yaml
  charts/haptic/charts/gateway/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/50-binds.yaml
  charts/haptic/charts/gateway/tests/10-https-listener.yaml
  pkg/controller/renderer/incremental_gateway_feature_publications_chart_test.go
  pkg/controller/renderer/incremental_ssl_default_certificate_chart_test.go
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Drain a terminating HAProxy pod on observation before its soft stop
  CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/values.yaml
  cmd/haptic/agent.go
  cmd/haptic/agent_drain.go
  docs/site/docs/reference.md
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/cli/stats.go
  pkg/dataplane/agent/cli/stats_test.go
  pkg/dataplane/agent/haproxytest/files.go
  pkg/dataplane/agent/haproxytest/haproxy.go
  pkg/dataplane/agent/server/drain.go
  pkg/dataplane/agent/server/drain_socket_test.go
  pkg/dataplane/agent/server/drain_test.go
  pkg/dataplane/agent/server/harness_test.go
  pkg/dataplane/agent/server/server.go
  tests/e2e/haproxy_pod_deletion_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): run the HAProxy pod's helpers as native sidecars
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/tests/vector_test.yaml
  charts/haptic/values.yaml
  cmd/haptic/agent_drain.go
  cmd/haptic/preflight_sidecars.go
  cmd/haptic/preflight_sidecars_test.go
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/ingress-class.md
  docs/site/docs/reference.md
  pkg/controller/discovery/discovery.go
  pkg/controller/discovery/discovery_helpers_test.go
  scripts/analyze-gateway-api-children.py
  scripts/bench-gateway-api.sh
  scripts/chart-spoa-image.sh
  scripts/start-dev-env.sh
  scripts/test-vector-spans.sh
  tests/e2e/cleanup.go
  tests/e2e/crd_upgrade_test.go
  tests/e2e/gateway_frontend_mtls_test.go
  tests/e2e/haproxy_json_access_log_test.go
  tests/e2e/vector_sidecar_test.go
  tests/kindutil/pod_images.go
  tests/kindutil/pod_images_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): keep compression and defaults-eligible directives off the backend body
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haptic-annotations/72-compression.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-directives.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/compression.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_compression_test.go
  tests/e2e/ingress_reloadfree_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(chart): run the per-route API-gateway and limiter rules from frontend maps
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/governance/library.yaml
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/60-jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security-authz.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  charts/haptic/charts/haptic-annotations/tests/jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  charts/haptic/values.yaml
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  scripts/test-templates.sh
  tests/e2e/ingress_reloadfree_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(renderer): name the provenance of a rejected output pair
  CHANGELOG.md
  pkg/controller/renderer/output_mismatch_diagnostic.go
  pkg/dataplane/renderoutput/delta.go
  pkg/dataplane/renderoutput/structural_delta_test.go
  pkg/dataplane/renderoutput/validation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(renderer): stage ranked-text removals before additions
  CHANGELOG.md
  pkg/controller/renderer/incremental_ranked_fragments_service_test.go
  pkg/controller/renderer/incremental_ranked_text_index.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): apply rate-limit-allowlist through two runtime maps
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  docs/site/docs/template-reference.md
  pkg/templating/exact_cycle_replay.go
  pkg/templating/filter_names.go
  pkg/templating/filters_cidr.go
  pkg/templating/filters_cidr_test.go
  pkg/templating/filters_scriggo.go
  tests/e2e/ingress_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update non-major dependencies
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): apply rate-limit-allowlist to the shared limiter too
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  docs/site/docs/libraries/haptic-annotations.md
  scripts/test-templates.sh
  tests/e2e/ingress_haptic_shared_ratelimit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(e2e): follow a pod-port move in the Gateway mTLS lifecycle test
  tests/e2e/gateway_frontend_mtls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): emit the uniform feature blocks only while a route uses them
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/60-jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/backend-tls.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security-authz.yaml
  charts/haptic/charts/haptic-annotations/tests/jwt-auth.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

perf(chart): emit the Gateway frontend blocks only while a route uses them
  CHANGELOG.md
  charts/haptic/charts/gateway/43-maps-route-filters.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/gateway/tests/41-filter-maps.yaml
  docs/site/docs/libraries/gateway.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(chart): emit the SPOA hub dispatch blocks only while a route uses them
  CHANGELOG.md
  charts/haptic/charts/spoa-hub/30-frontend-filters.yaml
  charts/haptic/charts/spoa-hub/tests/access-log.yaml
  charts/haptic/charts/spoa-hub/tests/coraza.yaml
  charts/haptic/charts/spoa-hub/tests/general.yaml
  docs/site/docs/operations/performance.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deploy): resolve a server's crt under crt-base when composing add server
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/22-backend-tls.yaml
  charts/haptic/charts/nginx-ingress/15-proxy-ssl-cookie.yaml
  cmd/haptic/plan_differential_test.go
  docs/site/docs/operations/performance.md
  pkg/dataplane/deployplan/certs_test.go
  pkg/dataplane/deployplan/diff.go
  pkg/dataplane/deployplan/inventory.go
  pkg/dataplane/deployplan/keywords.go
  pkg/dataplane/deployplan/servers.go
  tests/e2e/ingress_haptic_backendtls_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): challenge basic auth from the frontend via a per-route map
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_basicauth_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): apply prefix-strip path rewrites from a per-route map
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/rewrite-affinity.yaml
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_rewrite_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): challenge vendor basic auth from the frontend via per-route maps
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/nginx-ingress/tests/satisfy.yaml
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/nginx-ingress.md
  tests/e2e/ingress_basic_auth_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): apply source-IP allow and deny lists from shared maps
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/satisfy.yaml
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  pkg/controller/renderer/incremental_haproxytech_chart_test.go
  tests/e2e/ingress_access_control_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): apply haproxytech prefix-strip path rewrites from per-route maps
  CHANGELOG.md
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  docs/site/docs/libraries/haproxytech.md
  tests/e2e/ingress_haptic_rewrite_test.go
  tests/e2e/ingress_rewrite_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): serve CORS from shared per-route maps in every annotation library
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  pkg/controller/renderer/incremental_haproxytech_chart_test.go
  pkg/controller/renderer/incremental_nginx_frontend_publications_chart_test.go
  scripts/check-migration-coverage.sh
  tests/e2e/ingress_cors_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): gate requests from per-route maps (methods, content type, headers, canned responses)
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_gatewaysec_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): apply forwardfor, src-ip-header and request-id from per-route maps
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/74-request-id.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/request-id.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/performance.md
  pkg/controller/renderer/incremental_haproxy_ingress_chart_sweep_test.go
  tests/e2e/ingress_haptic_forwardfor_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): forward client-cert headers from a routes map and emit each request capture once
  CHANGELOG.md
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  pkg/controller/renderer/incremental_haproxytech_chart_test.go
  tests/e2e/ingress_haptic_capture_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): rewrite upstream cookies and redirects from per-pair frontend lanes
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/15-proxy-ssl-cookie.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/proxy-ssl-cookie.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_cookie_rewrite_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): rate-limit vendor routes from a shared frontend lane
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_vendor_rate_limit_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): bound the frontend filter chain's function table
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
