Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

Apply per-server weight on the runtime add-server path (!1679)
  CHANGELOG.md
  pkg/dataplane/deployplan/keywords.go
  pkg/dataplane/deployplan/servers.go
  pkg/dataplane/deployplan/servers_test.go
  tests/agent/runtime_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Activate reload-free route add/remove on HAProxy 3.4 (workstream A) (!1680)
  CHANGELOG.md
  docs/site/docs/operations/monitoring.md
  pkg/controller/deployer/deployment_results.go
  pkg/controller/deployer/handle_endpoint_success_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/rendercontext/plan_record.go
  pkg/controller/rendercontext/plan_registry_test.go
  tests/agent/runtime_test.go
  tests/e2e/gateway_reloadfree_test.go
  tests/e2e/ingress_reloadfree_test.go
  tests/e2e/main_test.go
  tests/e2e/reloadfree_helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Verification (workstream D): document reload-free routing + curate changelog (!1681)
  charts/haptic/Chart.yaml
  docs/site/docs/operations/performance.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Give each benchmark render its own context (fixes #165) (!1682)
  cmd/haptic/benchmark.go
  cmd/haptic/benchmark_render.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Audit follow-ups: code + metrics cleanup (!1683)
  cmd/haptic/CLAUDE.md
  cmd/haptic/agent_state.go
  cmd/haptic/benchmark_admission_test.go
  cmd/haptic/plan_differential_test.go
  docs/adr/0022-haptic-agent.md
  docs/site/docs/operations/monitoring.md
  pkg/controller/configpublisher/component_test.go
  pkg/controller/events/events_test.go
  pkg/controller/events/publishing.go
  pkg/controller/events/reconciliation.go
  pkg/controller/events/types.go
  pkg/controller/metrics/component.go
  pkg/controller/metrics/metrics.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/testrunner/assertion_helpers.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/rendering_test.go
  pkg/core/config/defaults.go
  pkg/dataplane/agent/api/api.go
  pkg/dataplane/agent/server/handlers.go
  pkg/events/typed.go
  pkg/metrics/helpers.go
  pkg/templating/README.md
  pkg/templating/filters_scriggo.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Audit follow-ups: docs cleanup (stale slot-pool/SRV_N/debounce docs) (!1684)
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/custom-crd-example/Chart.yaml
  charts/haptic/charts/gateway/43-maps-route-filters.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/ingress/library.yaml
  docs/landing/overrides/home.html
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/reload-free.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  docs/site/docs/validation-tests.md
  docs/site/docs/watching-resources.md
  openspec/specs/template-libraries/spec.md
  scripts/dev-env-assets/e2e-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Tighten chart RBAC to the verbs the controller issues (#146) (!1685)
  CHANGELOG.md
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/tests/__snapshot__/rbac_golden_test.yaml.snap
  charts/haptic/tests/rbac_golden_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Re-pin scriggo to the go-render index-truncation fix (#169) (!1686)
  CHANGELOG.md
  docs/adr/0011-no-haproxy-server-state-file.md
  go.mod
  go.sum
  pkg/templating/filters_guid.go
  pkg/templating/gorender_limit_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Document the scriggo fork maintenance process (#143)
  docs/site/docs/development/scriggo-fork-maintenance.md
  docs/site/mkdocs.yml
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  pkg/templating/README.md
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Narrow remaining own-namespace RBAC grants to the Role (#146 phase-2)
  CHANGELOG.md
  charts/haptic/templates/clusterrole.yaml
  charts/haptic/templates/role.yaml
  charts/haptic/tests/__snapshot__/rbac_golden_test.yaml.snap
  charts/haptic/tests/rbac_golden_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Eliminate the two test-e2e-rate-limit flake sources (#170)
  tests/e2e/apply_rollback_test.go
  tests/e2e/gateway_forward.go
  tests/e2e/gateway_reloadfree_test.go
  tests/e2e/ingress_reloadfree_test.go
  tests/e2e/reloadfree_helpers_test.go
  tests/e2e/tunnel/recovery.go
  tests/e2e/tunnel/recovery_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Extend admission validation to the remaining Gateway kinds (#171)
  CHANGELOG.md
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/tests/validatingwebhookconfiguration_test.yaml
  docs/site/docs/operations/security.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Pacing-aware convergence timeout for reload-gated fleets (#174)
  tests/e2e/gateway_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Give the Varnish policy-probe pod room to start under CI load (#176)
  tests/e2e/ingress_haptic_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Render + admission scale benchmarks (#145)
  cmd/haptic/benchmark_admission_test.go
  cmd/haptic/benchmark_render_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): bound reload-free and deploy waits by convergence, not a fixed deadline (#174)
  tests/e2e/gateway_reloadfree_test.go
  tests/e2e/ingress_reloadfree_test.go
  tests/e2e/leader_change_test.go
  tests/e2e/reloadfree_helpers_test.go
  tests/e2e/wait_controller_forget.go
  tests/e2e/wait_resource_deployed.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix deployer A/B baseline desync skipping a recurring delete under reload pacing
  CHANGELOG.md
  pkg/controller/deployer/dispatch_render_skip_test.go
  pkg/controller/deployer/handle_ab_recurrence_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Reload-gated e2e reliability: deployer P1 + apiserver rate-limit budget + convergence-bounded waits (#174)
  CHANGELOG.md
  charts/haptic/templates/deployment.yaml
  charts/haptic/values.yaml
  cmd/haptic/CLAUDE.md
  cmd/haptic/run.go
  cmd/haptic/run_kubeclient_test.go
  docs/site/docs/reference.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  pkg/controller/deployer/dispatch_render_skip_test.go
  pkg/controller/deployer/handle_ab_recurrence_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/k8s/CLAUDE.md
  pkg/k8s/client/README.md
  pkg/k8s/client/client.go
  pkg/k8s/client/client_ratelimit_test.go
  tests/CLAUDE.md
  tests/e2e/gateway_reloadfree_test.go
  tests/e2e/ingress_reloadfree_test.go
  tests/e2e/leader_change_test.go
  tests/e2e/reloadfree_helpers_test.go
  tests/e2e/wait_controller_forget.go
  tests/e2e/wait_resource_deployed.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): eliminate the startup leader flap — wait for all CRDs to be Established
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(validation): run the config-load gate's haproxy -c checks concurrently
  CHANGELOG.md
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/types.go
  pkg/dataplane/check_gate.go
  pkg/dataplane/check_gate_test.go
  pkg/dataplane/validator.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): wait for Ingress deploy before asserting (fix RunSimpleIngressTest flake)
  tests/CLAUDE.md
  tests/e2e/feature_helpers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): keep the config loadable and fail-closed without the SPOA hub
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/80-rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/82-request-validation.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/canary-mirror.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Guard Gateway API CORS filter values against config injection (#157)
  CHANGELOG.md
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/94-injection-guards.yaml
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Close config-injection holes reintroduced in the vendor libraries (#157)
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/95-injection-guards.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(render): cache the dynamically-built resource reflect types (#178)
  CHANGELOG.md
  pkg/controller/rendercontext/builder.go
  pkg/controller/typebootstrap/declarations.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs+tooling: document GOMEMLIMIT/automemlimit; add benchmark --memprofile
  cmd/haptic/CLAUDE.md
  cmd/haptic/benchmark.go
  scripts/test-benchmark.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages to v0.36.4
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

gateway: skip the advanced-matcher pass for map-decidable routes
  CHANGELOG.md
  charts/haptic/charts/gateway/60-frontend.yaml
  scripts/test-benchmark.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update linting tools to v2.13.1
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go version to v1.27.0
  .gitlab/ci/images/ci/tools/go.mod
  .tool-versions
  go.mod
  tools/linters/eventimmutability/go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

benchmark: add --cpuprofile flag bracketing the render loop
  cmd/haptic/benchmark.go
  scripts/test-benchmark.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

charts: skip annotation-scan loop bodies for non-participating Ingresses
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/40-features.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

bench: update the watcher-default provenance pin to the 100ms default
  scripts/bench-gateway-api.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update non-major dependencies
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update kubernetes packages
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update linting tools to v2.13.2
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update non-major dependencies
  .gitlab-ci.yml
  .gitlab/ci/images/ci/tools/go.mod
  .gitlab/ci/images/ci/tools/go.sum
  Dockerfile.spoa-hub
  Makefile
  charts/haptic/values.yaml
  docs/site/docs/reference.md
  go.mod
  go.sum
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
