Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to c866086
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.4
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: throttle HAProxyCfg CRD publishes to reduce etcd write pressure
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/workers.go
  pkg/controller/reconciliation.go
  pkg/core/config/defaults.go
  pkg/core/config/types.go
  pkg/k8s/configpublisher/runtime_config.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.5
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: throttle HAProxyCfg CRD status writes to reduce etcd pressure
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/workers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: clarify annotation library naming and add migration notes
  charts/haptic/README.md
  charts/haptic/docs/libraries/gateway.md
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/ingress.md
  charts/haptic/docs/libraries/path-regex-last.md
  charts/haptic/docs/libraries/ssl.md
  charts/haptic/docs/template-libraries.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

fix: limit CRD status writes to error state transitions only
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxycrtlistfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxygeneralfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  pkg/apis/haproxytemplate/v1alpha1/types_haproxycfg.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/configpublisher/component_test.go
  pkg/controller/configpublisher/workers.go
  pkg/k8s/configpublisher/auxfile_helpers.go
  pkg/k8s/configpublisher/auxfile_helpers_test.go
  pkg/k8s/configpublisher/name_helpers.go
  pkg/k8s/configpublisher/name_helpers_test.go
  pkg/k8s/configpublisher/publisher_test.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: clean up vestigial code after CRD telemetry removal
  pkg/controller/configpublisher/workers.go
  pkg/k8s/configpublisher/name_helpers.go
  pkg/k8s/configpublisher/runtime_config.go
  pkg/k8s/configpublisher/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add nginx-ingress annotation compatibility template library
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/annotations.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/templates/_helpers.tpl
  charts/haptic/values.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

refactor: deduplicate timer management, CLI helpers, and test utilities
  SECURITY.md
  cmd/controller/benchmark.go
  cmd/controller/shared.go
  cmd/controller/validate.go
  docs/development/releasing.md
  pkg/controller/configchange/handler.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/timers/timer.go
  pkg/controller/timers/timer_test.go
  tests/integration/haproxy.go
  tests/integration/sync_common_test.go
  tests/integration/sync_idempotency_test.go
  tests/integration/wait.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: consolidate duplicate include stats functions and remove dead code
  charts/haptic/templates/_helpers.tpl
  cmd/controller/benchmark.go
  cmd/controller/run.go
  cmd/controller/shared.go
  cmd/controller/validate.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: deduplicate test mocks, remove dead exports, and implement isRetriable
  pkg/controller/configpublisher/component_test.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/rendercontext/builder_test.go
  pkg/controller/rendercontext/helpers_test.go
  pkg/controller/rendercontext/store_wrapper_test.go
  pkg/controller/renderer/component_test.go
  pkg/controller/statusapplier/component.go
  pkg/controller/validator/haproxy_validator_test.go
  pkg/controller/webhook/component_test.go
  pkg/lifecycle/CLAUDE.md
  pkg/lifecycle/registry.go
  pkg/lifecycle/registry_test.go
  pkg/stores/storetest/mock.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: deduplicate enterprise client boilerplate and storage test helpers
  pkg/dataplane/client/enterprise/aloha.go
  pkg/dataplane/client/enterprise/botmgmt.go
  pkg/dataplane/client/enterprise/dynamic_update.go
  pkg/dataplane/client/enterprise/git.go
  pkg/dataplane/client/enterprise/keepalived.go
  pkg/dataplane/client/enterprise/keepalived_vrrp_groups.go
  pkg/dataplane/client/enterprise/logging.go
  pkg/dataplane/client/enterprise/misc.go
  pkg/dataplane/client/enterprise/response.go
  pkg/dataplane/client/enterprise/udp.go
  pkg/dataplane/client/enterprise/waf.go
  pkg/dataplane/client/enterprise/waf_body_rules.go
  pkg/dataplane/client/enterprise/waf_rulesets.go
  pkg/dataplane/client/storage_general_test.go
  pkg/dataplane/client/storage_maps_test.go
  pkg/dataplane/client/storage_ssl_ca_test.go
  pkg/dataplane/client/storage_ssl_crl_test.go
  pkg/dataplane/client/storage_ssl_test.go
  pkg/dataplane/client/testing_helpers_test.go
  pkg/introspection/http.go
  pkg/introspection/http_test.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: remove dead code, eliminate nolint directives, and deduplicate parser logging
  .golangci.yml
  CLAUDE.md
  pkg/controller/commentator/insights.go
  pkg/controller/controller.go
  pkg/controller/renderer/component.go
  pkg/controller/testrunner/output.go
  pkg/dataplane/client/enterprise/aloha_test.go
  pkg/dataplane/client/enterprise/botmgmt_test.go
  pkg/dataplane/client/enterprise/common_test.go
  pkg/dataplane/client/enterprise/dynamic_update_test.go
  pkg/dataplane/client/enterprise/git_test.go
  pkg/dataplane/client/enterprise/keepalived_test.go
  pkg/dataplane/client/enterprise/logging_test.go
  pkg/dataplane/client/enterprise/misc_test.go
  pkg/dataplane/client/enterprise/testing_helpers_test.go
  pkg/dataplane/client/enterprise/udp_test.go
  pkg/dataplane/client/enterprise/waf_test.go
  pkg/dataplane/parser/enterprise/sections_ce.go
  pkg/dataplane/parser/parser.go
  pkg/dataplane/parser/sections_core.go
  pkg/dataplane/parser/sections_service.go
  pkg/httpstore/store_test.go
  pkg/httpstore/store_validation.go
  pkg/introspection/http.go
  pkg/introspection/http_test.go
  pkg/introspection/server.go
  pkg/introspection/typed.go
  pkg/k8s/indexer/filter.go
  pkg/k8s/watcher/single_test.go
  pkg/k8s/watcher/watcher.go
  tests/acceptance/env.go
  tests/architecture_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: add missing nginx-ingress library to helm chart docs nav
  charts/haptic/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, pages-preview, trigger-pages

refactor: unexport unused symbols and remove dead metrics helper
  pkg/httpstore/store.go
  pkg/httpstore/store_test.go
  pkg/httpstore/types.go
  pkg/metrics/CLAUDE.md
  pkg/metrics/README.md
  pkg/metrics/helpers.go
  pkg/metrics/helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: replace sort package with slices package across codebase
  cmd/controller/benchmark.go
  cmd/controller/shared.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/helpers/templating.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/validator/jsonpath.go
  pkg/dataplane/auxiliaryfiles/ssl.go
  pkg/dataplane/client/storage_ssl.go
  pkg/dataplane/comparator/compare_rules.go
  pkg/dataplane/comparator/compare_security.go
  pkg/dataplane/comparator/diff.go
  pkg/dataplane/synchronizer/synchronizer.go
  pkg/introspection/registry.go
  pkg/templating/engine_scriggo.go
  pkg/templating/engine_scriggo_fs.go
  pkg/templating/filters_collection.go
  pkg/templating/filters_navigation.go
  pkg/templating/profiling.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 64f4715
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: modernize Go idioms across codebase
  cmd/gen-validators/codegen_hashers.go
  cmd/gen-validators/codegen_validators.go
  pkg/k8s/store/memory.go
  tests/acceptance/debug_client.go
  tools/linters/eventimmutability/analyzer.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: replace fmt.Sprintf/Sscanf with strconv and simplify control flow
  pkg/k8s/indexer/indexer_test.go
  pkg/k8s/indexer/jsonpath.go
  pkg/templating/error_formatter.go
  tests/testutil/wait.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: replace interface{} with any and use bytes.NewReader
  pkg/controller/commentator/commentator_test.go
  pkg/controller/conversion/converter.go
  pkg/controller/discovery/discovery.go
  pkg/controller/discovery/discovery_test.go
  pkg/controller/events/config.go
  pkg/controller/events/credentials.go
  pkg/controller/events/events_test.go
  pkg/controller/events/webhook.go
  pkg/controller/httpstore/wrapper.go
  pkg/controller/httpstore/wrapper_test.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/renderer/component_test.go
  pkg/controller/resourcestore/manager_test.go
  pkg/controller/resourcestore/overlay.go
  pkg/controller/resourcestore/overlay_test.go
  pkg/core/config/validation_extra.go
  pkg/dataplane/client/metadata.go
  pkg/dataplane/client/middleware.go
  pkg/introspection/http.go
  pkg/introspection/jsonpath.go
  pkg/introspection/types.go
  pkg/introspection/var.go
  pkg/k8s/indexer/convert.go
  pkg/k8s/watcher/single.go
  pkg/stores/overlay.go
  pkg/stores/overlay_test.go
  pkg/templating/engine_scriggo_test.go
  pkg/templating/filter_names.go
  pkg/templating/filters.go
  pkg/templating/filters_collection.go
  pkg/templating/filters_navigation.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_scriggo_test.go
  pkg/templating/filters_status.go
  pkg/templating/filters_type.go
  pkg/templating/func_types.go
  pkg/templating/sorting_helpers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: deduplicate toString and minor code cleanups
  cmd/controller/run.go
  pkg/controller/reconciliation.go
  pkg/templating/filters.go
  pkg/templating/filters_type.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: restore and update GitHub Actions CI workflows
  .github/workflows/chart.yaml
  .github/workflows/ci.yml
  .github/workflows/docs-controller.yaml
  .github/workflows/docs-helm-chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: handle missing production site in docs-preview
  .github/workflows/ci.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: build landing page with mkdocs in docs-preview
  .github/workflows/ci.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: install markdownlint-cli2 for lint job and allow docs-preview to fail gracefully
  .github/workflows/ci.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: add missing packages to golangci-lint targets
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor: minor code cleanup
  cmd/gen-validators/resolver.go
  pkg/controller/commentator/insights.go
  pkg/controller/testutil/testutil.go
  pkg/lifecycle/registry.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: pin CI tool versions for reproducibility
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

refactor: deduplicate multipart file payload builders
  pkg/dataplane/client/storage_general.go
  pkg/dataplane/client/storage_helpers.go
  pkg/dataplane/client/storage_helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: use PriorityMultiplier constant and remove redundant wrapper
  pkg/dataplane/auxiliaryfiles/auxiliaryfiles_test.go
  pkg/dataplane/auxiliaryfiles/crtlist.go
  pkg/dataplane/comparator/sections/factory_server.go
  pkg/dataplane/comparator/sections/operations_generic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: replace fmt.Sprintf("%v", x) with fmt.Sprint(x)
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/statecache.go
  pkg/controller/testrunner/assertion_types.go
  pkg/templating/filters_collection.go
  pkg/templating/filters_status.go
  pkg/templating/filters_type.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: deduplicate capability errors and transaction abort pattern
  pkg/dataplane/client/adapter.go
  pkg/dataplane/client/capability_errors.go
  pkg/dataplane/client/crtloads.go
  pkg/dataplane/client/storage_crtlist.go
  pkg/dataplane/client/storage_crtlist_entries.go
  pkg/dataplane/client/storage_logprofiles.go
  pkg/dataplane/client/storage_ssl_ca.go
  pkg/dataplane/client/storage_ssl_crl.go
  pkg/dataplane/client/storage_traces.go
  pkg/dataplane/comparator/sections/executors/certificate.go
  pkg/dataplane/comparator/sections/executors/observability.go
  pkg/dataplane/comparator/sections/executors/quic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: simplify control flow with early returns
  pkg/controller/config.go
  pkg/dataplane/parser/enterprise/sections_ce.go
  pkg/lifecycle/registry.go
  tests/acceptance/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: remove redundant initializations and dead code
  pkg/controller/commentator/insights.go
  pkg/events/bus.go
  pkg/k8s/store/cached.go
  pkg/k8s/store/memory.go
  pkg/lifecycle/builder.go
  pkg/templating/engine_scriggo.go
  pkg/templating/engine_scriggo_tracing.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: extract CLI separator constants and fix import grouping
  cmd/controller/benchmark.go
  cmd/controller/shared.go
  cmd/controller/validate.go
  pkg/httpstore/overlay.go
  pkg/metrics/helpers.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
