Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

feat(conformance): RoundTripper keys NodePort by (LB-IP, port) (phase 6/6)
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart,conformance): per-Gateway-IP architecture polish
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "feat(chart): per-Gateway LoadBalancer Service emission (phase 3/6)"
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/tests/17-per-gateway-services.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "feat(chart): status patcher uses per-Gateway LB IP (phase 5/6)"
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/19-status-per-gateway-address.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Revert "fix(chart,conformance): per-Gateway-IP architecture polish"
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "feat(chart): per-Gateway HAProxy bind emission (phase 4/6)"
  charts/haptic/libraries/gateway/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/tests/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(templates): resolve named Service ports correctly across all backend libraries
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/gateway.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  openspec/changes/fix-named-service-port-resolution/design.md
  openspec/changes/fix-named-service-port-resolution/proposal.md
  openspec/changes/fix-named-service-port-resolution/tasks.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): HTTPRoute rules with all-invalid backendRefs return HTTP 500
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): per-listener attached-route counting honors hostname/namespace/kinds filters
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): wire upstream Gateway API conformance suite + GatewayClass status reconciliation
  Makefile
  charts/haptic/libraries/gateway.yaml
  go.mod
  go.sum
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): Gateway HTTPS listener with no hostname promotes its cert as the chart's TLS default
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): ReferenceGrant gating for cross-namespace Gateway certificateRefs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Gateway/HTTPRoute status patches fire on render, not just deploy
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): routes without spec.hostnames inherit attached listener hostnames
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): listener ResolvedRefs=False/InvalidCertificateRef for bad TLS certs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): ReferenceGrant gating for cross-namespace HTTPRoute backendRefs
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): listener Programmed reflects ResolvedRefs status
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(e2e+chart): MetalLB + LoadBalancer for Gateway addresses; honor allowedRoutes.kinds
  charts/haptic/libraries/gateway.yaml
  tests/e2e/metallb.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): per-parent HTTPRoute Accepted condition reflects listener attachment
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): InvalidCertificateRef detects malformed PEM data
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(conformance): clarify the SupportedFeatures policy and core-feature gating
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): exclude features not implementable on the chart's data plane
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): inherit listener hostnames into host.map for routes with empty spec.hostnames
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): HTTPRoute rules with non-existent backend Service also return HTTP 500
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chart(gateway): drop debounceInterval to 1s for Gateway/HTTPRoute/GatewayClass watchers
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): emit per-rule HTTPRoute timeouts in backend section, not frontend
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): treat ReferenceGrant-denied backendRefs as invalid for routing
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): use txn.gw_rule_id (was req.) so http-response filters survive into response phase
  Makefile
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(templating): make transitionTime resource-agnostic
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): Gateway-level Programmed condition reflects listener health
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): honour parentRef.port when matching HTTPRoute to listeners
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(controller): lower default debounce interval from 5s to 1s
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): bump conformance timeout to 60m / 70m so the suite finishes
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): URLRewrite ReplacePrefixMatch produces correct path with rp '/'
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): declare HTTPRoute redirect/rewrite/status-code features
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(chart): implement HTTPRoute spec.rules[].timeouts via http-request set-timeout
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): skip malformed-PEM certs at registration time so HAProxy doesn't choke
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): set proto h2 on Gateway backends with appProtocol kubernetes.io/h2c
  charts/haptic/libraries/gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(conformance): declare all standard-channel features + fix RequestRedirect ReplacePrefixMatch
  charts/haptic/libraries/gateway.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes
