Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Simplify single-owner controller timers
  CHANGELOG.md
  openspec/specs/deployment-scheduling/spec.md
  pkg/controller/crdwatch/component.go
  pkg/controller/deployer/drift_monitor.go
  pkg/controller/deployer/drift_monitor_lost_leadership_test.go
  pkg/controller/deployer/drift_monitor_test.go
  pkg/controller/timers/README.md
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix latency, memory and admission defects found by gateway-api-bench
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/charts/gateway/20-route-analysis.yaml
  charts/haptic/charts/gateway/41-maps-path.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/gateway/tests/22-routing-precedence.yaml
  docs/site/docs/operations/monitoring.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/configpublisher/prune_superseded_deployed_test.go
  pkg/controller/currentconfigstore/store.go
  pkg/controller/dryrunvalidator/multi_version_admission_test.go
  pkg/controller/dryrunvalidator/resource_mapping.go
  pkg/controller/metrics/CLAUDE.md
  pkg/controller/metrics/README.md
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/metrics/parser_cache_collector.go
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/assertion_types.go
  pkg/controller/testrunner/runner.go
  pkg/controller/webhook/component.go
  pkg/controller/webhook/served_versions_test.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_cache_attribution_test.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/parser/enterprise/parser.go
  pkg/dataplane/parser/parsed_config_cache_test.go
  pkg/dataplane/parser/parser.go
  pkg/dataplane/parser/parser_cache_sources_test.go
  pkg/dataplane/parser/parser_test.go
  pkg/dataplane/parser/parser_uncached_test.go
  pkg/dataplane/validate_syntax.go
  pkg/dataplane/validator.go
  tests/schemas-ga-none/expected-stripped.txt
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Stop re-parsing an unchanged HAProxy config on auxiliary-file churn
  CHANGELOG.md
  pkg/controller/currentconfigstore/store.go
  pkg/controller/currentconfigstore/store_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Add /debug/heapdump for heap retainer analysis
  CHANGELOG.md
  docs/site/docs/development/design/introspection.md
  docs/site/docs/operations/performance.md
  pkg/introspection/heapdump_space_linux.go
  pkg/introspection/heapdump_space_other.go
  pkg/introspection/heapdump_test.go
  pkg/introspection/server.go
  tests/acceptance/debug_client.go
  tests/acceptance/heapdump_test.go
  tests/acceptance/parallel_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 1f3e5b6
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(k8s): materialise typed resources without a JSON round-trip
  CHANGELOG.md
  pkg/k8s/typegen/wrap.go
  pkg/k8s/typegen/wrap_equivalence_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(templating): repair the render benchmarks and pin parse retention
  pkg/dataplane/parser/retention_test.go
  pkg/templating/benchmark_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(templating): pick up the scriggo pooled-VM reference release
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(dataplane): construct the config parser per parse instead of reusing one
  CHANGELOG.md
  pkg/controller/currentconfigstore/README.md
  pkg/controller/currentconfigstore/store.go
  pkg/controller/currentconfigstore/store_test.go
  pkg/dataplane/validate_syntax.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(changelog): record the per-parse parser measurement
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(controller): stop re-parsing the config this controller just published
  CHANGELOG.md
  pkg/controller/currentconfigstore/store.go
  pkg/controller/currentconfigstore/store_test.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciliation.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module helm.sh/helm/v4 to v4.2.4
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(build): make controller identity verifiable
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  CLAUDE.md
  Dockerfile
  Makefile
  cmd/controller/version.go
  go.mod
  scripts/README.md
  scripts/source-hash.sh
  scripts/test-chart-upgrade.sh
  scripts/verify-source-hash.sh
  tests/e2e/CLAUDE.md
  tests/e2e/main_test.go
  tests/e2e/scale_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/haproxytech/client-native/v5 to v5.1.28
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/tools to v0.49.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 5b24a58
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update go version to v1.26.6
  .gitlab/ci/images/ci/tools/go.mod
  .tool-versions
  go.mod
  tools/linters/eventimmutability/go.mod
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 706fc2f
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module golang.org/x/vuln to v1.7.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(build): allow go.mod to select the Docker toolchain patch
  Dockerfile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): drop the direct dependency on client-native v5
  go.mod
  pkg/dataplane/parser/retention_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): wait for every controller after CRD changes
  tests/e2e/crd_upgrade_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 780f57e
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(controller): release duplicate admission state
  CHANGELOG.md
  pkg/controller/currentfiles_admission_test.go
  pkg/controller/helpers/CLAUDE.md
  pkg/controller/helpers/README.md
  pkg/controller/pipeline/README.md
  pkg/controller/pipeline/pipeline.go
  pkg/controller/reconciliation.go
  pkg/controller/validation/README.md
  pkg/controller/validation/service.go
  pkg/controller/validation/service_test.go
  pkg/controller/webhook.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(controller): fence dataplane version-cache hits
  CHANGELOG.md
  openspec/specs/dataplane-sync/spec.md
  openspec/specs/deployment-scheduling/spec.md
  pkg/controller/deployer/README.md
  pkg/controller/deployer/activation_provenance_test.go
  pkg/controller/deployer/check_deployment_timeout_test.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/deployment_timeout_authority_test.go
  pkg/controller/deployer/handle_deployment_completed_race_test.go
  pkg/controller/deployer/handle_deployment_failure_retry_test.go
  pkg/controller/deployer/handle_pods_discovered_empty_endpoints_test.go
  pkg/controller/deployer/handle_validation_completed_skip_test.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_body_test.go
  pkg/controller/deployer/runtime_bypass_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_cancellation_test.go
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_render_pairing_test.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/deployer/stack.go
  pkg/controller/deployer/stack_test.go
  pkg/controller/deployer/version_cache.go
  pkg/controller/deployer/version_cache_test.go
  pkg/dataplane/README.md
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_version_cache_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(controller): share equivalent endpoint config parses
  CHANGELOG.md
  openspec/specs/dataplane-sync/spec.md
  openspec/specs/deployment-scheduling/spec.md
  pkg/controller/deployer/README.md
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/version_cache_test.go
  pkg/dataplane/config.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_readback_test.go
  pkg/dataplane/result.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

[security] Contain aux-file paths: reject traversal in map/file/ca-file resolution
  pkg/controller/rendercontext/file_registry_test.go
  pkg/dataplane/resolve_auxiliary_path_test.go
  pkg/dataplane/validate_haproxy.go
  pkg/templating/filters.go
  pkg/templating/filters_archive.go
  pkg/templating/filters_archive_test.go
  pkg/templating/filters_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

[security] Guard resource-derived paths before they enter the routing map
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/41-maps-path.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/ingress/library.yaml
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(controller): compact commentator event history
  CHANGELOG.md
  pkg/controller/commentator/CLAUDE.md
  pkg/controller/commentator/README.md
  pkg/controller/commentator/commentator.go
  pkg/controller/commentator/compute_reconciliation_summary_test.go
  pkg/controller/commentator/history_projection_test.go
  pkg/controller/commentator/insights_config.go
  pkg/controller/commentator/insights_pipeline.go
  pkg/controller/commentator/log_levels.go
  pkg/controller/commentator/log_levels_buffer_test.go
  pkg/controller/commentator/ring_buffer.go
  pkg/controller/commentator/ring_buffer_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

[security] Guard resource-derived values in Gateway frontend ACLs and directives
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/tests/21-routing-headers.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

[security] Centralize config-injection guards; fix default-enabled cluster
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/92-listener-tls-options.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/charts/gateway/tests/94-injection-guards.yaml
  charts/haptic/charts/haptic-annotations/30-frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/62-api-key.yaml
  charts/haptic/charts/haptic-annotations/64-gateway-security.yaml
  charts/haptic/charts/haptic-annotations/tests/api-key.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(templating): cache repeated regex searches
  CHANGELOG.md
  openspec/specs/template-engine/spec.md
  pkg/templating/CLAUDE.md
  pkg/templating/README.md
  pkg/templating/benchmark_test.go
  pkg/templating/filters_scriggo.go
  pkg/templating/filters_string.go
  pkg/templating/regex_cache.go
  pkg/templating/regex_cache_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

[security] Harden nginx-ingress annotation library against config injection
  CHANGELOG.md
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/16-server-alias.yaml
  charts/haptic/charts/nginx-ingress/18-satisfy.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/charts/nginx-ingress/tests/satisfy.yaml
  charts/haptic/charts/nginx-ingress/tests/server-alias.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

[security] Harden haproxytech annotation library against config injection
  CHANGELOG.md
  charts/haptic/charts/haproxytech/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

[security] Harden haproxy-ingress annotation library against config injection
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/10-path-maps.yaml
  charts/haptic/charts/haproxy-ingress/15-server-alias.yaml
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Accept a legacy auxiliary set on leadership; bundle rate-limit plugin v0.3.1
  CHANGELOG.md
  charts/haptic/charts/vector/library.yaml
  docs/site/docs/operations/spoa-hub.md
  pkg/controller/commentator/insights_config.go
  pkg/controller/config.go
  pkg/controller/currentfiles.go
  pkg/controller/currentfiles_test.go
  pkg/controller/publishedauxfiles.go
  pkg/controller/publishedauxfiles_test.go
  versions-spoa.env
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Don't print an expected render error as a failed step
  pkg/controller/testrunner/output.go
  pkg/controller/testrunner/output_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Add reusable Gateway API benchmark harness
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
  Makefile
  docs/site/docs/operations/performance.md
  scripts/README.md
  scripts/analyze-gateway-api-bench.py
  scripts/analyze-gateway-api-children.py
  scripts/analyze-gateway-api-resources.py
  scripts/analyze-gateway-api-supervisor-logs.py
  scripts/bench-gateway-api.sh
  scripts/tests/test_analyze_gateway_api_bench.py
  scripts/tests/test_analyze_gateway_api_children.py
  scripts/tests/test_analyze_gateway_api_resources.py
  scripts/tests/test_analyze_gateway_api_supervisor_logs.py
  scripts/tests/test_bench_gateway_api.sh
  tests/e2e/CLAUDE.md
  tests/e2e/constants.go
  tests/e2e/e2ecluster/config.go
  tests/e2e/e2ecluster/config_test.go
  tests/e2e/e2ecluster/gateway_api.go
  tests/e2e/e2ecluster/gateway_api_test.go
  tests/e2e/gwapi_release_matrix_test.go
  tests/e2e/main_test.go
  tests/e2e/metallb.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults
