Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix(reconciler): coalesce reconciliation triggers to stop status-lag under churn
  pkg/controller/reconciler/coordinator.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): emit required attachedRoutes in deployed/deployFailed listener status
  charts/haptic/charts/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(gateway): mixed valid+invalid listeners → Accepted=True/ListenersNotValid
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/60-status.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): treat status-apply NotFound as a benign skip, not a failure
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: correct stale annotation-status claims; hide home-page left nav
  charts/haptic/docs/libraries/haproxy-ingress.md
  docs/controller/docs/index.md
  docs/controller/docs/migrating.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(resourceapplier): apply rendered resources concurrently to stop dropped reconciliations
  pkg/controller/resourceapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/klauspost/compress to v1.19.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(coalesce): flush held coalesced event at run boundaries to prevent starvation
  CHANGELOG.md
  pkg/controller/coalesce/CLAUDE.md
  pkg/controller/coalesce/README.md
  pkg/controller/coalesce/coalesce.go
  pkg/controller/coalesce/coalesce_test.go
  pkg/controller/component/base.go
  pkg/controller/component/base_coalescing_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(configpublisher): retry pod status update when HAProxyCfg is not yet published
  CHANGELOG.md
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/handlers.go
  pkg/controller/configpublisher/status_work_requeue_test.go
  pkg/controller/configpublisher/workers.go
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/publisher_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): coraza default directives were silently detection-only
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/spoa-hub/tests/general.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(component): drain subscriptions through a coalescing mailbox so slow handlers cannot cause bus drops
  CHANGELOG.md
  pkg/controller/component/base.go
  pkg/controller/component/base_mailbox_test.go
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(component): coalesce all declared latest-wins event types in the mailbox; widen status-apply fan-out
  CHANGELOG.md
  pkg/controller/component/base.go
  pkg/controller/component/base_coalescing_test.go
  pkg/controller/component/base_mailbox_test.go
  pkg/controller/deployer/component.go
  pkg/controller/events/deployment.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(chart): pin status patch for ListenerSet-hosting Gateways
  charts/haptic/charts/gateway/tests/31-listenerset-gateway-status.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(controller): apply rendered status only after the same render's resources exist
  CHANGELOG.md
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/reconciliation_insight_test.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/drift_monitor_test.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/events/events_test.go
  pkg/controller/events/reconciliation.go
  pkg/controller/events/types.go
  pkg/controller/metrics/component_test.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/reconciler/reconciler_test.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): raise the suite client's QPS/Burst far above client-go defaults
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): keep status-wait budgets at upstream defaults
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(component): pace the mailbox burst test on intake absorption
  pkg/controller/component/base_mailbox_test.go
  pkg/controller/component/mailbox_test_helpers_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(component): clear the mailbox across leadership terms; honor shutdown mid-drain
  pkg/controller/component/base.go
  pkg/controller/component/base_mailbox_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test+docs(controller): cover the new event contracts; sweep event-flow docs
  pkg/controller/coalesce/CLAUDE.md
  pkg/controller/coalesce/README.md
  pkg/controller/coalesce/coalesce.go
  pkg/controller/component/README.md
  pkg/controller/component/base.go
  pkg/controller/events/CLAUDE.md
  pkg/controller/events/README.md
  pkg/controller/events/coalescible_test.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/resourceapplier/README.md
  pkg/controller/resourceapplier/component_test.go
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/README.md
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(chart): remove dead wildcard route-count lookup; pin variant and default-directive contracts
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/31-listenerset-gateway-status.yaml
  charts/haptic/libraries/spoa-hub/tests/general.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): bound the SSA checksum cache
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(e2e): reach Gateways via port-forward to their per-Gateway Services
  tests/e2e/gateway_forward.go
  tests/e2e/gateway_tls_terminate_test.go
  tests/e2e/grpc_tls_test.go
  tests/e2e/grpcclient/client.go
  tests/e2e/httpclient/client.go
  tests/e2e/httpclient/request.go
  tests/e2e/httproute_basic_test.go
  tests/e2e/httproute_complex_test.go
  tests/e2e/httproute_matchers_test.go
  tests/e2e/httproute_split_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(chart): move the coraza default-ordering guard out of validationTests
  charts/haptic/libraries/spoa-hub/tests/general.yaml
  scripts/test-templates.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): enable the controller startup probe by default
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): give environment readiness a startup-sized budget
  tests/e2e/constants.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(ci): cap conformance suite parallelism and collect VIP-programming diagnostics
  .gitlab-ci.yml
  Makefile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(gateway): make per-Gateway pod-port allocation a pure hash of the key
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/15-pod-port-allocator.yaml
  charts/haptic/charts/gateway/tests/17-per-gateway-services.yaml
  charts/haptic/charts/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/tests/92-listener-tls-options.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(controller): give the load-path validationTests gate its own 120s budget
  CHANGELOG.md
  pkg/controller/config.go
  pkg/controller/validator/validationtests.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): actually enable the controller startup probe by default
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(conformance): return MaxTimeToConsistency to the upstream default
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(gateway): fail loudly when pod-port keys exceed the slot range
  charts/haptic/charts/gateway/15-pod-port-allocator.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(deployer): make the coalesce-drain test scheduling-independent
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): strip the whole TCPRoute feature when its CRD is not served
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/90-tcproute.yaml
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/tests/library_loader_test.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(openspec): add gateway-api-runtime-version-detection change
  openspec/changes/gateway-api-runtime-version-detection/.openspec.yaml
  openspec/changes/gateway-api-runtime-version-detection/design.md
  openspec/changes/gateway-api-runtime-version-detection/proposal.md
  openspec/changes/gateway-api-runtime-version-detection/specs/configuration-management/spec.md
  openspec/changes/gateway-api-runtime-version-detection/specs/kubernetes-resource-watching/spec.md
  openspec/changes/gateway-api-runtime-version-detection/specs/runtime-version-detection/spec.md
  openspec/changes/gateway-api-runtime-version-detection/specs/template-engine/spec.md
  openspec/changes/gateway-api-runtime-version-detection/specs/template-libraries/spec.md
  openspec/changes/gateway-api-runtime-version-detection/tasks.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(openspec): archive gateway-api-runtime-version-detection
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/.openspec.yaml
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/design.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/proposal.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/specs/configuration-management/spec.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/specs/kubernetes-resource-watching/spec.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/specs/runtime-version-detection/spec.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/specs/template-engine/spec.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/specs/template-libraries/spec.md
  openspec/changes/archive/2026-07-04-gateway-api-runtime-version-detection/tasks.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/kubernetes-resource-watching/spec.md
  openspec/specs/runtime-version-detection/spec.md
  openspec/specs/template-engine/spec.md
  openspec/specs/template-libraries/spec.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(openspec): backfill specs for every load-bearing subsystem
  docs/adr/0009-aux-file-skip-reload.md
  openspec/specs/config-publishing/spec.md
  openspec/specs/configuration-management/spec.md
  openspec/specs/controller-lifecycle/spec.md
  openspec/specs/dataplane-sync/spec.md
  openspec/specs/deployment-scheduling/spec.md
  openspec/specs/event-driven-architecture/spec.md
  openspec/specs/haproxy-fleet-discovery/spec.md
  openspec/specs/http-backed-stores/spec.md
  openspec/specs/k8s-resource-applier/spec.md
  openspec/specs/kubernetes-resource-watching/spec.md
  openspec/specs/leader-election/spec.md
  openspec/specs/metrics-and-observability/spec.md
  openspec/specs/pluggable-validator-sidecar/spec.md
  openspec/specs/reconciliation-pipeline/spec.md
  openspec/specs/runtime-version-detection/spec.md
  openspec/specs/spoa-hub-library/spec.md
  openspec/specs/status-patch-engine/spec.md
  openspec/specs/status-patch-libraries/spec.md
  openspec/specs/template-engine/spec.md
  openspec/specs/template-libraries/spec.md
  openspec/specs/typed-watched-resources/spec.md
  openspec/specs/validating-webhook/spec.md
  pkg/controller/webhook/CLAUDE.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: strip validationTests on absent schema fields — un-break old Gateway API clusters
  CHANGELOG.md
  Makefile
  charts/haptic/charts/gateway/tests/10-https-listener.yaml
  charts/haptic/charts/gateway/tests/16-crtlist-per-listener.yaml
  charts/haptic/charts/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/tests/26-session-persistence.yaml
  charts/haptic/charts/gateway/tests/40-filters.yaml
  charts/haptic/charts/gateway/tests/62-infrastructure.yaml
  charts/haptic/charts/gateway/tests/91-retry.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  cmd/controller/validate.go
  docs/controller/docs/crd-reference.md
  openspec/specs/runtime-version-detection/spec.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/converter_validationtests_test.go
  pkg/controller/conversion/effective_spec.go
  pkg/controller/conversion/effective_spec_test.go
  pkg/controller/crdwatch/component.go
  pkg/controller/crdwatch/component_test.go
  pkg/controller/effectiveconfig.go
  pkg/controller/effectiveconfig_test.go
  pkg/controller/iteration.go
  pkg/core/config/effective.go
  pkg/core/config/effective_test.go
  pkg/core/config/types.go
  pkg/core/config/validator.go
  pkg/core/config/validator_test.go
  pkg/k8s/schemafetcher/fieldprobe.go
  pkg/k8s/schemafetcher/fieldprobe_test.go
  scripts/test-templates.sh
  tests/schemas-ga-none/expected-failures.txt
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-failures.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-failures.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
  tests/schemas-ga-v1.5/expected-failures.txt
  tests/schemas-ga-v1.5/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
