Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

refactor: remove dead test helpers and hand-rolled stdlib loops
  pkg/controller/configpublisher/workers.go
  pkg/controller/conversion/converter.go
  pkg/controller/rendercontext/builder.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/typebootstrap/declarations.go
  pkg/controller/typebootstrap_wiring.go
  pkg/controller/validator/jsonpath.go
  pkg/k8s/schemafetcher/map_fetcher.go
  pkg/k8s/typegen/converter.go
  pkg/stores/provider.go
  pkg/templating/filters_navigation.go
  scripts/dev-env-assets/devassets.go
  tests/acceptance/env.go
  tests/acceptance/fixtures.go
  tests/e2e/feature_helpers.go
  tests/e2e/grpcclient/client.go
  tests/e2e/httpclient/client.go
  tests/e2e/httpclient/echo.go
  tests/e2e/httpclient/request.go
  tests/integration/testutil.go
  tests/testutil/wait.go
  tools/linters/eventimmutability/analyzer.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: trim dead helpers and dup in tests/ and tooling
  hack/update-codegen.sh
  tests/acceptance/constants.go
  tests/acceptance/debug_client.go
  tests/acceptance/env.go
  tests/conformance/snapshotter.go
  tests/e2e/cleanup.go
  tests/e2e/rolling_restart_instrumentation.go
  tests/integration/haproxy.go
  tests/integration/kind_cluster.go
  tests/testutil/wait.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: trim test tooling, scripts, and dead code
  .gitlab-ci.yml
  Makefile
  docs/controller/docs/development/releasing.md
  scripts/README.md
  scripts/fetch-k8s-openapi-schemas.sh
  scripts/release-chart.sh
  scripts/release-controller.sh
  scripts/release.sh
  scripts/shard-conformance-tests.sh
  scripts/start-dev-env.sh
  scripts/test-benchmark.sh
  scripts/test-helm-defaults.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

refactor(chart): trim dead template-library code
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/71-status-route.yaml
  charts/haptic/charts/gateway/73-status-policy.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/docs/libraries/base.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/spoa-hub/10-features.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update kubernetes packages
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: add HAProxy 3.4 support
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  CLAUDE.md
  Makefile
  charts/haptic/CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/values.yaml
  docs/controller/docs/changelog.md
  docs/controller/docs/development/releasing.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/operations/haproxy-versions.md
  openspec/specs/haproxy-version-management/spec.md
  pkg/controller/discovery/discovery_logic.go
  pkg/controller/discovery/filter_by_version_decoupled_test.go
  pkg/dataplane/client/version.go
  tests/e2e/constants.go
  versions.env
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: zero-dep webhook certs, config Events, and BYO-CRD example
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/_webhook.tpl
  charts/haptic/templates/validatingwebhookconfiguration.yaml
  charts/haptic/templates/webhook-cert-secret.yaml
  charts/haptic/templates/webhook-certificate.yaml
  charts/haptic/values.yaml
  docs/controller/docs/getting-started.md
  docs/controller/docs/watching-resources.md
  examples/byo-crd/README.md
  examples/byo-crd/crd.yaml
  examples/byo-crd/haproxytemplateconfig.yaml
  examples/byo-crd/webapp.yaml
  pkg/controller/configchange/status_updater.go
  pkg/controller/configchange/status_updater_test.go
  pkg/controller/reconciliation.go
  scripts/test-helm-defaults.sh
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: deployment metrics, default ops alerts, and DPA password hardening
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/templates/_credentials.tpl
  charts/haptic/templates/prometheusrule.yaml
  charts/haptic/tests/prometheusrule_test.yaml
  charts/haptic/values.yaml
  docs/controller/docs/operations/monitoring.md
  docs/controller/docs/operations/security.md
  pkg/controller/metrics/README.md
  pkg/controller/metrics/component.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deploy): correct convergence signal under partial deploy failure
  CHANGELOG.md
  pkg/controller/deployer/handle_deployment_completed_race_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/k8s/configpublisher/deployment_status.go
  pkg/k8s/configpublisher/publisher_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: add migration guide from ingress-nginx / haproxy-ingress
  docs/controller/docs/getting-started.md
  docs/controller/docs/migrating.md
  docs/controller/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(nginx-ingress): ssl-redirect 308 + configurable; library extraContext defaults
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/_index.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/library_loader_test.yaml
  docs/controller/docs/migrating.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

ci(conformance): generate a submittable Gateway API conformance report
  .gitlab-ci.yml
  Makefile
  tests/conformance/README.md
  tests/conformance/gateway_conformance_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update k8s.io/kube-openapi digest to 8f3fa49
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.9
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: apply map and TLS cert content changes via runtime API without reload
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  hack/oapi-codegen-v30.yaml
  hack/oapi-codegen-v30ee.yaml
  hack/oapi-codegen-v31.yaml
  hack/oapi-codegen-v31ee.yaml
  hack/oapi-codegen-v32.yaml
  hack/oapi-codegen-v32ee.yaml
  hack/oapi-codegen-v33.yaml
  pkg/dataplane/client/capabilities.go
  pkg/dataplane/client/clientset_test.go
  pkg/dataplane/client/runtime_maps.go
  pkg/dataplane/client/runtime_maps_test.go
  pkg/dataplane/client/runtime_ssl.go
  pkg/dataplane/client/runtime_ssl_test.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_runtime_aux_test.go
  pkg/generated/dataplaneapi/v30/api.gen.go
  pkg/generated/dataplaneapi/v30ee/api.gen.go
  pkg/generated/dataplaneapi/v31/api.gen.go
  pkg/generated/dataplaneapi/v31ee/api.gen.go
  pkg/generated/dataplaneapi/v32/api.gen.go
  pkg/generated/dataplaneapi/v32ee/api.gen.go
  pkg/generated/dataplaneapi/v33/api.gen.go
  tests/e2e/ingress_host_rename_map_test.go
  tests/integration/sync_auxiliary_test.go
  tests/integration/sync_common_test.go
  tests/integration/testdata/map-files/body-size-empty.map
  tests/integration/testdata/map-files/body-size-updated.map
  tests/integration/testdata/map-files/body-size.map
  tests/integration/testdata/map-files/domains-updated.map
  tests/integration/testdata/map-frontend/with-body-size-map.cfg
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: relocate per-route Ingress policy to runtime maps (reload-free updates)
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: reflect reload-free map/cert content updates
  .gitlab-ci.yml
  docs/controller/docs/development/design/sequence-diagrams.md
  docs/controller/docs/supported-configuration.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: apply frontend maxconn changes via runtime API without reload
  CHANGELOG.md
  pkg/dataplane/comparator/compare_config_test.go
  pkg/dataplane/comparator/compare_frontends.go
  pkg/dataplane/comparator/sections/factory_frontend.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_execution_test.go
  tests/integration/sync_frontends_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: converge nginx/haproxy-ingress ssl-redirect onto the shared host map
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/ingress-annotations-compat.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): relocate host-keyed redirects to runtime maps (reload-free)
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): converge the remaining conditional redirects onto runtime maps
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/base.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(chart): relocate HSTS onto a runtime map (reload-free)
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/charts/haproxy-ingress/40-features.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/30-features.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/docs/libraries/haproxy-ingress.md
  charts/haptic/docs/libraries/nginx-ingress.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update haproxy-debian 3.4.x docker tag to v3.4.1
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update module golang.org/x/vuln to v1.5.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: apply SSL CA-file (mTLS trust bundle) rotations without a reload
  CHANGELOG.md
  charts/haptic/charts/gateway/10-features.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  hack/oapi-codegen-v30.yaml
  hack/oapi-codegen-v30ee.yaml
  hack/oapi-codegen-v31.yaml
  hack/oapi-codegen-v31ee.yaml
  hack/oapi-codegen-v32.yaml
  hack/oapi-codegen-v32ee.yaml
  hack/oapi-codegen-v33.yaml
  pkg/controller/rendercontext/file_registry.go
  pkg/dataplane/auxiliaryfiles/types.go
  pkg/dataplane/client/runtime_ssl_ca.go
  pkg/dataplane/client/runtime_ssl_ca_test.go
  pkg/dataplane/client/storage_ssl_ca.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_comparison.go
  pkg/dataplane/orchestrator_runtime_aux_test.go
  pkg/generated/dataplaneapi/v32/api.gen.go
  pkg/generated/dataplaneapi/v32ee/api.gen.go
  pkg/generated/dataplaneapi/v33/api.gen.go
  tests/integration/sync_ca_file_test.go
  tests/integration/testdata/ca-files/ca-a.crt
  tests/integration/testdata/ca-files/ca-b.crt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 376ce72
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency anchore/syft to v1.46.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update haproxy image
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart)+feat(controller): gate coraza tests on nginxIngress, enforce validationTests at startup
  CHANGELOG.md
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/tests/26-session-persistence.yaml
  charts/haptic/charts/gateway/tests/91-retry.yaml
  charts/haptic/charts/haproxy-ingress/tests/waf.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
  charts/haptic/libraries/ssl.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  pkg/controller/config.go
  pkg/controller/iteration.go
  pkg/controller/validator/validationtests.go
  pkg/controller/validator/validationtests_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): condense generated-config comments; fix map/comment bugs
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/charts/gateway/05-typed-access-smoke.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/40-maps-host.yaml
  charts/haptic/charts/gateway/50-binds.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/haproxy-ingress/15-server-alias.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/nginx-ingress/17-default-backend.yaml
  charts/haptic/docs/libraries/base.md
  charts/haptic/docs/libraries/haproxytech.md
  charts/haptic/libraries/base.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/spoa-hub/_index.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: collapse generated-config blank lines + de-flake hi-healthcheck e2e
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/base.yaml
  tests/e2e/ingress_annotations_table_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: redesign landing page and fix single-page-tab sidebar
  .gitignore
  .gitlab-ci.yml
  docs/controller/docs/changelog.md
  docs/controller/docs/getting-started.md
  docs/controller/docs/migrating.md
  docs/landing/docs/assets/haproxy.svg
  docs/landing/docs/assets/kubernetes.svg
  docs/landing/docs/stylesheets/extra.css
  docs/landing/mkdocs.yml
  docs/landing/overrides/home.html
  scripts/visual-qa/.gitignore
  scripts/visual-qa/README.md
  scripts/visual-qa/audit.mjs
  scripts/visual-qa/check.mjs
  scripts/visual-qa/package-lock.json
  scripts/visual-qa/package.json
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module github.com/klauspost/compress to v1.18.7
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module google.golang.org/grpc to v1.82.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(landing): refine feature cards, server names, and copy
  .gitlab-ci.yml
  docs/landing/docs/stylesheets/extra.css
  docs/landing/overrides/home.html
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
