Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

fix: keep admission serving while a configuration reload fails
  CHANGELOG.md
  charts/haptic/charts/helm-helpers/templates/_naming.tpl
  charts/haptic/files/default-values.json
  charts/haptic/templates/deployment.yaml
  charts/haptic/templates/networkpolicy.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/networkpolicy_test.yaml
  charts/haptic/values.yaml
  cmd/haptic/CLAUDE.md
  docs/adr/0016-one-config-kind-many-instances-pre-rollout-validation.md
  docs/adr/0028-probes-judge-the-serving-iteration.md
  docs/site/docs/development/debug-endpoints.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  pkg/controller/controller.go
  pkg/controller/infrastructure.go
  pkg/controller/iteration.go
  pkg/controller/iteration_test.go
  pkg/controller/leader.go
  pkg/controller/leader_test.go
  pkg/controller/probes.go
  pkg/controller/probes_test.go
  pkg/controller/siblings.go
  pkg/controller/siblings_test.go
  pkg/introspection/handlers.go
  pkg/webhook/server.go
  pkg/webhook/server_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): keep regex path-map entries on their own host (0.2 backport)
  .gitlab-ci.yml
  .gitlab/ci/image-build-inputs.txt
  .gitlab/ci/images/ci/Dockerfile
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  .gitlab/ci/images/ci/shims/braces/index.js
  .gitlab/ci/images/ci/shims/braces/index.test.js
  .gitlab/ci/images/ci/shims/braces/package.json
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/41-maps-path.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/haproxy-ingress/10-path-maps.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haptic-annotations/10-path-maps.yaml
  charts/haptic/charts/haptic-annotations/tests/path-maps.yaml
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haptic-annotations.md
  pkg/controller/renderer/incremental_gateway_route_analysis_chart_test.go
  pkg/controller/renderer/incremental_haproxy_ingress_unique_chart_test.go
  scripts/release-is-latest.sh
  scripts/tests/test_release.py
  tests/schemas-ga-none/expected-stripped.txt
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: release patch versions from maint/* branches
  .gitlab-ci.yml
  docs/site/docs/development/releasing.md
  scripts/release-is-latest.sh
  scripts/tests/test_release.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(watcher): wait for the event handlers, not the informer, on initial sync
  CHANGELOG.md
  pkg/controller/crdwatch/component.go
  pkg/controller/crdwatch/projection_test.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/watcher.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: serve HTTP/3 over QUIC by default
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/10-features.yaml
  charts/haptic/charts/gateway/17-per-gateway-services.yaml
  charts/haptic/charts/gateway/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/50-binds.yaml
  charts/haptic/charts/gateway/70-status-gateway.yaml
  charts/haptic/charts/gateway/tests/10-frontend-mtls-overrides.yaml
  charts/haptic/charts/gateway/tests/17-per-gateway-services.yaml
  charts/haptic/charts/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/charts/gateway/tests/24-routing-tls.yaml
  charts/haptic/charts/gateway/tests/92-listener-tls-options.yaml
  charts/haptic/charts/helm-helpers/templates/_controller.tpl
  charts/haptic/charts/ssl/library.yaml
  charts/haptic/files/default-values.json
  charts/haptic/templates/_extracontext.tpl
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/templates/haproxy-networkpolicy.yaml
  charts/haptic/tests/haproxy-networkpolicy_test.yaml
  charts/haptic/tests/http3_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/upgrade-notes.md
  scripts/dev-env-assets/kind-config.yaml
  tests/e2e/ingress_http3_test.go
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: haptic v0.2.2
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/upgrade-notes.md
  docs/site/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): accept only verifiable, non-weak basic-auth hashes by default
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/nginx-ingress/tests/satisfy.yaml
  charts/haptic/files/default-values.json
  charts/haptic/values.yaml
  docs/site/docs/annotation-compatibility.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  docs/site/docs/upgrade-notes.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(nginx-ingress): route use-regex paths as regexes and bind rewrite-target groups to them
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/41-maps-path.yaml
  charts/haptic/charts/gateway/tests/20-routing-basic.yaml
  charts/haptic/charts/haproxy-ingress/10-path-maps.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haptic-annotations/10-path-maps.yaml
  charts/haptic/charts/haptic-annotations/tests/path-maps.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/12-regex-paths.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/charts/nginx-ingress/_index.yaml
  charts/haptic/charts/nginx-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/regex-rewrite.yaml
  docs/site/docs/annotation-compatibility.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  pkg/controller/renderer/incremental_gateway_route_analysis_chart_test.go
  pkg/controller/renderer/incremental_haproxy_ingress_unique_chart_test.go
  tests/e2e/ingress_rewrite_test.go
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(nginx-ingress): custom-http-errors via render-time error-page snapshots
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/frontend-filters.yaml
  charts/haptic/charts/haptic-annotations/tests/injection-guards.yaml
  charts/haptic/charts/nginx-ingress/19-custom-http-errors.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/charts/nginx-ingress/_index.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/custom-http-errors.yaml
  docs/site/docs/annotation-compatibility.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/migrating.md
  docs/site/docs/watching-resources.md
  pkg/controller/httpstore/CLAUDE.md
  pkg/controller/httpstore/wrapper.go
  pkg/controller/httpstore/wrapper_accept_status_test.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/http_fixtures.go
  pkg/httpstore/CLAUDE.md
  pkg/httpstore/fetcher.go
  pkg/httpstore/status_set.go
  pkg/httpstore/status_set_test.go
  pkg/httpstore/types.go
  pkg/templating/incremental_http.go
  pkg/templating/incremental_http_test.go
  tests/e2e/ingress_haptic_headers_test.go
  tests/e2e/ingress_nginx_custom_http_errors_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(status): the leader restores its config verdict over stale status writes (0.2 port)
  CHANGELOG.md
  charts/haptic/Chart.yaml
  pkg/controller/configchange/README.md
  pkg/controller/configchange/status_guard.go
  pkg/controller/configchange/status_guard_test.go
  pkg/controller/configchange/status_updater.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(status): the leader restores its config verdict over stale status writes
  CHANGELOG.md
  pkg/controller/configchange/README.md
  pkg/controller/configchange/status_guard.go
  pkg/controller/configchange/status_guard_test.go
  pkg/controller/configchange/status_updater.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(watcher): wait for the event handlers, not the informer, on initial sync (0.2 port)
  CHANGELOG.md
  pkg/controller/crdwatch/component.go
  pkg/controller/crdwatch/projection_test.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/watcher.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: record the v0.2.2 release on main
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/upgrade-notes.md
  docs/site/docs/validation-tests.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(ci): upgrade only from chart versions at or below VERSION
  Makefile
  docs/site/docs/development/releasing.md
  scripts/chart-upgrade-baselines.py
  scripts/check-chart-upgrade-baselines.sh
  scripts/test-chart-upgrade.sh
  scripts/tests/test_chart_upgrade_baselines.py
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: v0.3.0 release notes and upgrade checklist
  CHANGELOG.md
  charts/haptic/Chart.yaml
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/upgrade-notes.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(ci): upgrade only from chart versions at or below VERSION (0.2)
  .gitlab-ci.yml
  Makefile
  docs/site/docs/development/releasing.md
  scripts/chart-upgrade-baselines.py
  scripts/check-chart-upgrade-baselines.sh
  scripts/lib/upgrade-traffic.sh
  scripts/test-chart-upgrade.sh
  scripts/tests/test_chart_upgrade_baselines.py
  scripts/tests/test_ci_chart_rules.py
  scripts/tests/test_upgrade_traffic.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(playground): classify the ingress-nginx controller ConfigMap
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  cmd/playground/README.md
  cmd/playground/internal/migratecheck/configmap.go
  cmd/playground/internal/migratecheck/configmap_test.go
  cmd/playground/internal/migratecheck/coverage.go
  cmd/playground/internal/migratecheck/migratecheck.go
  cmd/playground/internal/migratecheck/migratecheck_test.go
  cmd/playground/main.go
  cmd/playground/web/index.html
  cmd/playground/web/migration-report.mjs
  cmd/playground/web/migration-report.test.mjs
  docs/agents/playground-hosting.md
  docs/site/docs/migrating.md
  docs/site/tests/playground-embed.mjs
  scripts/build-playground.sh
  scripts/gen-migration-docs.sh
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: retry a mismatched output-only exact cycle through the graph
  CHANGELOG.md
  pkg/controller/renderer/exact_cycle_service.go
  pkg/controller/renderer/exact_cycle_service_test.go
  pkg/controller/renderer/service.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: render HTTP candidates through the warm graph and enforce the candidate commit guard
  CHANGELOG.md
  pkg/controller/httpstore/component.go
  pkg/controller/pipeline/input_conflict_retry_test.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/renderer/exact_cycle_service_test.go
  pkg/controller/renderer/incremental_async_cache.go
  pkg/controller/renderer/incremental_http_candidate_warm_test.go
  pkg/controller/renderer/incremental_http_poison_test.go
  pkg/controller/renderer/incremental_service_test.go
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_transaction.go
  pkg/controller/renderer/service.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: index registered immutable certificates instead of scanning them
  CHANGELOG.md
  pkg/templating/incremental_immutability.go
  pkg/templating/incremental_immutability_test.go
  pkg/templating/incremental_immutable_certificate_index.go
  pkg/templating/incremental_immutable_certificate_index_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: deploy without new HTTP content when accepting it loses to churn
  CHANGELOG.md
  pkg/controller/httpstore/component.go
  pkg/controller/httpstore/input_transaction.go
  pkg/controller/httpstore/withheld_candidates_test.go
  pkg/controller/httpstore/wrapper.go
  pkg/controller/pipeline/input_conflict_retry_test.go
  pkg/controller/pipeline/pipeline.go
  pkg/controller/renderer/incremental_http_candidate_warm_test.go
  pkg/controller/renderer/incremental_session.go
  pkg/httpstore/initial_candidate.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: tell templates when http.Fetch content is pending acceptance
  CHANGELOG.md
  charts/haptic/charts/nginx-ingress/19-custom-http-errors.yaml
  charts/haptic/charts/nginx-ingress/tests/custom-http-errors.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplatelibraries.yaml
  docs/site/docs/validation-reference.md
  docs/site/docs/watching-resources.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/controller/conversion/converter.go
  pkg/controller/httpstore/wrapper.go
  pkg/controller/renderer/incremental_batch_capability_generation_test.go
  pkg/controller/renderer/incremental_cold_inputs.go
  pkg/controller/renderer/incremental_cold_inputs_test.go
  pkg/controller/renderer/incremental_fail_closed_test.go
  pkg/controller/renderer/incremental_http_pending_test.go
  pkg/controller/renderer/incremental_session.go
  pkg/controller/renderer/incremental_source_transaction_execution.go
  pkg/controller/renderer/incremental_vector_execution.go
  pkg/controller/testrunner/http_fixtures.go
  pkg/controller/testrunner/http_fixtures_pending_test.go
  pkg/controller/testrunner/runner.go
  pkg/core/config/types.go
  pkg/templating/declaration_names.go
  pkg/templating/exact_cycle_replay.go
  pkg/templating/incremental_batch_execution_test.go
  pkg/templating/incremental_globals.go
  pkg/templating/incremental_native_frames.go
  pkg/templating/incremental_vector_carrier_test.go
  pkg/templating/types.go
  tests/schemas/haproxy-haptic.org_haproxytemplateconfigs.yaml
  tests/schemas/haproxy-haptic.org_haproxytemplatelibraries.yaml
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: curate the v0.3.0 render-latency changelog entries
  CHANGELOG.md
  charts/haptic/Chart.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: anchor host alias regexes and resolve alias host conflicts oldest-wins
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/Chart.yaml
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haproxy-ingress/15-server-alias.yaml
  charts/haptic/charts/haproxy-ingress/90-migration-coverage.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/haproxy-ingress/tests/server-alias.yaml
  charts/haptic/charts/haptic-annotations/10-path-maps.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/tests/path-maps.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/nginx-ingress/16-server-alias.yaml
  charts/haptic/charts/nginx-ingress/tests/server-alias.yaml
  charts/haptic/tests/map-ordered_test.yaml
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/security.md
  docs/site/docs/upgrade-notes.md
  pkg/controller/renderer/incremental_haproxy_ingress_unique_chart_test.go
  tests/schemas-ga-none/expected-stripped.txt
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update module sigs.k8s.io/controller-runtime to v0.25.2
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

release: haptic v0.3.0
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: test upgrades from the published 0.3.0 chart
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat: scope governance rules to namespaces
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/governance/library.yaml
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/security.md
  docs/site/docs/reference.md
  pkg/controller/renderer/incremental_governance_chart_test.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

chore(deps): update module golang.org/x/crypto to v0.56.0 [security]
  .gitlab/ci/images/ci/tools/go.mod
  .gitlab/ci/images/ci/tools/go.sum
Due: none

docs(adr): mark ADR-0023 accepted and record #260's downstream measurement
  docs/adr/0023-incremental-render-graph.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: make the CI-minute rules permanent and cap Renovate pipeline churn
  CLAUDE.md
  docs/site/docs/development/linting.md
  renovate.json
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update module golang.org/x/mod to v0.40.0 [security]
  .gitlab/ci/images/ci/tools/go.mod
  .gitlab/ci/images/ci/tools/go.sum
Due: none

feat(chart)!: strict values.schema.json
  CHANGELOG.md
  Makefile
  charts/CLAUDE.md
  charts/haptic/.helmignore
  charts/haptic/charts/helm-helpers/templates/_agent-tls.tpl
  charts/haptic/charts/helm-helpers/templates/_cache.tpl
  charts/haptic/charts/helm-helpers/templates/_controller.tpl
  charts/haptic/charts/helm-helpers/templates/_default-ssl-certificate.tpl
  charts/haptic/charts/helm-helpers/templates/_haproxy-poddisruptionbudget.tpl
  charts/haptic/charts/helm-helpers/templates/_spoa-hub.tpl
  charts/haptic/charts/helm-helpers/templates/_vector.tpl
  charts/haptic/templates/_extracontext.tpl
  charts/haptic/templates/pre-rollout-validation-hook.yaml
  charts/haptic/tests/agent_tls_values_test.yaml
  charts/haptic/tests/agent_values_test.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/tests/credentials_values_test.yaml
  charts/haptic/tests/default-ssl-certificate_test.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/haproxy-poddisruptionbudget_test.yaml
  charts/haptic/tests/http3_test.yaml
  charts/haptic/tests/pre-rollout-validation-hook_test.yaml
  charts/haptic/tests/prometheus-exporter_values_test.yaml
  charts/haptic/tests/proxy-protocol_test.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/tests/validatingwebhookconfiguration_test.yaml
  charts/haptic/tests/values_schema_test.yaml
  charts/haptic/tests/vector_values_test.yaml
  charts/haptic/values.schema.extras.yaml
  charts/haptic/values.schema.json
  charts/haptic/values.yaml
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/reference.md
  docs/site/docs/upgrade-notes.md
  scripts/check-chart-release-size.py
  scripts/test-templates.sh
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

feat(gateway): header session persistence, TLSRoute weights, retry limits
  .gitlab-ci.yml
  CHANGELOG.md
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/22-ssl-passthrough.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/42-maps-weighted.yaml
  charts/haptic/charts/gateway/43-maps-route-filters.yaml
  charts/haptic/charts/gateway/50-binds.yaml
  charts/haptic/charts/gateway/60-frontend.yaml
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/charts/gateway/tests/24-routing-tls.yaml
  charts/haptic/charts/gateway/tests/26-session-persistence.yaml
  charts/haptic/charts/gateway/tests/91-retry.yaml
  charts/haptic/charts/ssl/library.yaml
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/ssl.md
  pkg/controller/renderer/incremental_gateway_backend_chart_test.go
  pkg/controller/renderer/incremental_gateway_cross_route_dependency_test.go
  pkg/controller/renderer/incremental_gateway_weighted_map_chart_test.go
  pkg/controller/renderer/incremental_ssl_passthrough_chart_test.go
  tests/conformance/gateway_conformance_test.go
  tests/e2e/gateway_session_persistence_test.go
  tests/e2e/tlsroute_weighted_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

build: prohibit Lua-based HAPTIC features
  AGENTS.md
  CLAUDE.md
  Makefile
  charts/CLAUDE.md
  pkg/dataplane/CLAUDE.md
  scripts/check-no-lua.py
  scripts/tests/test_check_no_lua.py
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(chart): align Gateway timeouts with HAProxy Unified Gateway
  CHANGELOG.md
  charts/haptic/charts/gateway/43-maps-route-filters.yaml
  charts/haptic/charts/gateway/_index.yaml
  charts/haptic/charts/gateway/tests/41-filter-maps.yaml
  charts/haptic/charts/gateway/tests/cache-timeouts.yaml
  docs/site/docs/libraries/gateway.md
  docs/site/docs/upgrade-notes.md
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: cover upgrades from 0.4.0 [skip ci]
  .gitlab-ci.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
