Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  lint: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  audit: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  build-test-image: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-integration: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-acceptance: any of: **/*.go, go.mod, go.sum, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Trigger Go CI jobs when .tool-versions changes
  .gitlab-ci.yml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency golang to v1.25.5
  .tool-versions
Due: none

fix(deps): update kubernetes packages to v0.34.2
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.2.6
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/kimmachinegun/automemlimit to v0.7.5
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/nikolalohinski/gonja/v2 to v2.4.2
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/spf13/cobra to v1.10.2
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency golangci/golangci-lint to v2.7.1
  Makefile
Due: lint, audit, test, compile, build-test-image, test-integration, test-acceptance

chore(deps): update python docker tag to v3.14
  .gitlab-ci.yml
  .gitlab/ci/images/python-docs/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

Fix acceptance test flakiness and reduce boilerplate
  .gitlab-ci.yml
  tests/acceptance/constants.go
  tests/acceptance/debug_client.go
  tests/acceptance/env.go
  tests/acceptance/error_scenarios_test.go
  tests/acceptance/fixtures.go
  tests/acceptance/http_store_test.go
  tests/acceptance/leader_election_test.go
  tests/acceptance/main_test.go
  tests/acceptance/metrics_test.go
  tests/acceptance/parallel_test.go
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/rekby/fixenv to v0.7.1
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update haproxytech/haproxy-debian docker tag to v3.4
  Dockerfile
  charts/haproxy-template-ic/values.yaml
Due: lint, audit, test, compile, build-test-image, test-integration, test-acceptance

chore(deps): update kindest/node docker tag to v1.34.0
  .gitlab-ci.yml
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency go to v1.25.5
  go.mod
  tools/linters/eventimmutability/go.mod
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update dependency kubernetes-sigs/kind to v0.30.0
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/arch-go/arch-go to v1.7.0
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

Group Go version updates from go.mod and .tool-versions
  renovate.json
Due: none

fix(deps): update module github.com/arch-go/arch-go to v2
  Makefile
  go.mod
  go.sum
  pkg/controller/controller.go
  pkg/k8s/watcher/single.go
  pkg/k8s/watcher/single_test.go
  scripts/test-routes.sh
  tests/architecture_test.go
  tools/tools.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

CI improvements: lint always and fix flaky auth test
  .gitlab-ci.yml
  scripts/test-routes.sh
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module github.com/nikolalohinski/gonja/v2 to v2.5.0
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(deps): update docker docker tag to v29
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module golang.org/x/tools to v0.39.0
  tools/linters/eventimmutability/go.mod
  tools/linters/eventimmutability/go.sum
Due: none

fix(deps): update module github.com/golangci/golangci-lint to v2
  go.mod
  go.sum
  tools/tools.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

refactor: architecture improvements and code quality cleanup
  arch-go.yml
  pkg/controller/CLAUDE.md
  pkg/controller/controller.go
  pkg/controller/events/CLAUDE.md
  pkg/controller/events/certificate.go
  pkg/controller/events/config.go
  pkg/controller/events/credentials.go
  pkg/controller/events/deployment.go
  pkg/controller/events/discovery.go
  pkg/controller/events/http.go
  pkg/controller/events/leader.go
  pkg/controller/events/lifecycle.go
  pkg/controller/events/publishing.go
  pkg/controller/events/reconciliation.go
  pkg/controller/events/resource.go
  pkg/controller/events/storage.go
  pkg/controller/events/template.go
  pkg/controller/events/types.go
  pkg/controller/events/validation.go
  pkg/controller/events/webhookobservability.go
  pkg/controller/executor/CLAUDE.md
  pkg/controller/executor/README.md
  pkg/controller/resourcestore/manager_test.go
  pkg/controller/resourcestore/overlay_test.go
  pkg/controller/statecache.go
  pkg/dataplane/comparator/benchmark_test.go
  pkg/dataplane/comparator/diff_test.go
  pkg/dataplane/synchronizer/benchmark_test.go
  pkg/dataplane/synchronizer/synchronizer_test.go
  pkg/templating/benchmark_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix: use data struct for CorrelationOption to ensure event immutability
  arch-go.yml
  pkg/controller/commentator/commentator.go
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/ringbuffer.go
  pkg/controller/configpublisher/component.go
  pkg/controller/controller.go
  pkg/controller/debug/events.go
  pkg/controller/debug/setup.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/driftmonitor.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/discovery/component.go
  pkg/controller/events/correlation.go
  pkg/controller/events/deployment.go
  pkg/controller/events/reconciliation.go
  pkg/controller/events/template.go
  pkg/controller/events/validation.go
  pkg/controller/executor/executor.go
  pkg/controller/httpstore/component.go
  pkg/controller/reconciler/reconciler.go
  pkg/controller/renderer/component.go
  pkg/controller/validator/haproxy_validator.go
  pkg/events/CLAUDE.md
  pkg/events/bus.go
  pkg/events/bus_test.go
  pkg/events/typed.go
  pkg/introspection/server.go
  pkg/lifecycle/CLAUDE.md
  pkg/lifecycle/component.go
  pkg/lifecycle/options.go
  pkg/lifecycle/registry.go
  pkg/lifecycle/registry_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

chore(config): migrate Renovate config
  renovate.json
Due: none

feat: macro-architecture improvements for event-driven system
  .claude/commands/review.md
  pkg/controller/CLAUDE.md
  pkg/controller/configpublisher/component.go
  pkg/controller/controller.go
  pkg/controller/deployer/component.go
  pkg/controller/deployer/driftmonitor.go
  pkg/controller/deployer/scheduler.go
  pkg/events/bus.go
  pkg/introspection/handlers.go
  pkg/introspection/http.go
  pkg/introspection/server.go
  pkg/lifecycle/builder.go
  pkg/lifecycle/component.go
  pkg/lifecycle/registry.go
  pkg/lifecycle/registry_test.go
  scripts/start-dev-env.sh
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add skipDNSValidation option to HAProxy configuration validation
  charts/haproxy-template-ic/templates/haproxy-deployment.yaml
  pkg/controller/dryrunvalidator/component.go
  pkg/controller/testrunner/assertions.go
  pkg/controller/validator/haproxy_validator.go
  pkg/dataplane/validator.go
  pkg/dataplane/validator_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add cache eviction to HTTP store
  pkg/controller/controller.go
  pkg/controller/httpstore/CLAUDE.md
  pkg/controller/httpstore/component.go
  pkg/controller/testrunner/http_fixtures.go
  pkg/httpstore/CLAUDE.md
  pkg/httpstore/store.go
  pkg/httpstore/store_test.go
  pkg/httpstore/types.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix: prevent timer leak when cache entries are evicted
  pkg/controller/httpstore/component.go
  pkg/httpstore/store.go
  pkg/httpstore/store_test.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix: address code review issues
  pkg/controller/deployer/component.go
  pkg/controller/deployer/component_test.go
  pkg/controller/httpstore/component.go
  pkg/controller/reconciler/reconciler.go
  pkg/dataplane/parser/parser.go
  pkg/events/bus.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix: race condition in component dependency ordering
  pkg/lifecycle/registry.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

refactor: remove unused gocritic lint exclusions and fix octal literals
  .golangci.yml
  cmd/controller/validate.go
  pkg/controller/renderer/component.go
  pkg/controller/testrunner/runner.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

refactor: improve type safety across codebase
  pkg/controller/configpublisher/component.go
  pkg/controller/debug/events.go
  pkg/controller/events/template_helpers.go
  pkg/controller/renderer/store_wrapper_test.go
  pkg/controller/statecache.go
  pkg/controller/validator/haproxy_validator.go
  pkg/core/config/loader.go
  pkg/core/config/validation_extra.go
  pkg/core/config/validation_extra_test.go
  pkg/introspection/typed.go
  pkg/webhook/types.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: add comprehensive test coverage and CI/CD coverage reporting
  .gitlab-ci.yml
  Makefile
  README.md
  pkg/controller/configpublisher/component_test.go
  pkg/controller/debug/events_test.go
  pkg/controller/debug/vars_test.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/statecache_test.go
  pkg/dataplane/client/enterprise/aloha_test.go
  pkg/dataplane/client/enterprise/botmgmt_test.go
  pkg/dataplane/client/enterprise/common_test.go
  pkg/dataplane/client/enterprise/dynamic_update_test.go
  pkg/dataplane/client/enterprise/git_test.go
  pkg/dataplane/client/enterprise/keepalived_test.go
  pkg/dataplane/client/enterprise/logging_test.go
  pkg/dataplane/client/enterprise/misc_test.go
  pkg/dataplane/client/enterprise/testing_helpers_test.go
  pkg/dataplane/client/enterprise/udp_test.go
  pkg/dataplane/client/enterprise/waf_test.go
  pkg/k8s/client/client_test.go
  pkg/k8s/leaderelection/elector_test.go
  pkg/k8s/watcher/watcher_test.go
  pkg/webhook/server_test.go
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

feat: improve test coverage for controller components
  .gitlab-ci.yml
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/ringbuffer_test.go
  pkg/controller/configpublisher/component_test.go
  pkg/controller/controller_test.go
  pkg/controller/debug/setup_test.go
  pkg/controller/discovery/component_test.go
  pkg/controller/discovery/discovery_test.go
  pkg/controller/dryrunvalidator/component_test.go
  pkg/controller/httpstore/component_test.go
  pkg/controller/metrics/component_test.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/resourcewatcher/watcher_test.go
  pkg/controller/testrunner/assertions_test.go
  pkg/controller/testrunner/fixtures_test.go
  pkg/controller/testrunner/output_test.go
  pkg/controller/testutil/testutil.go
  pkg/controller/webhook/component_test.go
  pkg/k8s/watcher/watcher.go
  scripts/test-routes.sh
Due: build-ci, build-python-docs, lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update module golang.org/x/sync to v0.19.0
  go.mod
  go.sum
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes

fix(deps): update linting tools to v2.7.2
  Makefile
  go.mod
  go.sum
  pkg/controller/configchange/handler.go
  pkg/controller/configchange/handler_test.go
  pkg/controller/controller.go
  pkg/dataplane/comparator/compare_rules.go
Due: lint, audit, test, validate-helm-libraries, compile, build-test-image, test-integration, test-acceptance, test-routes
