Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

docs: fix silently-flattened nested lists; align MD007 with the renderer
  .markdownlint-cli2.jsonc
  CHANGELOG.md
  CLAUDE.md
  cmd/controller/CLAUDE.md
  docs/agents/playground-hosting.md
  docs/site/docs/changelog.md
  docs/site/docs/development/design/appendices.md
  docs/site/docs/development/design/deployment.md
  docs/site/docs/development/releasing.md
  docs/site/docs/libraries/nginx-ingress.md
  pkg/controller/LEADER_ONLY_COMPONENTS.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: correct monitoring and security claims to match shipped behavior
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/security.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: correct NetworkPolicy and debug-endpoint claims to match shipped behavior
  charts/haptic/templates/networkpolicy.yaml
  charts/haptic/values.yaml
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/networking.md
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: correct CRD-reference and templating claims to match the engine
  charts/CLAUDE.md
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  docs/site/docs/crd-reference.md
  docs/site/docs/templating.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deployer): invalidate lane baseline when a deploy fails or times out
  CHANGELOG.md
  pkg/controller/deployer/scheduler_failed_deploy_baseline_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_logic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: getting-started must work without cert-manager
  docs/site/docs/getting-started.md
  docs/site/docs/ssl-certificates.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): self-signed default-ssl-cert fallback when cert-manager is absent
  CHANGELOG.md
  charts/haptic/templates/default-ssl-cert.yaml
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(webhook): validate the effective config, not the raw proposed spec
  CHANGELOG.md
  pkg/controller/webhook.go
  pkg/controller/webhook/configvalidator.go
  pkg/controller/webhook/configvalidator_effective_test.go
  pkg/controller/webhook/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(validator): scale the live validationTests budget with suite size
  CHANGELOG.md
  pkg/controller/configchange/handler.go
  pkg/controller/validator/validationtests.go
  pkg/controller/validator/validationtests_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(chart): fix dead links, stale claims, and the cert-manager gap on the Artifact Hub README
  README.md
  charts/haptic/README.md
  docs/landing/overrides/home.html
  scripts/release.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(chart): point remaining chart-shipped doc references at the hosted docs site
  charts/haptic/Chart.yaml
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  scripts/release.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(site): generate the changelog page from CHANGELOG.md at build time
  .gitignore
  CHANGELOG.md
  CLAUDE.md
  docs/site/docs/changelog.md
  docs/site/docs/development/releasing.md
  docs/site/hooks/changelog.py
  docs/site/mkdocs.yml
  scripts/README.md
  scripts/release.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(seo): fix 404 canonical URLs and crawler directives
  docs/landing/docs/robots.txt
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(landing): helpful 404 page with recovery links
  docs/landing/overrides/404.html
Due: none

fix(playground): mobile output font boosting + touch go-to-definition
  cmd/playground/web/index.html
Due: none

docs(home): engaging hero diagram + kill the mermaid load flicker
  docs/site/docs/index.md
  docs/site/docs/stylesheets/extra.css
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: eliminate technically-true-but-vacuous phrasing across the site
  CLAUDE.md
  docs/site/docs/annotations.md
  docs/site/docs/crd-reference.md
  docs/site/docs/development/design.md
  docs/site/docs/development/design/appendices.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/configuration.md
  docs/site/docs/development/design/design-decisions.md
  docs/site/docs/development/design/introspection.md
  docs/site/docs/development/design/leader-election.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/development/releasing.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/networking.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/pluggable-validators.md
  docs/site/docs/operations/security.md
  docs/site/docs/operations/troubleshooting.md
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/supported-configuration.md
  docs/site/docs/template-libraries.md
  docs/site/docs/templating.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(home): cut non-differentiating advantage claims
  CLAUDE.md
  README.md
  docs/landing/overrides/home.html
  docs/site/docs/index.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(home): replace the Architecture mermaid with the designed pipeline style
  docs/site/docs/index.md
  docs/site/docs/stylesheets/extra.css
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(css): keep code blocks and tables inside the text margins on mobile
  docs/site/docs/stylesheets/extra.css
Due: none

docs(home): professional register for the templates lead-in
  docs/site/docs/index.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(home): make the custom-annotation example a live playground embed
  docs/site/docs/index.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(home): show the snippet as the embed's pre-run facade
  docs/site/docs/index.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(embeds): auto-facade for scenario embeds via data-facade
  docs/shared/playground-embed.css
  docs/shared/playground-embed.js
  docs/site/docs/annotations.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/migrating.md
  docs/site/docs/supported-configuration.md
  docs/site/docs/template-libraries.md
  docs/site/docs/templating.md
  docs/site/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(home)+highlight: one facade format + shape-independent template highlighting
  cmd/playground/web/highlight/.gitignore
  cmd/playground/web/highlight/config-highlight.bundle.js
  cmd/playground/web/highlight/highlight.js
  cmd/playground/web/highlight/test.mjs
  docs/shared/config-highlight.bundle.js
  docs/site/docs/index.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: agent-readable Markdown endpoints, page feedback links, Vale prose gate
  .gitlab-ci.yml
  .gitlab/ci/images/ci/Dockerfile
  .vale.ini
  CHANGELOG.md
  Makefile
  docs/site/docs/stylesheets/extra.css
  docs/site/hooks/llms.py
  docs/site/mkdocs.yml
  docs/site/overrides/main.html
  docs/vale/styles/Haptic/Filler.yml
  docs/vale/styles/Haptic/LinkText.yml
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: fix stale cert-manager story, phantom namespace field, and broken cross-page promises
  docs/site/docs/development/crd-validation-design.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/getting-started.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: complete the chart values reference + values-coverage drift gate
  Makefile
  docs/site/docs/reference.md
  scripts/check-values-docs.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(chart): RE2-compatible example for password_hash_validation_regex
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: complete haproxy-ingress and nginx-ingress annotation references + drift gate
  Makefile
  docs/site/docs/annotations.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/nginx-ingress.md
  scripts/check-annotation-docs.sh
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: restructure IA — one troubleshooting home, dissolved duplicate hubs, task-first nav
  docs/site/docs/configuration.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/development/design.md
  docs/site/docs/development/design/appendices.md
  docs/site/docs/development/design/architecture-overview.md
  docs/site/docs/development/design/considerations.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/libraries/base.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/troubleshooting.md
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/template-libraries.md
  docs/site/docs/troubleshooting.md
  docs/site/hooks/redirects.py
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: single-owner content — template reference extraction, ops dedup, design-section rewrite
  docs/site/docs/crd-reference.md
  docs/site/docs/development/design/configuration.md
  docs/site/docs/development/design/deployment.md
  docs/site/docs/development/design/introspection.md
  docs/site/docs/development/design/leader-election.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/networking.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/pluggable-validators.md
  docs/site/docs/operations/security.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  docs/site/docs/validation-tests.md
  docs/site/docs/watching-resources.md
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: publish ADRs on the site, shrink the decision log, complete gateway/base references
  docs/site/docs/development/design/design-decisions.md
  docs/site/docs/development/design/sequence-diagrams.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/site/docs/template-libraries.md
  docs/site/docs/template-reference.md
  docs/site/hooks/adrs.py
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

test(e2e): detect and restart silently stalled port-forward tunnels
  tests/e2e/gateway_forward.go
  tests/e2e/httpclient/request.go
  tests/e2e/httpclient/request_test.go
  tests/e2e/tunnel/watchdog.go
  tests/e2e/tunnel/watchdog_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to ebd9ecc
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to 39f99bf
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deployer): runtime bypass carries the last-activated baseline, not the pending render (#84)
  CHANGELOG.md
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/handle_endpoint_failure_test.go
  pkg/controller/deployer/runtime_bypass.go
  pkg/controller/deployer/runtime_bypass_body_test.go
  pkg/controller/deployer/runtime_bypass_test.go
  pkg/controller/deployer/scheduler_lanes_test.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/controller/events/runtime_fast_path.go
  pkg/controller/events/types.go
  pkg/controller/metrics/component.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/dataplane/bypass_body.go
  pkg/dataplane/bypass_body_test.go
  pkg/dataplane/client/config.go
  pkg/dataplane/client/retry.go
  pkg/dataplane/client/retry_test.go
  pkg/dataplane/config.go
  pkg/dataplane/dataplane.go
  pkg/dataplane/errors.go
  pkg/dataplane/orchestrator.go
  pkg/dataplane/orchestrator_execution_test.go
  pkg/dataplane/orchestrator_readback_test.go
  pkg/dataplane/orchestrator_runtime_fastpath.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: fix 43 findability/quality/correctness findings from the 143-question audit
  docs/site/docs/annotations.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/supported-configuration.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/validation-tests.md
  docs/site/docs/watching-resources.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: document config-injection guards, template Secret trust model, Secret ref namespaces, hash validation (audit Q65, Q67, Q68, Q69, Q71)
  docs/site/docs/operations/security.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
