Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

fix(conformance): preserve original :authority when rewriting gRPC dial in DinD
  tests/conformance/grpcclient.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(conformance): route dynamic NodePorts through DinD hostname in DinD
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): prefer MetalLB LB IPs, use NodePort tunnel only in DinD
  tests/conformance/gateway_conformance_test.go
  tests/conformance/roundtripper.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(statusapplier): gate Accepted=True on DeploymentCompletedEvent
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(statusapplier): phase-scoped checksum cache so rendered doesn't clobber deployed
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): omit Programmed/Accepted=True from rendered status variant
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): switch to SubscribeTypes so buffer doesn't drop deployment events
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): rendered status variants emit same conditions as deployed
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): use per-parent loop index in renderedParents transition lookup
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): revert strict correlation_id matching for deployed phase
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(dev-values): make HTTP-Store demo non-blocking so render doesn't time out
  scripts/dev-env-assets/dev-values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(statusapplier): match deployed patches to the deploy's correlation_id
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(statusapplier): make rendered phase cache-only to gate status on reload
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(statusapplier): revert rendered-cache-only change — broke bootstrap
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(status): phase-scoped field managers + chart split conditions by reload-dependence
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/72-status-class.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Revert "fix(status): phase-scoped field managers + chart split conditions by reload-dependence"
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/72-status-class.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  pkg/controller/statusapplier/component.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

revert(conformance): restore tight 5s timeouts — slowness is a bug
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(conformance): set 10s timeout — contract ceiling, not below
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): emit Route status only in deployed variant — kill dial race
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(grpc-conformance): gRPC-aware default_backend + drop explicit GRPCClient
  charts/haptic/libraries/base.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deployer,statusapplier): emit DeploymentSkippedEvent on cache hits
  pkg/controller/deployer/handle_validation_completed_skip_test.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/events/deployment.go
  pkg/controller/events/deployment_skipped_test.go
  pkg/controller/events/types.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(statusapplier): carry patches on deploy events, drop side-channel cache
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/reconciliation_insight_test.go
  pkg/controller/deployer/component_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_logic.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/events/coalescible_test.go
  pkg/controller/events/deployment.go
  pkg/controller/events/deployment_skipped_test.go
  pkg/controller/events/events_test.go
  pkg/controller/events/reconciliation.go
  pkg/controller/metrics/component_test.go
  pkg/controller/reconciler/coordinator.go
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(events,deployer): lint follow-up — pointer-receive DeploymentResult, gofmt scheduler
  pkg/controller/commentator/commentator_test.go
  pkg/controller/commentator/compute_reconciliation_summary_test.go
  pkg/controller/deployer/deployment.go
  pkg/controller/deployer/drift_monitor_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_test.go
  pkg/controller/events/deployment.go
  pkg/controller/events/deployment_completed_test.go
  pkg/controller/events/events_test.go
  pkg/controller/metrics/component_test.go
  pkg/controller/statecache_test.go
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore: pre-merge cleanup — changelog + docs + test robustness
  CHANGELOG.md
  pkg/controller/deployer/handle_validation_completed_skip_test.go
  pkg/controller/events/CLAUDE.md
  pkg/controller/events/deployment_completed_test.go
  pkg/controller/events/deployment_scheduled_test.go
  pkg/controller/events/reconciliation_failed_test.go
  pkg/controller/reconciler/coordinator_test.go
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(events): note that DeploymentCompletedEvent.StatusPatches forwards from the scheduled event
  pkg/controller/events/deployment.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update dependency kubernetes/kubernetes to v1.36.1
  .gitlab/ci/images/ci/Dockerfile
Due: none

fix(deps): update module google.golang.org/grpc to v1.81.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages
  charts/haptic/crds/haproxy-haptic.org_haproxycfgs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxycrtlistfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxygeneralfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxymapfiles.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages to v0.36.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update docker/dockerfile docker tag to v1.24
  Dockerfile.spoa-hub
Due: none

fix(deps): update module github.com/haproxytech/client-native/v6 to v6.3.7
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(conformance): clarify mesh + UDPRoute exclusion comments
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(spoa-hub): bundle haproxy-spoa-hub-plugin-mirror in hub image
  Dockerfile.spoa-hub
  charts/haptic/CHANGELOG.md
  charts/haptic/values.yaml
  docs/controller/docs/operations/spoa-hub.md
  scripts/prep-spoa-plugins.sh
  scripts/render-spoa-bundle.sh
  scripts/smoke-spoa-image.sh
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat(gateway): HTTPRoute RequestMirror filter via spoa-hub mirror plugin
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/tests/spoa-hub_test.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(conformance): lift HTTPRoute RequestMirror exclusions
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/values.yaml
  tests/conformance/gateway_conformance_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs(changelog): note HTTPRoute RequestMirror support
  CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs(changelog): correct chart entry for HTTPRoute RequestMirror
  charts/haptic/CHANGELOG.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
