Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

refactor(chart): type ingress access in haproxytech.yaml
  charts/haptic/libraries/haproxytech.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type ingress access in annotation-compat.yaml
  charts/haptic/libraries/annotation-compat.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type ingress access in ingress.yaml (sweep finale)
  charts/haptic/libraries/ingress.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type gateway cert aggregator in 10-features.yaml
  charts/haptic/libraries/gateway/10-features.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(e2e): harden TestHTTPRouteSplit against reload-window flakes (#54)
  tests/e2e/httproute_split_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): shed redundant tostring() wrappers
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): validate_cmd at correct YAML level + aclFormat knob
  charts/haptic/CHANGELOG.md
  charts/haptic/docs/reference.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/values.yaml
  scripts/dev-env-assets/conformance-values.yaml
  scripts/dev-env-assets/dev-values.yaml
  scripts/dev-env-assets/e2e-values.yaml
  scripts/test-helm-defaults.sh
  tests/e2e/cleanup.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, pages-preview, trigger-pages

WIP: scheduler skips minDeploymentInterval clock for runtime-only deploys
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/deployer/scheduler_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

WIP: preload upstream fixture images into kind to dodge Docker Hub rate limits
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

WIP: add t.Parallel() to e2e tests missing it
  tests/e2e/ingress_auth_url_keying_test.go
  tests/e2e/ingress_haproxy_ingress_waf_test.go
  tests/e2e/ingress_modsecurity_snippet_test.go
  tests/e2e/ingress_modsecurity_snippet_validator_test.go
  tests/e2e/ingress_modsecurity_snippet_wildcard_host_test.go
  tests/e2e/spoa_hub_reload_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): type ingress access in gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): flatten nested for-range loops using scriggo [*]
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/ingress.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): type gateway/30-backends.yaml typed-resource lookups
  charts/haptic/libraries/gateway/30-backends.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type gateway status patches (70 + 73)
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type IsListenerSetAdmitted macro
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type attachedSets slice + cascade
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type Gateway own listeners loop
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type Gateway TLS-frontend chain + svc field accesses
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type lsResolvedGw in HTTPRoute status path
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update gitlab.com/haproxy-haptic/scriggo digest to efd46ed
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): typed-access package across 10-features + 70-status-gateway
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/22-ssl-passthrough.yaml
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
  charts/haptic/libraries/gateway/72-status-class.yaml
  charts/haptic/libraries/gateway/73-status-policy.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(chart): extract gw mTLS resolvability + type TLSRoute parents/listeners
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/21-route-helpers.yaml
  charts/haptic/libraries/gateway/30-backends.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split GenerateRouteStatusPatches into typed siblings
  charts/haptic/libraries/gateway/70-status-gateway.yaml
  charts/haptic/libraries/gateway/71-status-route.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split map generators into typed per-Kind siblings
  charts/haptic/libraries/gateway/40-maps-host.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/42-maps-weighted.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split GenerateGatewayBackends into typed siblings
  charts/haptic/libraries/gateway/30-backends.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type-switch AnalyzeRoutes internal conflict-detection + filter flags
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type AnalyzeRoutes route iteration + precompute sort scalars
  charts/haptic/libraries/gateway/20-route-analysis.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): migrate 60-frontend consumers off routeInfo "rule"/"filters" slots
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): remove routeInfo "path"/"resource_type" slots; type-switch consumers
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(chart): clean up stale "legacy slot" comments
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/41-maps-path.yaml
  charts/haptic/libraries/gateway/60-frontend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

chore(deps): update dependency spoa-hub to v0.7.1
  docs/controller/docs/operations/spoa-hub.md
  versions-spoa.env
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type-bind ingress annotation reads across vendor libraries
  charts/haptic/libraries/annotation-compat.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): type-bind ingress.Metadata.Namespace/Name reads in spoa-hub
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): make spoa-hub.yaml resource-agnostic per RULE #1
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): tighten Level-1/2+ shared-state boundary + rename mirror key
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/gateway/10-features.yaml
  charts/haptic/libraries/gateway/20-route-analysis.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/ssl.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): rename annotation-compat → ingress-annotations-compat
  charts/CLAUDE.md
  charts/haptic/CHANGELOG.md
  charts/haptic/README.md
  charts/haptic/docs/configuration.md
  charts/haptic/docs/libraries/ingress-annotations-compat.md
  charts/haptic/docs/reference.md
  charts/haptic/docs/template-libraries.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxytech.yaml
  charts/haptic/libraries/ingress-annotations-compat.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/values.yaml
  docs/adr/0003-annotation-compat-scaffold-level-2-5.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

chore(chart): trim chart size to ease Helm release Secret cap
  charts/haptic/.helmignore
  charts/haptic/dashboards/haptic.json
  charts/haptic/libraries/gateway/tests/05-typed-access-smoke.yaml
  charts/haptic/libraries/gateway/tests/10-https-listener.yaml
  charts/haptic/libraries/gateway/tests/15-pod-port-allocator.yaml
  charts/haptic/libraries/gateway/tests/16-crtlist-per-listener.yaml
  charts/haptic/libraries/gateway/tests/17-per-gateway-services.yaml
  charts/haptic/libraries/gateway/tests/18-bind-per-gateway.yaml
  charts/haptic/libraries/gateway/tests/19-status-per-gateway-address.yaml
  charts/haptic/libraries/gateway/tests/21-routing-headers.yaml
  charts/haptic/libraries/gateway/tests/22-routing-precedence.yaml
  charts/haptic/libraries/gateway/tests/23-routing-grpc.yaml
  charts/haptic/libraries/gateway/tests/24-routing-tls.yaml
  charts/haptic/libraries/gateway/tests/30-listenerset.yaml
  charts/haptic/libraries/gateway/tests/40-filters.yaml
  charts/haptic/libraries/gateway/tests/50-binds.yaml
  charts/haptic/libraries/gateway/tests/60-status.yaml
  charts/haptic/libraries/gateway/tests/61-static-addresses.yaml
  charts/haptic/libraries/gateway/tests/62-infrastructure.yaml
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/ingress.yaml
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/templates/grafana-dashboard.yaml
  charts/haptic/values.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split spoa-hub.yaml into libraries/spoa-hub/ directory
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/spoa-hub.yaml
  charts/haptic/libraries/spoa-hub/10-features.yaml
  charts/haptic/libraries/spoa-hub/20-config-content.yaml
  charts/haptic/libraries/spoa-hub/30-frontend-filters.yaml
  charts/haptic/libraries/spoa-hub/_index.yaml
  charts/haptic/libraries/spoa-hub/tests/coraza.yaml
  charts/haptic/libraries/spoa-hub/tests/general.yaml
  charts/haptic/templates/_libraries.tpl
  charts/haptic/templates/_spoa-hub.tpl
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split haproxy-ingress.yaml into libraries/haproxy-ingress/ directory
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/haproxy-ingress.yaml
  charts/haptic/libraries/haproxy-ingress/10-path-maps.yaml
  charts/haptic/libraries/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/libraries/haproxy-ingress/30-frontend-filters.yaml
  charts/haptic/libraries/haproxy-ingress/40-features.yaml
  charts/haptic/libraries/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/libraries/haproxy-ingress/_index.yaml
  charts/haptic/libraries/haproxy-ingress/tests/annotations.yaml
  charts/haptic/libraries/haproxy-ingress/tests/auth.yaml
  charts/haptic/libraries/haproxy-ingress/tests/waf.yaml
  charts/haptic/templates/_libraries.tpl
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

refactor(chart): split nginx-ingress.yaml into libraries/nginx-ingress/ directory
  charts/haptic/CHANGELOG.md
  charts/haptic/libraries/nginx-ingress.yaml
  charts/haptic/libraries/nginx-ingress/10-backend-directives.yaml
  charts/haptic/libraries/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/libraries/nginx-ingress/30-features.yaml
  charts/haptic/libraries/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/libraries/nginx-ingress/_index.yaml
  charts/haptic/libraries/nginx-ingress/tests/annotations.yaml
  charts/haptic/libraries/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/libraries/nginx-ingress/tests/redirects-canary.yaml
  charts/haptic/templates/_libraries.tpl
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
