Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

build-ci:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

build-python-docs:
  stage: .pre
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  tags:
  - saas-linux-medium-amd64
  before_script:
  - mkdir -p ~/.docker
  ...

audit:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make audit

api-compatibility:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-small-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  allow_failure: false
  script:
  ...

chart-test:
  stage: lint
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  - make lint-chart-ci KUBE_VERSION="${KIND_NODE_VERSION#v}"
  artifacts:
    reports:
      junit: chart-test-results.xml
    expire_in: 1 week
    when: always

test:
  stage: test
  image: ${CI_IMAGE}
  tags:
  - saas-linux-large-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  ...

validate-helm-libraries:
  stage: test
  image: ${CI_IMAGE_VERSIONED}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  before_script:
  - haproxy -v
  script:
  - make build
  ...

compile:
  stage: build
  image: ${CI_IMAGE}
  tags:
  - saas-linux-2xlarge-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  script:
  ...

build-test-image:
  parallel:
    matrix:
    - HAPROXY_VERSION:
      - '3.0'
      - '3.1'
      - '3.2'
  stage: build
  image:
    name: moby/buildkit:rootless
    entrypoint:
    - ''
  tags:
  - saas-linux-medium-amd64
  needs:
  - compile
  variables:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
  before_script:
  - mkdir -p ~/.docker
  ...

test-integration:
  services:
  - name: docker:${DOCKER_VERSION}-dind
    alias: docker
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: '1'
    DOCKER_CERT_PATH: /certs/client
    DOCKER_HOST: tcp://docker:2376
    KEEP_CLUSTER: 'false'
  tags:
  - saas-linux-2xlarge-amd64
  retry:
    max: 2
  ...

coverage-combined:
  stage: integration
  image: ${CI_IMAGE}
  tags:
  - saas-linux-medium-amd64
  interruptible: true
  needs:
  - job: build-ci
    optional: true
  - job: test
    artifacts: true
  - job: 'test-integration: [3.0]'
    artifacts: true
  - job: 'test-integration: [3.1]'
    artifacts: true
  - job: 'test-integration: [3.2]'
  ...

perf(chart): gate satisfy=any from a frontend lane
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/tests/auth-spoe.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/18-satisfy.yaml
  charts/haptic/charts/nginx-ingress/40-auth-spoe.yaml
  charts/haptic/charts/nginx-ingress/tests/satisfy.yaml
  cmd/haptic/benchmark_incremental_test.go
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/operations/performance.md
  tests/e2e/ingress_haptic_satisfy_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor: remove redundant store adapter
  docs/site/docs/development/design/package-structure.md
  docs/site/docs/development/linting.md
  openspec/specs/storage-strategies/spec.md
  pkg/CLAUDE.md
  pkg/controller/helpers.go
  pkg/controller/iteration.go
  pkg/controller/rendercontext/store_wrapper.go
  pkg/controller/rendercontext/store_wrapper_context_test.go
  pkg/controller/renderer/incremental_ambient_resource_test.go
  pkg/controller/renderer/incremental_cold_inputs.go
  pkg/controller/renderer/incremental_fail_closed_test.go
  pkg/controller/renderer/service_context_test.go
  pkg/controller/store_provider_test.go
  pkg/k8s/store/revision_test.go
  pkg/stores/README.md
  pkg/stores/context.go
  pkg/stores/context_store_test.go
  pkg/stores/overlay.go
  pkg/stores/overlay_revision_test.go
  pkg/stores/provider.go
  pkg/stores/snapshot.go
  pkg/stores/snapshot_commit_fence.go
  pkg/stores/snapshot_commit_fence_test.go
  pkg/stores/snapshot_protocol.go
  pkg/stores/snapshot_protocol_test.go
  pkg/stores/snapshot_test.go
  pkg/stores/validation_context_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(discovery): log a steady fleet at Debug, not Info
  CHANGELOG.md
  pkg/controller/discovery/discovery_log_level_test.go
  pkg/controller/discovery/discovery_logic.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): throttle nginx limit-rate routes from a frontend lane
  CHANGELOG.md
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/reload-free.md
  tests/e2e/ingress_limit_rate_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

refactor(validator): centralize validation request responses
  pkg/controller/CLAUDE.md
  pkg/controller/validator/CLAUDE.md
  pkg/controller/validator/README.md
  pkg/controller/validator/base.go
  pkg/controller/validator/base_test.go
  pkg/controller/validator/basic.go
  pkg/controller/validator/jsonpath.go
  pkg/controller/validator/lifecycle_test.go
  pkg/controller/validator/sync.go
  pkg/controller/validator/template.go
  pkg/controller/validator/template_lifecycle_test.go
  pkg/controller/validator/validationtests.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test(metrics): wait on both fleet gauges before asserting converged
  pkg/controller/metrics/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf(chart): exclude cache paths with one prefix-map lookup
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/70-caching.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/reload-free.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(chart): convert byte sizes through one bounded helper
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/tests/annotations.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/24-rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/26-rewrite-affinity.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limiting.yaml
  charts/haptic/charts/haptic-annotations/tests/rewrite-affinity.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

perf(chart): route canaries and mirrors from host-keyed maps
  CHANGELOG.md
  charts/haptic/charts/haptic-annotations/32-canary-mirror.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/canary-mirror.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/tests/annotations.yaml
  charts/haptic/charts/nginx-ingress/tests/redirects-canary.yaml
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/reload-free.md
  pkg/controller/renderer/incremental_nginx_frontend_publications_chart_test.go
  tests/e2e/ingress_haptic_canary_reloadfree_test.go
  tests/e2e/ingress_haptic_canary_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(events): merge index updates per kind while the bus buffers
  CHANGELOG.md
  charts/haptic/templates/haproxy-deployment.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  pkg/controller/events/prestart_coalescible_test.go
  pkg/controller/events/resource.go
  pkg/events/bus.go
  pkg/events/bus_prestart_coalesce_test.go
  pkg/events/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(chart): degrade a route with an unknown Service port name instead of aborting the render
  CHANGELOG.md
  charts/haptic/charts/haproxy-ingress/50-auth-spoe.yaml
  charts/haptic/charts/haptic-annotations/50-auth-spoe.yaml
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/kubernetes-backends/library.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(test): load util-webhook-reject-or-warn in chart-subset render fixtures
  pkg/controller/renderer/incremental_ingress_backend_chart_test.go
  pkg/controller/renderer/incremental_kubernetes_backend_publications_chart_test.go
  pkg/controller/renderer/incremental_ssl_passthrough_chart_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: skip unchanged output-CRD republishes and identical SSA apply passes
  CHANGELOG.md
  pkg/controller/reconciliation.go
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/reapply_skip_test.go
  pkg/k8s/configpublisher/publish_skip_test.go
  pkg/k8s/configpublisher/publisher.go
  pkg/k8s/configpublisher/types.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: skip identical render-gate verdict writes
  CHANGELOG.md
  pkg/k8s/configpublisher/gate_verdict.go
  pkg/k8s/configpublisher/gate_verdict_skip_test.go
  pkg/k8s/configpublisher/publisher.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: preserve retry budgets and verify backend deletion
  CHANGELOG.md
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/tests/91-retry.yaml
  docs/site/docs/development/agent.md
  pkg/dataplane/agent/cli/deferred.go
  pkg/dataplane/agent/cli/deferred_test.go
  pkg/dataplane/agent/haproxytest/proxies.go
  tests/agent/runtime_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

test: pin benchmark Kubernetes and inspect active Kind nodes
  Makefile
  docs/site/docs/operations/performance.md
  scripts/bench-gateway-api.sh
  scripts/tests/test_bench_gateway_api.sh
  tests/e2e/CLAUDE.md
  tests/e2e/main_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: encode canonical plan snapshots without a second buffer
  CHANGELOG.md
  pkg/dataplane/planblob/planblob.go
  pkg/dataplane/renderplan/canonical_test.go
  pkg/dataplane/renderplan/snapshot.go
  pkg/dataplane/renderplan/snapshot_json_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: let follower renders take the exact-cycle replay
  CHANGELOG.md
  pkg/controller/currentfiles.go
  pkg/controller/currentfiles_published_source_test.go
  pkg/controller/deployer/pending_reload_log_test.go
  pkg/controller/deployer/scheduler.go
  pkg/controller/deployer/scheduler_handlers.go
  pkg/controller/reconciliation.go
  pkg/controller/renderer/assembly_reuse_log_test.go
  pkg/controller/renderer/service.go
  pkg/controller/warmer/warmer.go
  pkg/controller/warmer/warmer_test.go
  pkg/dataplane/agent/server/drain_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: retry orphan deletion after guarded lineage refresh
  CHANGELOG.md
  pkg/controller/resourceapplier/component.go
  pkg/controller/resourceapplier/component_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix concurrent agent map read-back
  CHANGELOG.md
  pkg/dataplane/agent/server/readback_consistency_test.go
  pkg/dataplane/agent/server/reload.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

perf: cut render-path allocation churn
  pkg/controller/configpublisher/component.go
  pkg/controller/configpublisher/flush_pending_publish_test.go
  pkg/controller/configpublisher/handle_config_validated_test.go
  pkg/controller/configpublisher/lifecycle_test.go
  pkg/controller/configpublisher/output_snapshot_test.go
  pkg/controller/configpublisher/process_publish_work_throttle_test.go
  pkg/controller/configpublisher/publish_worker_priority_test.go
  pkg/controller/configpublisher/publish_worker_spin_test.go
  pkg/controller/configpublisher/work_items.go
  pkg/controller/configpublisher/workers.go
  pkg/controller/configpublisher/workers_helpers_test.go
  pkg/controller/renderer/incremental_publication_snapshot.go
  pkg/controller/renderer/incremental_publication_snapshot_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Defer unused deployment plans and fix Vector request metrics
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/charts/vector/library.yaml
  docs/site/docs/haproxy-deployment.md
  go.mod
  pkg/controller/deployer/scheduler_logic.go
  pkg/lifecycle/leader_async_test.go
  scripts/test-vector-metrics.sh
  scripts/tests/vector_metrics.py
  tests/conformance/gateway_conformance_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: release retired render inputs and report template warnings
  CHANGELOG.md
  Makefile
  docs/site/docs/operations/monitoring.md
  pkg/controller/metrics/README.md
  pkg/controller/metrics/component.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/render_warnings_test.go
  pkg/controller/renderer/exact_cycle_service_test.go
  pkg/controller/renderer/incremental_cold_source_frames.go
  pkg/controller/renderer/incremental_cold_source_frames_test.go
  scripts/check-test-inventory.sh
  scripts/tests/test_check_test_inventory.sh
  tests/e2e/e2ecluster/tcp.go
  tests/e2e/e2ecluster/tcp_test.go
  tests/e2e/gateway_frontend_mtls_test.go
  tests/e2e/httpclient/client.go
  tests/e2e/httpclient/request_test.go
  tests/e2e/ingress_haptic_hmac_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Release completed render sessions retained by pooled template callbacks
  CHANGELOG.md
  go.mod
  go.sum
  pkg/controller/renderer/incremental_session_retention_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Read published auxiliary files marked empty
  CHANGELOG.md
  pkg/controller/publishedauxfiles.go
  pkg/controller/publishedauxfiles_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Reduce watched-resource memory through immutable ownership
  CHANGELOG.md
  docs/adr/0012-on-demand-projection-and-access-gated-reconcile.md
  pkg/k8s/store/CLAUDE.md
  pkg/k8s/store/README.md
  pkg/k8s/store/immutable_resource.go
  pkg/k8s/store/immutable_resource_test.go
  pkg/k8s/store/memory.go
  pkg/k8s/store/memory_snapshot.go
  pkg/k8s/typegen/immutable_json.go
  pkg/k8s/typegen/immutable_json_test.go
  pkg/k8s/watcher/convert_to_unstructured_typed_runtime_test.go
  pkg/k8s/watcher/immutable_resources.go
  pkg/k8s/watcher/immutable_resources_test.go
  pkg/k8s/watcher/projection.go
  pkg/k8s/watcher/resource.go
  pkg/k8s/watcher/resource_ownership_benchmark_test.go
  pkg/k8s/watcher/resource_ownership_test.go
  pkg/k8s/watcher/watcher.go
  pkg/k8s/watcher/watcher_handlers.go
  pkg/k8s/watcher/watcher_test.go
  pkg/k8s/watcher/watcher_transform_memory_test.go
  tests/e2e/haproxy_pod_deletion_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: document EndpointSlice annotation filtering
  docs/site/docs/troubleshooting.md
  docs/site/docs/watching-resources.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
  pkg/dataplane/agent/server/drain_socket_test.go
  pkg/k8s/watcher/README.md
  pkg/k8s/watcher/filtered_updates_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Reduce CRD change informer memory
  CHANGELOG.md
  pkg/controller/crdwatch/component.go
  pkg/controller/crdwatch/projection.go
  pkg/controller/crdwatch/projection_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Prepare 0.2 release notes and verify upgrade and stress readiness
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  charts/haptic/Chart.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/tests/26-session-persistence.yaml
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/index.md
  docs/site/docs/upgrading-to-0.2.md
  docs/site/mkdocs.yml
  scripts/check-controller-output.sh
  scripts/ci-report-failure.sh
  scripts/lib/upgrade-traffic.sh
  scripts/test-chart-upgrade.sh
  scripts/testdata/chart-upgrade/routes.yaml
  scripts/testdata/chart-upgrade/values-0.1.0.yaml
  scripts/testdata/chart-upgrade/values.yaml
  scripts/tests/test_check_controller_output.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Consolidate 0.2 release notes and document its capabilities
  CHANGELOG.md
  charts/haptic/Chart.yaml
  docs/landing/docs/stylesheets/extra.css
  docs/landing/overrides/home.html
  docs/site/docs/crd-reference.md
  docs/site/docs/index.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/template-reference.md
  docs/site/docs/upgrading-to-0.2.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

docs: clarify product copy and user guidance
  docs/landing/mkdocs.yml
  docs/landing/overrides/404.html
  docs/landing/overrides/home.html
  docs/site/docs/annotations.md
  docs/site/docs/crd-reference.md
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/gateway-class.md
  docs/site/docs/getting-started.md
  docs/site/docs/haproxy-deployment.md
  docs/site/docs/index.md
  docs/site/docs/ingress-class.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/gateway.md
  docs/site/docs/libraries/haproxy-ingress.md
  docs/site/docs/libraries/haproxytech.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/ingress-annotations-compat.md
  docs/site/docs/libraries/ingress.md
  docs/site/docs/libraries/nginx-ingress.md
  docs/site/docs/libraries/reload-free.md
  docs/site/docs/libraries/ssl.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/debugging.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/monitoring.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/pluggable-validators.md
  docs/site/docs/operations/security.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/spoa-hub.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/reference.md
  docs/site/docs/ssl-certificates.md
  docs/site/docs/template-libraries.md
  docs/site/docs/template-reference.md
  docs/site/docs/templating.md
  docs/site/docs/validation-tests.md
  docs/site/docs/watching-resources.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Publish a portable HAPTIC customization skill
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/agents/agent-skills.md
  docs/landing/mkdocs.yml
  docs/landing/overrides/home.html
  docs/site/docs/agent-skill.md
  docs/site/docs/index.md
  docs/site/docs/templating.md
  docs/site/hooks/agent_skills.py
  docs/site/hooks/llms.py
  docs/site/mkdocs.yml
  docs/site/overrides/main.html
  docs/site/tests/test_agent_skills.py
  skills/haptic/LICENSE
  skills/haptic/SKILL.md
  skills/haptic/assets/header-values.yaml
  skills/haptic/assets/maintenance-config.yaml
  skills/haptic/assets/schemas/maintenancepolicy.yaml
  skills/haptic/references/customization.md
  skills/haptic/references/resources.md
  skills/haptic/references/validation.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Improve documentation flow and make response compression opt-in
  CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/charts/haptic-annotations/72-compression.yaml
  charts/haptic/charts/haptic-annotations/90-migration-coverage.yaml
  charts/haptic/charts/haptic-annotations/_index.yaml
  charts/haptic/charts/haptic-annotations/tests/compression.yaml
  charts/haptic/tests/library_loader_test.yaml
  charts/haptic/tests/prometheus-exporter_values_test.yaml
  charts/haptic/values.yaml
  cmd/playground/web/index.html
  cmd/playground/web/presets/extend.snippet.yaml
  docs/landing/overrides/home.html
  docs/shared/playground-embed.js
  docs/site/docs/annotations.md
  docs/site/docs/index.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/libraries/reload-free.md
  docs/site/docs/operations/performance.md
  docs/site/docs/operations/response-cache.md
  docs/site/docs/operations/waf-policies.md
  docs/site/docs/reference.md
  docs/site/docs/template-libraries.md
  docs/site/docs/upgrading-to-0.2.md
  docs/site/mkdocs.yml
  scripts/test-templates.sh
  tests/e2e/ingress_haptic_compression_test.go
  tests/e2e/ingress_reloadfree_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module sigs.k8s.io/controller-runtime to v0.25.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
