Repository HAProxy-Template-IC/haproxy-template-ingress-controller: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults, pages-preview, trigger-pages

Path conditions:
  build-ci: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  build-python-docs: any of: .gitlab/ci/images/**, .gitlab-ci.yml
  audit: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  api-compatibility: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  chart-test: any of: charts/**, .gitlab-ci.yml
  test: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  validate-helm-libraries: any of: **/*.go, go.mod, go.sum, charts/**, .gitlab-ci.yml
  compile: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  build-test-image: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-integration: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  coverage-combined: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-acceptance: any of: **/*.go, go.mod, go.sum, .tool-versions, Makefile, Dockerfile, scripts/**, .gitlab-ci.yml, .golangci.yml, **/*.yaml, **/*.yml, **/*.json, **/*.md, .markdownlint-cli2.jsonc
  test-routes: any of: **/*.go, go.mod, go.sum, charts/**, scripts/**, .gitlab-ci.yml
  test-helm-defaults: any of: charts/**, .gitlab-ci.yml
  pages-preview: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml
  trigger-pages: any of: docs/**, charts/**/docs/**, charts/**/mkdocs.yml

Fix upgrade validation replay and lifecycle traffic checks
  CHANGELOG.md
  Makefile
  pkg/controller/configchange/README.md
  pkg/controller/configchange/bootstrap_replay_test.go
  pkg/controller/configchange/handler.go
  scripts/lib/upgrade-traffic.sh
  scripts/test-chart-upgrade.sh
  scripts/test-gitops-lifecycle.py
  scripts/tests/test_upgrade_traffic.py
  tests/integration/env.go
  tests/integration/env_test.go
  tests/integration/haproxy.go
  tests/integration/kind_cluster.go
  tests/integration/portforward_test.go
  tests/integration/session.go
  tests/integration/sync_auxiliary_test.go
  tests/integration/sync_backends_test.go
  tests/integration/sync_common_test.go
  tests/integration/sync_frontends_test.go
  tests/integration/sync_global_defaults_test.go
  tests/integration/sync_idempotency_test.go
  tests/integration/sync_observability_test.go
  tests/integration/sync_sections_test.go
  tests/integration/sync_servers_test.go
  tests/integration/testdata/http-checks/backend-with-http-check.cfg
  tests/integration/testdata/mailers/COPYING
  tests/integration/testdata/mailers/LICENSE
  tests/integration/testdata/mailers/README.md
  tests/integration/testdata/mailers/mailers-legacy.lua
  tests/integration/testdata/mailers/mailers-with-alerts-lua.cfg
  tests/integration/testdata/mailers/mailers.lua
  tests/integration/testdata/peers/peers-with-cluster.cfg
  tests/integration/testdata/tcp-checks/backend-with-tcp-check.cfg
  tests/integration/testutil.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: keep chart prose out of runtime validation matrices [skip ci]
  .gitlab-ci.yml
  Makefile
  scripts/tests/test_ci_chart_rules.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: explain CI selection and repair conformance evidence link
  docs/site/docs/development/linting.md
  tests/conformance/README.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: tidy go.sum after the controller-runtime bump
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: fail lint when go.mod or go.sum is untidy
  Makefile
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: preserve shared status and prepare release docs [skip ci]
  CHANGELOG.md
  charts/haptic/Chart.yaml
  charts/haptic/charts/gateway-policies/46-policy-status.yaml
  charts/haptic/charts/gateway/21-route-helpers.yaml
  charts/haptic/charts/gateway/71-status-route.yaml
  charts/haptic/charts/gateway/73-status-policy.yaml
  charts/haptic/charts/gateway/tests/60-status.yaml
  charts/haptic/charts/gateway/tests/63-status-parent-ports.yaml
  docs/site/docs/operations/agent-certificates.md
  docs/site/docs/operations/diagnostics.md
  docs/site/docs/operations/gitops.md
  docs/site/docs/template-reference.md
  docs/site/docs/troubleshooting.md
  pkg/controller/renderer/incremental_result.go
  pkg/controller/renderer/incremental_status_patch_projection.go
  pkg/controller/renderer/incremental_status_patch_projection_test.go
  pkg/controller/renderer/incremental_vector_execution.go
  pkg/controller/statusapplier/CLAUDE.md
  pkg/controller/statusapplier/component.go
  pkg/controller/statusapplier/lists.go
  pkg/controller/statusapplier/lists_test.go
  pkg/templating/filters_status.go
  pkg/templating/incremental_component_context_test.go
  pkg/templating/incremental_effects.go
  pkg/templating/incremental_effects_test.go
  pkg/templating/incremental_native_frames.go
  pkg/templating/internal/statuspatchprojection/plan.go
  pkg/templating/internal/statuspatchprojection/plan_delta.go
  pkg/templating/internal/statuspatchprojection/projection.go
  pkg/templating/status_patch.go
  pkg/templating/status_patch_delta.go
  pkg/templating/status_patch_lists.go
  pkg/templating/status_patch_lists_test.go
  pkg/templating/status_patch_projection.go
  pkg/templating/status_patch_projection_plan.go
  pkg/templating/status_patch_snapshot.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
  tests/schemas-ga-v1.4/expected-stripped.txt
  tests/schemas-ga-v1.5/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Fix admission freshness and drain quiet periods [skip ci]
  CHANGELOG.md
  pkg/controller/helpers.go
  pkg/controller/iteration.go
  pkg/controller/proposalvalidator/CLAUDE.md
  pkg/controller/proposalvalidator/freshness.go
  pkg/controller/proposalvalidator/freshness_test.go
  pkg/controller/proposalvalidator/service.go
  pkg/controller/reconciliation.go
  pkg/controller/resourcewatcher/fresh_stores.go
  pkg/controller/webhook.go
  pkg/dataplane/agent/server/drain.go
  pkg/dataplane/agent/server/drain_test.go
  pkg/k8s/watcher/fresh_store.go
  pkg/k8s/watcher/fresh_store_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

Document admission validation during watch delivery delays
  docs/site/docs/development/design/architecture-overview.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(deps): update non-major dependencies
  .gitlab-ci.yml
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  go.mod
  go.sum
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

test: wait for baseline admission before chart upgrades [skip ci]
  .gitlab-ci.yml
  Makefile
  scripts/lib/admission.sh
  scripts/test-chart-upgrade.sh
  scripts/tests/test_admission_readiness.py
  scripts/tests/test_ci_chart_rules.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: clarify installation sizing and recovery steps [skip ci]
  docs/site/docs/getting-started.md
  docs/site/docs/operations/performance.md
  docs/site/docs/troubleshooting.md
  docs/site/docs/upgrade-notes.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix(playground): make downloaded try-out scripts runnable [skip ci]
  CHANGELOG.md
  Makefile
  cmd/playground/web/crd.config.yaml
  cmd/playground/web/starter.config.yaml
  cmd/playground/web/tryout-template.sh
  cmd/playground/web/tryout.test.mjs
  scripts/tests/test_playground_tryout.mjs
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

release: HAPTIC 0.2.0
  CHANGELOG.md
  README.md
  VERSION
  charts/haptic/Chart.yaml
  charts/haptic/README.md
  charts/haptic/templates/NOTES.txt
  charts/haptic/values.yaml
  docs/landing/overrides/home.html
  docs/site/docs/deploying-with-helm.md
  docs/site/docs/getting-started.md
  docs/site/docs/index.md
  docs/site/docs/migrating.md
  docs/site/docs/operations/gateway-policies.md
  docs/site/docs/operations/governance.md
  docs/site/docs/operations/haproxy-versions.md
  docs/site/docs/operations/high-availability.md
  docs/site/docs/operations/spiffe-mtls.md
  docs/site/docs/operations/validate-before-deploy.md
  docs/site/docs/operations/webhook-certificates.md
  docs/site/docs/templating.md
  docs/site/docs/validation-tests.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Fix playground starter and publish audited UI repairs [skip ci]
  .gitlab-ci.yml
  .gitlab/ci/build-pins.yml
  CHANGELOG.md
  Makefile
  cmd/playground/web/index.html
  docs/agents/playground-hosting.md
  scripts/build-playground.sh
  scripts/tests/test_playground_tryout.mjs
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(docs): retain stable versions and retire prereleases [skip ci]
  .gitlab-ci.yml
  .gitlab/ci/build-pins.yml
  CHANGELOG.md
  docs/agents/playground-hosting.md
  docs/site/docs/development/releasing.md
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

Fix admission and connection draining during controller and HAProxy replacement [skip ci]
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/tests/deployment_test.yaml
  charts/haptic/tests/haproxy-configmap_test.yaml
  charts/haptic/tests/haproxy-deployment_test.yaml
  charts/haptic/values.yaml
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
  pkg/controller/controller.go
  pkg/controller/infrastructure.go
  pkg/controller/persistent_servers_test.go
  pkg/controller/shutdown.go
  pkg/controller/shutdown_test.go
  pkg/controller/webhook.go
  pkg/controller/webhook/CLAUDE.md
  pkg/webhook/admission.go
  pkg/webhook/drain.go
  pkg/webhook/drain_test.go
  pkg/webhook/server.go
  scripts/test-helm-defaults.sh
  tests/e2e/controller_shutdown_test.go
  tests/e2e/haproxy_reload_drain_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update kubernetes packages to v0.37.1
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update non-major dependencies
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  charts/haptic/values.yaml
  docs/site/docs/reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

Fix standby event queues and interrupted pod-status cleanup [skip ci]
  CHANGELOG.md
  pkg/controller/deployer/component.go
  pkg/controller/deployer/handle_deployment_scheduled_coalesce_test.go
  pkg/controller/deployer/handle_event_dispatch_test.go
  pkg/controller/deployer/standby_subscription_test.go
  pkg/k8s/configpublisher/pod_cleanup.go
  pkg/k8s/configpublisher/pod_cleanup_parallel_test.go
  pkg/k8s/configpublisher/pod_cleanup_progress_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

docs: refine and center HAPTIC logo assets
  CHANGELOG.md
  README.md
  docs/landing/docs/assets/favicon.svg
  docs/landing/mkdocs.yml
  docs/site/docs/assets/favicon.svg
  docs/site/docs/assets/logo-dark.svg
  docs/site/docs/assets/logo-icon.png
  docs/site/docs/assets/logo-icon.svg
  docs/site/docs/assets/logo-transparent.svg
  docs/site/mkdocs.yml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

fix: clean up rollout diagnostics and cache timeouts [skip ci]
  .golangci.yml
  CHANGELOG.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/gateway/30-backends.yaml
  charts/haptic/charts/gateway/tests/cache-timeouts.yaml
  charts/haptic/charts/haproxy-ingress/20-backend-directives.yaml
  charts/haptic/charts/haproxy-ingress/tests/cache-timeouts.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/20-backend-directives.yaml
  charts/haptic/charts/haptic-annotations/tests/cache-timeouts.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/http-policies/70-caching.yaml
  charts/haptic/charts/http-policies/80-rate-limit-shared.yaml
  charts/haptic/charts/ingress/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/tests/cache-timeouts.yaml
  charts/haptic/charts/ssl/library.yaml
  charts/haptic/values.yaml
  cmd/haptic/benchmark_incremental_test.go
  cmd/haptic/run.go
  docs/site/docs/operations/performance.md
  docs/site/docs/reference.md
  pkg/controller/renderer/incremental_gateway_backend_chart_test.go
  pkg/controller/renderer/incremental_ingress_backend_chart_test.go
  pkg/controller/typebootstrap/bootstrap.go
  pkg/controller/validator/lifecycle_test.go
  pkg/controller/validator/template.go
  pkg/controller/validator/validationtests.go
  pkg/core/logging/cancellation.go
  pkg/core/logging/cancellation_test.go
  tests/e2e/cache_timeout_reloadfree_test.go
  tests/schemas-ga-none/expected-stripped.txt
  tests/schemas-ga-v1.1/expected-stripped.txt
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix: report expected leadership shutdown at info [skip ci]
  CHANGELOG.md
  pkg/controller/controller.go
  pkg/controller/effectiveconfig.go
  pkg/controller/helpers.go
  pkg/controller/helpers_test.go
  pkg/controller/iteration.go
  pkg/controller/iteration_test.go
  pkg/controller/leader.go
  pkg/controller/leader_test.go
  pkg/controller/persistent_servers_test.go
  pkg/controller/publishedauxfiles.go
  pkg/controller/watchers.go
  pkg/controller/webhook.go
  pkg/k8s/leaderelection/elector.go
  pkg/k8s/leaderelection/elector_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: run the chart upgrade test as one job per baseline
  .gitlab-ci.yml
  docs/site/docs/development/releasing.md
  scripts/check-chart-upgrade-baselines.sh
  scripts/lib/upgrade-traffic.sh
  scripts/test-chart-upgrade.sh
  scripts/tests/test_ci_chart_rules.py
  scripts/tests/test_upgrade_traffic.py
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(cache): lock Varnish shared memory without root startup [skip ci]
  .gitlab-ci.yml
  .goreleaser.yml
  CHANGELOG.md
  Dockerfile.varnish
  Makefile
  charts/haptic/Chart.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/helm-helpers/templates/_cache.tpl
  charts/haptic/charts/http-policies/70-caching.yaml
  charts/haptic/charts/http-policies/_index.yaml
  charts/haptic/templates/haproxytemplateconfig.yaml
  charts/haptic/tests/cache_test.yaml
  charts/haptic/values.yaml
  cmd/haptic/preflight.go
  cmd/haptic/preflight_test.go
  docs/site/docs/operations/response-cache.md
  docs/site/docs/reference.md
  docs/site/docs/upgrade-notes.md
  renovate.json
  scripts/chart-varnish-image.sh
  scripts/release.sh
  scripts/tests/test_chart_varnish_image.sh
  scripts/tests/test_ci_chart_rules.py
  scripts/tests/test_release.py
  tests/e2e/CLAUDE.md
  tests/e2e/ingress_haptic_cache_memory_test.go
  tests/e2e/main_test.go
  tests/kindutil/chart_images.go
  tests/kindutil/chart_images_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

ci: shard e2e tests by measured cost
  .gitlab-ci.yml
  CHANGELOG.md
  Makefile
  scripts/go-test-weights.py
  scripts/shard-go-tests.py
  scripts/tests/test_go_test_weights.py
  scripts/tests/test_shard_go_tests.py
  tests/CLAUDE.md
  tests/e2e/shard-weights.json
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix: release the leader lease when shutdown interrupts a hand-over
  CHANGELOG.md
  docs/site/docs/development/design/leader-election.md
  docs/site/docs/development/design/sequence-diagrams.md
  pkg/controller/LEADER_ONLY_COMPONENTS.md
  pkg/controller/controller.go
  pkg/controller/iteration.go
  pkg/controller/iteration_test.go
  pkg/controller/leaderelection/component.go
  pkg/k8s/leaderelection/elector.go
  pkg/k8s/leaderelection/elector_test.go
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

feat: render validationTest assertions without the deployment's extraContext
  CHANGELOG.md
  Makefile
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/governance/library.yaml
  charts/haptic/charts/haproxy-ingress/tests/95-injection-guards.yaml
  charts/haptic/charts/haproxy-ingress/tests/auth.yaml
  charts/haptic/charts/haproxytech/library.yaml
  charts/haptic/charts/haptic-annotations/tests/caching.yaml
  charts/haptic/charts/haptic-annotations/tests/rate-limit-shared.yaml
  charts/haptic/charts/haptic-annotations/tests/waf-policies.yaml
  charts/haptic/charts/spoa-hub/tests/coraza.yaml
  charts/haptic/charts/ssl/library.yaml
  charts/haptic/charts/vector/library.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplateconfigs.yaml
  charts/haptic/crds/haproxy-haptic.org_haproxytemplatelibraries.yaml
  charts/haptic/files/default-values.json
  charts/haptic/templates/_extracontext.tpl
  charts/haptic/templates/haproxytemplateconfig.yaml
  cmd/haptic/benchmark.go
  cmd/haptic/benchmark_render.go
  cmd/haptic/benchmark_render_test.go
  docs/site/docs/crd-reference.md
  docs/site/docs/validation-reference.md
  pkg/apis/haproxytemplate/v1alpha1/types_config.go
  pkg/apis/haproxytemplate/v1alpha1/zz_generated.deepcopy.go
  pkg/controller/conversion/converter.go
  pkg/controller/conversion/merge.go
  pkg/controller/conversion/merge_test.go
  pkg/controller/testrunner/CLAUDE.md
  pkg/controller/testrunner/rendering.go
  pkg/controller/testrunner/rendering_test.go
  pkg/controller/testrunner/runner.go
  pkg/controller/testrunner/runner_test.go
  pkg/controller/validator/validationtests.go
  pkg/controller/validator/validationtests_test.go
  pkg/core/config/types.go
  scripts/test-templates.sh
  tests/schemas/haproxy-haptic.org_haproxytemplateconfigs.yaml
  tests/schemas/haproxy-haptic.org_haproxytemplatelibraries.yaml
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update non-major dependencies
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

fix(deps): update module sigs.k8s.io/gateway-api-conformance-images to v0.2.0
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

ci: replace vulnerable braces in the CI image's markdownlint tree with a stub
  .gitlab-ci.yml
  .gitlab/ci/image-build-inputs.txt
  .gitlab/ci/images/ci/Dockerfile
  .gitlab/ci/images/ci/package-lock.json
  .gitlab/ci/images/ci/package.json
  .gitlab/ci/images/ci/shims/braces/index.js
  .gitlab/ci/images/ci/shims/braces/index.test.js
  .gitlab/ci/images/ci/shims/braces/package.json
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

fix(deps): update linting tools to v2.14.0
  .golangci.yml
  Makefile
  go.mod
  go.sum
Due: audit, api-compatibility, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes

chore(deps): update haproxy image
  .gitlab/ci/build-pins.yml
  charts/haptic/files/default-values.json
  charts/haptic/values.yaml
  scripts/dev-env-assets/haproxy-demo-backend.yaml
  scripts/dev-env-assets/haproxy-production.yaml
  scripts/dev-env-assets/haproxy-test-backend.yaml
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

feat(nginx-ingress): classify every upstream annotation and warn on unknown ones
  CHANGELOG.md
  charts/CLAUDE.md
  charts/haptic/charts/base/library.yaml
  charts/haptic/charts/haptic-annotations/tests/unknown-annotations.yaml
  charts/haptic/charts/helm-helpers/templates/_libraries.tpl
  charts/haptic/charts/ingress-annotations-compat/library.yaml
  charts/haptic/charts/nginx-ingress/10-backend-directives.yaml
  charts/haptic/charts/nginx-ingress/20-frontend-filters.yaml
  charts/haptic/charts/nginx-ingress/90-migration-coverage.yaml
  charts/haptic/charts/nginx-ingress/_index.yaml
  charts/haptic/charts/nginx-ingress/tests/auth-mtls.yaml
  charts/haptic/charts/nginx-ingress/tests/buffers-limits-affinity.yaml
  charts/haptic/charts/nginx-ingress/tests/unknown-annotations.yaml
  docs/site/docs/annotation-compatibility.md
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/nginx-ingress.md
Due: audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: map ingress-nginx ConfigMap keys and tcp/udp-services to HAPTIC
  docs/site/docs/migrating.md
  docs/vale/styles/config/vocabularies/Haptic/accept.txt
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance

ci: compare nightly-scale against a same-CPU rolling median baseline
  .gitlab-ci.yml
  Makefile
  scripts/scale-trend.py
  scripts/tests/test_scale_trend.py
  tests/e2e/scale_test.go
Due: build-ci, build-python-docs, audit, api-compatibility, chart-test, test, validate-helm-libraries, compile, build-test-image, test-integration, coverage-combined, test-acceptance, test-routes, test-helm-defaults

docs: render pipes in table code spans without a literal backslash
  docs/site/docs/libraries/base.md
  docs/site/docs/libraries/haptic-annotations.md
  docs/site/docs/template-reference.md
Due: audit, api-compatibility, test, compile, build-test-image, test-integration, coverage-combined, test-acceptance
